
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="favicon.ico">
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="descripton" content="RageFrame 一个基于YII2高级框架的快速开发应用引擎">
  <!-- Meta Keyword -->
  <meta name="keywords" content="RageFrame,yii,yii2,yii2框架,cms,cmf,开源,基础框架,php,rageframe,rageframe2,wechat,api,restful api">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>RageFrame</title>
  <!--
  CSS
  ============================================= -->
  <link rel="stylesheet" href="http://www.rageframe.com/css/linearicons.css">
  <link rel="stylesheet" href="http://www.rageframe.com/css/owl.carousel.css">
  <link rel="stylesheet" href="http://www.rageframe.com/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://www.rageframe.com/css/animate.css">
  <link rel="stylesheet" href="http://www.rageframe.com/css/bootstrap.css">
  <link rel="stylesheet" href="http://www.rageframe.com/css/main.css">
  <style>
    .single-product {
      min-height: 355.5px;
    }
  </style>
</head>
<body>
<div id="top"></div>
<!-- Start Header Area -->
<header class="default-header">
  <div class="sticky-header">
    <div class="container">
      <div class="header-content d-flex justify-content-between align-items-center">
        <div class="logo">
          <a href="http://www.rageframe.com#top" class="smooth"><img  src="http://www.rageframe.com/img/logo.png" alt=""></a>
        </div>
        <div class="right-bar d-flex align-items-center">
          <nav class="d-flex align-items-center">
            <ul class="main-menu">
              <li><a href="http://www.rageframe.com#top">首页</a></li>
              <li><a href="http://www.rageframe.com#feature">框架特色</a></li>
              <li><a href="http://www.rageframe.com#snapshoot">功能快照</a></li>
              <li><a href="http://www.rageframe.com#team">开发人员</a></li>
              <li><a href="http://www.rageframe.com#reward">打赏一下</a></li>
            </ul>
            <a href="http://www.rageframe.com#" class="mobile-btn"><span class="lnr lnr-menu"></span></a>
          </nav>
          <div class="header-social d-flex align-items-center">
            <a href="http://www.rageframe.comhttp://demo2.rageframe.com/backend/"  target="_blank">后台演示(demo|123456)</a>
            <a href="http://www.rageframe.comhttps://jq.qq.com/?_wv=1027&k=5yvRLd7" target="_blank">加入开发群</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="banner-content text-center">
          <p class="text-uppercase text-white">为二次开发而生，让开发变得更简单</p>
          <h1 class="text-uppercase text-white">一个基于Yii2高级框架的快速开发应用引擎</h1>
          <a href="http://www.rageframe.comhttps://github.com/jianyan74/rageframe2/blob/master/docs/guide-zh-CN/start-installation.md" class="primary-btn banner-btn" target="_blank">立即安装 2.x</a>
          <a href="http://www.rageframe.comhttps://github.com/jianyan74/rageframe2/blob/master/docs/guide-zh-CN/README.md" class="primary-btn banner-btn" target="_blank">在线文档</a>
          <a href="http://www.rageframe.comhttps://github.com/jianyan74/rageframe2/blob/master/docs/guide-zh-CN/start-update-log.md" class="primary-btn banner-btn" target="_blank">更新日志</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section class="section-full gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <p class="text-uppercase">前言</p>
          <h3>RageFrame项目创建于2016年4月16日，一个基于Yii2高级框架的快速开发引擎，目前正在成长中，目的是为了集成更多的基础功能，不在为相同的基础功能重复制造轮子，开箱即用，让开发变得更加简单。2.0版本在1.0的版本上面进行了重构，更好的面向开发者进行二次开发</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->
<!-- Start Product Area -->
<section id="feature" class="title-bg section-full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="product-area-title text-center">
          <p class="text-white text-uppercase">为什么选择RageFrame</p>
          <h2 class="text-white h1">框架特色</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-star"></span>
          </div>
          <div class="desc">
            <h4>权限管理</h4>
            <p>基于完善的RBAC权限控制管理、无限父子级权限分组、可自由分配子级权限</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-magic-wand"></span>
          </div>
          <div class="desc">
            <h4>丰富的表单组件</h4>
            <p>时间、时间日期、日期范围选择、颜色选择器、省市区三级联动、单图上传、多图上传、单文件上传、多文件上传、百度编辑器、图表、多文本编辑框,让你方便快捷</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-sun"></span>
          </div>
          <div class="desc">
            <h4>插件模块</h4>
            <p>安装和卸载不会对原来的系统产生影响,强大的功能完全满足金主爸爸的临时需求,且支持用户多端访问(后台、微信、Api、前台)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-layers"></span>
          </div>
          <div class="desc">
            <h4>RESTful API</h4>
            <p>支持前后端分离接口开发和app接口开发，可直接上手开发业务</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-star"></span>
          </div>
          <div class="desc">
            <h4>集成EasyWechat</h4>
            <p>对接微信公众号且支持小程序，开箱即用，预置了绝大部分功能，大幅度的提升了微信开发效率</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-magic-wand"></span>
          </div>
          <div class="desc">
            <h4>完善的文档</h4>
            <p>丰富完善的文档，让你二次开发不在困扰，点关注不迷路</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-sun"></span>
          </div>
          <div class="desc">
            <h4>多入口模式</h4>
            <p>多入口分为 backend(后台)、frontend(PC前端)， wechat(微信)，api(其他或app接口对接)， 不同的业务,不同的设备,进入不同的入口</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-product">
          <div class="icon">
            <span class="lnr lnr-layers"></span>
          </div>
          <div class="desc">
            <h4>其他</h4>
            <p>集成第三方登录(QQ、微信、微博、GitHub等等)，第三方支付(微信支付、支付宝支付等等)，小程序等等</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product Area -->
<!-- Start Progress Bar Area -->
<div class="container pt-150">
  <div class="row">
    <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
      <div class="list text-center">
        <div class="list-item">
          <div class="progressBar progressBar--animateNone" data-progress="90">
            <svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
              <circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
              <circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
            </svg>
            <span class="progressBar-percentage progressBar-percentage-count"></span>
          </div>
        </div>
        <p class="text-uppercase">微信开发</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
      <div class="list text-center">
        <div class="list-item">
          <div class="progressBar progressBar--animateText" data-progress="100">
            <svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
              <circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
              <circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
            </svg>
            <span class="progressBar-percentage progressBar-percentage-count"></span>
          </div>
        </div>
        <p class="text-uppercase">RESTful Api</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
      <div class="list text-center">
        <div class="list-item">
          <div class="progressBar progressBar--animateCircle" data-progress="90">
            <svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
              <circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
              <circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
            </svg>
            <span class="progressBar-percentage progressBar-percentage-count"></span>
          </div>
        </div>
        <p class="text-uppercase">后台功能</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
      <div class="list text-center">
        <div class="list-item">
          <div class="progressBar progressBar--animateAll" data-progress="100">
            <svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
              <!-- on défini le l'angle et le centre de rotation du cercle -->
              <circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
              <circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
            </svg>
            <span class="progressBar-percentage progressBar-percentage-count"></span>
          </div>
        </div>
        <p class="text-uppercase">案例展示</p>
      </div>
    </div>
  </div>
</div>
<!-- End Progress Bar Area -->
<!-- Start shuffle Area -->
<section id="snapshoot" class="section-full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="product-area-title text-center">
          <p class="text-uppercase">系统后台</p>
          <h2 class="h1">功能快照</h2>
        </div>
      </div>
    </div>
  </div>
  <div id="filter-content" class="row no-gutters mt-70">
    <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-1" data-myorder="1">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">微信关键字自动回复</h5>
      </div>
    </div>
    <div class="mix category-1 category-5 category-3 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-2" data-myorder="2">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">微信自定义菜单</h5>
      </div>
    </div>
    <div class="mix category-1 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-3" data-myorder="3">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">微信素材管理</h5>
      </div>
    </div>
    <div class="mix category-2 category-3 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-4" data-myorder="4">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">微信历史消息</h5>
      </div>
    </div>
    <div class="mix category-1 category-4 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-5" data-myorder="5">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">网站配置</h5>
      </div>
    </div>
    <div class="mix category-1 category-3 category-5 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-6" data-myorder="6">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">服务器监控</h5>
      </div>
    </div>
    <div class="mix category-2 category-4 category-3 col-lg-3 col-md-4 col-sm-6 single-filter-content content-7" data-myorder="7">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">备份还原</h5>
      </div>
    </div>
    <div class="mix category-2 category-6 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-8" data-myorder="8">
      <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
        <p class="text-white">图片说明</p>
        <div class="line"></div>
        <h5 class="text-white text-uppercase">插件模块</h5>
      </div>
    </div>
  </div>
</section>
<!-- End shuffle Area -->
<!-- Start Team member Area -->
<section id="team" class="pb-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="product-area-title text-center">
          <p class="text-uppercase">希望一起加入开发</p>
          <h2 class="h1">开发人员</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-member">
          <div class="thumb relative" style="background: url(img/t1.jpg);">
            <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
              <p class="text-white">熟悉Yii2、熟悉微信开发、小程序开发、web开发、Api接口开发</p>
              <div class="line"></div>
              <div class="social d-flex align-items-center justify-content-center">
                <a href="http://www.rageframe.comhttps://github.com/jianyan74/" target="_blank">TA的主页</a>
              </div>
            </div>
          </div>
          <div class="desc text-center">
            <h5 class="text-uppercase"><a href="http://www.rageframe.comhttps://github.com/jianyan74/" target="_blank">简言</a></h5>
            <p>5年PHP开发经验</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Team member Area -->

<!-- Start Digital Studio -->
<section class="section-full studio-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="studio-content">
          <p class="text-uppercase text-white"></p>
          <h2 class="h1 text-white text-uppercase mb-20">你的Star就是我最大的动力</h2>
          <p class="text-white mb-30">欢迎各位大牛来PR一起来完善RageFrame</p>
          <a href="http://www.rageframe.comhttps://github.com/jianyan74/rageframe2" class="primary-btn text-white d-inline-flex align-items-center">Star<span class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Area -->
<!-- End Testimonial Area -->
<!-- Start Publish Area -->
<section id="reward" class="section-full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="product-area-title text-center">
          <p class="text-uppercase">打赏一下</p>
          <h2 class="h1">请我喝一杯热咖啡</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <figure class="signle-service">
          <img  src="http://www.rageframe.com/img/alipay.jpg" class="img-fluid" alt="">
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="signle-service">
          <img  src="http://www.rageframe.com/img/wechatpay.jpg" class="img-fluid" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- End Publish Area -->
<!-- End Contact Area -->
<!-- Start Cta Area -->
<section class="cta-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 d-flex no-flex-xs justify-content-between align-items-center">
        <h5 class="text-uppercase text-white">开发中还是遇到不少问题?</h5>
        <a href="http://www.rageframe.comhttps://jq.qq.com/?_wv=1027&k=5yvRLd7" target="_blank" class="primary-btn d-inline-flex text-uppercase text-white align-items-center">一起来探讨吧<span class="lnr lnr-arrow-right"></span></a>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Area -->
<footer class="section-full">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h6 class="text-white text-uppercase mb-20">点关注不迷路</h6>
          <p>轮子还是要造的，工作还是要就继续的，生活总是美好的</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h6 class="text-white text-uppercase mb-20">友情链接</h6>
          <div class="d-flex">
            <ul class="footer-nav">
              <li><a href="http://www.rageframe.comhttps://www.itbole.com" target="_blank">IT伯乐网</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h6 class="text-white text-uppercase mb-20">导航链接</h6>
          <div class="d-flex">
            <ul class="footer-nav">
              <li><a href="http://www.rageframe.com#">首页</a></li>
              <li><a href="http://www.rageframe.com#feature">框架特色</a></li>
              <li><a href="http://www.rageframe.com#snapshoot">功能快照</a></li>
              <li><a href="http://www.rageframe.com#team">开发人员</a></li>
            </ul>
            <ul class="ml-30 footer-nav">
              <li><a href="http://www.rageframe.com#reward">打赏一下</a></li>
              <li><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262497992'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262497992%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom d-flex justify-content-between align-items-center">
      <p class="footer-text m-0">Copyright &copy; 2016 - 2020 RageFrame All Rights Reserved. <br> ICP证：<a href="http://www.rageframe.comhttp://www.beian.miit.gov.cn" target="_blank">浙ICP备17025911号-2</a></p>
      <div class="footer-social d-flex align-items-center">
      </div>
    </div>
  </div>
</footer>

<script  src="http://www.rageframe.com/js/vendor/jquery-2.2.4.min.js"></script>
<script  src="http://www.rageframe.com/js/vendor/bootstrap.min.js"></script>
<script  src="http://www.rageframe.com/js/jquery.ajaxchimp.min.js"></script>
<script  src="http://www.rageframe.com/js/jquery.sticky.js"></script>
<script  src="http://www.rageframe.com/js/owl.carousel.min.js"></script>
<script  src="http://www.rageframe.com/js/mixitup.min.js"></script>
<script  src="http://www.rageframe.com/js/main.js"></script>
</body>
</html>