<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>fun网- FunAdmin极简后台管理框架- 基于thinkphp6,easywechat,layui 开发的后台管理系统</title>
    <meta name="keywords" content="FunAdmin 基于thinkphp6,thinkphp,layui,easywechat框架,框架,组件">
    <meta name="description"
          content="FunAdmin 是一款采用 layui开发的极简后台管理框架 基于thinkphp6 ,easywechat,开发的cms后台管理系统,thinkphp,yii2,cms,php后台管理系统,cms,cms系统,restful api,thinkphp后台管理系统">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="__PLUGINS__/layui/css/layui.css"/>
    <link rel="stylesheet" href="__STATIC__/frontend/css/fun.css?t={:time()}" media="all">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d7fcc824c81abdf6e6d33ffc0e10c071";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="site-home" id="LAY_home">

<section>
    <div class="layui-header header header-index" autumn>
        <div class="layui-main">
            <a class="logo" style="font-size: 1.9em;line-height: 1em;color: #333;" href="/">
                Fun管理系统
            </a>
            <div class="layui-form component" lay-filter="LAY-site-header-component"></div>
            <ul class="layui-nav">
                <li class="layui-nav-item ">
                    <a href="https://www.FunAdmin.com/" site-event="contactInfo" target="_blank">社区
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="https://jq.qq.com/?_wv=1027&k=GOakxsp6" site-event="contactInfo" target="_blank">QQ
                        群：775616363</a>
                </li>
                <li class="layui-nav-item">
                    <a href="https://gitee.com/limingyue0312/FunAdmin/tree/master/docs" target="_blank">文档
                        <!-- <span class="layui-badge-dot"></span> --></a>
                </li>
                <li class="layui-nav-item ">
                    <a href="https://demo.FunAdmin.com/index.php/admin" target="_blank" class="layui-tips">示例
                        <!-- <span class="layui-badge-dot"></span> --></a>
                </li>

            </ul>
        </div>
    </div>

</section>

<section>
  <div class="site-banner">
    <div class="site-banner-bg" style="background-image: url(__STATIC__/frontend/images/banner.jpg); background-size: cover;">
    </div>
    <div class="site-banner-main">
      <div class="site-zfj site-zfj-anim">
        <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);"></i>
      </div>
      <div class="layui-anim site-desc site-desc-anim">
        <p class="web-font-desc">经典模块化前端框架</p>
        <cite>由职业前端倾情打造，面向全层次的前后端开发者，低门槛开箱即用的前端 UI 解决方案</cite>
      </div>
      <div class="site-download">
        <a href="//res.layui.com/static/download/layui/layui-v2.5.6.zip?v=3" class="layui-inline site-down" target="_blank">
          <cite class="layui-icon"></cite>
          立即下载
        </a>
      </div>
      <div class="site-version">
        <span>当前版本：<cite class="site-showv">2.5.6</cite></span>
        <span><a href="/doc/base/changelog.html" rel="nofollow" target="_blank">更新日志</a></span>
        <span>下载量：<em class="site-showdowns">1794348</em></span>
      </div>
      <div class="site-banner-other">
        <a href="https://github.com/sentsin/layui/" target="_blank" class="site-star">
          <i class="layui-icon"></i>
          Star <cite id="getStars"></cite>
        </a>
        <a href="https://github.com/sentsin/layui/network/members" target="_blank" rel="nofollow" class="site-fork">
          <i class="layui-icon"></i>
          Fork
        </a>
        <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow" class="site-fork">
          码云
        </a>
      </div>
    </div>
  </div>
</section>
<section>
    <div class="layui-main">

        <ul class="site-idea">
            <li>
                <fieldset class="layui-elem-field layui-field-title" title="FunAadmin thinkphp后台管理系统">
                    <legend>大道至简</legend>
                    <p>插件式开发，系统保留权限等基础功能，其他全部采用插件式开发，开发者只需要开发插件,提高复用率，让更多的用户可以使用</p>
                </fieldset>
            </li>
            <li>
                <fieldset class="layui-elem-field layui-field-title" title="FunAadmin thinkphp后台管理系统">
                    <legend>友好的二次开发</legend>
                    <p>FunAadmin允许进行二次开发，并用在企业或者个人项目中,集合layui，easywechat, restful api开发极简</p>
                </fieldset>
            </li>
            <li>
                <fieldset class="layui-elem-field layui-field-title" title="FunAadmin thinkphp后台管理系统">
                    <legend>权限控制</legend>
                    <p>基于完善的权限控制管理、无限父子级权限分组、可自由分配子级权限。</p>
                </fieldset>
            </li>
        </ul>

    </div>
</section>
<section>
    <div class="layui-footer footer footer-index">
        <div class="layui-main">
            <p>&copy; 2016-2020 <a href="https://jq.qq.com/?_wv=1027&k=GOakxsp6">FunAadmin版权所有</a> Apache license</p>
            <p>
                <!--<a href="http://fly.layui.com/case/2019/" target="_blank">案例</a>-->
                <!--<a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a>-->
                <a href="https://jq.qq.com/?_wv=1027&k=GOakxsp6" site-event="contactInfo">QQ 群：775616363</a>
                <a href="https://github.com/FunAadmin/FunAadmin" target="_blank" rel="nofollow">GitHub</a>
                <a target="_blank" href="http://beian.miit.gov.com" target="_blank" rel="nofollow">粤ICP备19106066号</a>
            </p>
            <!--<p class="site-union">-->
            <!--  <a href="https://console.upyun.com/register/?invite=SJ0wu6g2-" target="_blank" rel="nofollow" upyun><img src="//res.layui.com__STATIC__/images/other/upyun.png?t=1" alt="upyun"></a>-->
            <!--  <span>提供云加速赞助</span>-->
            <!--</p>-->
        </div>
    </div>
</section>

<script src="__PLUGINS__/layui/layui.js"></script>
<script>
    layui.use(['layer', 'jquery'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        $('.layui-tips').hover(function () {
            layer.tips('账号demo,密码123456');

        })

    })
</script>


</body>
</html>
