<div class="fly-panel">
    <div class="fly-panel-title">
        广告区域
    </div>
    <div class="fly-panel-main">
        <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=fq1ayqee" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">阿里云服务器超级优惠</a>
        <a href="https://www.bt.cn/?invite_code=MV9oYmFlaGw=" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">宝塔环境优惠</a>
    </div>
</div>