{include file="common/header"/}
<div class="speed-container">
    <div class="speed-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{$title}</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('group title')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" lay-verify="required" placeholder="{:lang('pleaseEnter')}配置名" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        备注
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('group name')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" placeholder="{:lang('pleaseEnter')}配置名" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        英文字符。不能和当前已有的重复
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="hidden" name="id"  >
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                        <a data-href="{:url('configList')}" class="layui-btn layui-btn-primary back">{:lang('back')}</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{include file="common/footer"/}
<script>
    var tableIn;
    layui.config({
        base: "__STATIC__/admin/js/",
        version: true
    }).extend({
        Admin: 'Admin'
    }).use(['element','form', 'Admin',], function () {
        var form = layui.form;
        var info = '';

        info = {:json_encode($info)};
        form.val("form", info);

        form.render();

    });
</script>