{include file="common/header"}

<body class="col-sl" style="background-color: #f5f5f5;">


<!--顶部导航栏-->
{include file="common/nav"}
<!--Top-IMG-->
<div class="search" style="background-image: url({adv id="7" cache="3600"}{$data['ad_image']}{/adv})">
    <div class="cont">
        <h3>funadmin</h3>
        <p>搜索一下，你就知道！</p>
        <form action="{:url('index/search',['moduleid'=>$moduleid])}">
            <input type="hidden" name="moduleid" value="{$moduleid}" id="{$moduleid}">
            <input class="sousuo" type="text" name="keys" value="{$keys}" placeholder="请输入搜索关键词...">
            <button class="sousuo" id="searchbtn" type="submit"><i data-brackets-id="6601" class="fa fa-search"
                                                                   aria-hidden="true"></i></button>
        </form>
    </div>
</div>
<!--菜单栏目-->
<div class="nav-btn">
    <div class="cont">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="{:url('index/index')}">首页</a> &gt; <a href="" title=""></a>搜索结果
    </div>
</div>
<div class="cont">
    <div class="row">
        <div class="gj-md-9">
            <!--新闻列表-->
            <div class="gj-search">
                <p>“<span style="color: red;margin: 0 5px;">{$keys}</span>”的结果，共<span
                        style="color: red;margin: 0 5px;">{$list->total()}</span>条</p>
            </div>
            <div class="news-lists">
                {volist name="list" id="vo"}
                <div class="news-list gclear">
                    <a href="{:url('index/page',['cateid'=>$cateid,'id'=>$vo.id])}"><img
                            src="{$vo.thumb}"
                            alt="{$vo.title}"></a>
                    <div class="text">
                        <a href="{:url('index/page',['cateid'=>$cateid,'id'=>$vo.id])}">
                            <h3>{:str_replace($keys,'<span style="color:red">'.$keys.'</span>',$vo.title)}</h3>
                        </a>
                        <p class="hidd-xs">
                            {:str_replace($keys,'<span style="color:red">'.$keys.'</span>',$vo.description)}
                        </p>
                        <span>{$vo.create_time|date="Y-m-d"}</span><span><i class="fa fa-eye" aria-hidden="true"></i> {$vo.hits}</span>
                    </div>
                </div>
                {/volist}
                <nav class="gj-page">
                    {$list|raw}
                </nav>
            </div>
        </div>
        <div class="hidd-xs hidd-sm gj-md-3">
            <!--侧边栏-->
            <div class="sidebar">
                <div class="side-list">
                    <h4>文章精选</h4>
                    <ul>
                        {query table="addons_cms_article" num="5" order="hits desc"}
                        {volist name="data" id="vo"}
                        <li><a href="{:url('index/page',['cateid'=>$vo.id,'id'=>$vo.id])}">{$vo.title}</a></li>
                        {/volist}
                        {/query}
                    </ul>
                </div>
                {if $top_cateid}
                <div class="side-list">
                    <h4>{:getCategory($top_cateid,'catename')}</h4>
                    <ul>
                        {category cateid="$top_cateid" cache="0"}
                        {volist name='data' id="vo"}
                        <li><a href="{:url('index/lists',['cateid'=>$cateid])}">{$vo.catename}</a></li>
                        {/volist}
                        {/category}
                    </ul>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>



{include file="common/footer"}

</body>

</html>