{include file="common/header"}

<body class="col-sl">


<!--顶部导航栏-->
{include file="common/nav" /}

{adv id="4" cache="3600"}
<div class="top-img" style="background-image: url('{$data['ad_image']}')">
    <div class="cont">
        <h2>{$tag.name}</h2>
    </div>
</div>
{/adv}
<!--菜单栏目-->
<div class="nav-btn">
    <div class="cont">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="{:addons_url('index/index')}">首页</a> &gt;
        {:cateStep($cateid)}
    </div>
</div>

<div class="cont">
    <div class="row">
        <div class="gj-md-9">
            <!--新闻列表-->
            <div class="news-lists">
                {volist name="list" id="vo"}
                <div class="news-list gclear">
                    <a href="{:addons_url('index/page',['cateid'=>$vo.cateid,'id'=>$vo.id])}"><img src="{$vo.thumb}"
                                           alt="{$vo.title}"></a>
                    <div class="text">
                        <a href="{:addons_url('index/page',['cateid'=>$vo.cateid,'id'=>$vo.id])}">
                            <h3>{$vo.title}</h3>
                        </a>
                        <p class="hidd-xs">
                            {$vo.intro}</p>
                        <span>{$vo.create_time|date="Y-m-d"}</span><span><i class="fa fa-eye" aria-hidden="true"></i> {$vo.hits}</span>
                    </div>
                </div>
                {/volist}
                <nav class="gj-page">
                {$list|raw}
                </nav>
            </div>
        </div>

        <div class="hidd-sm gj-md-3">
            <!--侧边栏-->
            <div class="sidebar">
                <div class="side-nav">
                    <h4>{:getCategory($top_cateid,'catename')}</h4>
                    <ul>
                        {category cateid="$top_cateid" cache="3600"}
                        {volist name='data' id="vo"}
                        <li><a href="{:addons_url('index/lists',['cateid'=>$vo.id])}">{$vo.catename}</a></li>
                        {/volist}
                        {/category}
                    </ul>
                </div>
                <div class="side-list">
                    <h4>推荐精选</h4>
                    <ul>
                        {query sql="select * from fun_addons_cms_article ORDER BY hits DESC" num="5"}
                        {volist name="data" id="vo"}
                        <li><a href="{:addons_url('index/page',['cateid'=>$cateid,'id'=>$vo.id])}">{$vo.title}</a></li>
                        {/volist}
                        {/query}
                    </ul>
                </div>

                <div class="side-list">
                    <h4>热门标签</h4>
                    <span class="tags">
                    {tags cache='3600'}
                    <a href="{:addons_url('index/tags',['id'=>$vo.id])}">{$vo.name}</a>
                    {/tags}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="common/footer"}

</body>

</html>