{include file="common/header" /}
<link rel="stylesheet" href="ADDON_STATIC/cms/plugins/swiper-5.2.1/swiper.min.css">
<script src="/static/addons/cms/plugins/swiper-5.2.1/swiper.min.js"></script>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a class="pic" href="#"><img width="100%"  src="/static/addons/cms/frontend/images/banner.png"/></a></div>
        <div class="swiper-slide"><a class="pic" href="#"><img width="100%"  src="/static/addons/cms/frontend/images/banner.png"/></a></div>
        <div class="swiper-slide"><a class="pic" href="#"><img width="100%"  src="/static/addons/cms/frontend/images/banner.png"/></a></div>
        <div class="swiper-slide"><a class="pic" href="#"><img width="100%"  src="/static/addons/cms/frontend/images/banner.png"/></a></div>

    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>

<div class="index_section sec01">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="column_figure">
                    <img src="/static/addons/cms/frontend/images/pic01.jpg"/>
                </div>
                <div class="column_content">
                    <div class="column_title text-center">
                        关于我们
                    </div>
                    <div class="column_con">
                        公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                    </div>
                    <div class="column_btn text-center">
                        <a href="关于我们.html">MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="column_figure">
                    <img src="/static/addons/cms/frontend/images/pic01.jpg"/>
                </div>
                <div class="column_content">
                    <div class="column_title text-center">
                        公司品牌
                    </div>
                    <div class="column_con">
                        公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍公司品牌介绍
                    </div>
                    <div class="column_btn text-center">
                        <a href="list.html">MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="column_figure">
                    <img src="/static/addons/cms/frontend/images/pic01.jpg"/>
                </div>
                <div class="column_content">
                    <div class="column_title text-center">
                        品牌案例
                    </div>
                    <div class="column_con">
                        我公司积极响应环保号召，致力于开发再生资源循环使用，潜心打造真正“绿色”工业制品，将“以塑代木，变废为宝”的工艺发挥到极致，通过先进的工艺设备生产出达到或优于国际先进标准的高质量产品，兼具美观性、耐磨性、抗腐性、环保无污染等特色。
                    </div>
                    <div class="column_btn text-center">
                        <a href="#">MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index_section sec02">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
                <img class="adv_img img-circle" src="/static/addons/cms/frontend/images/pic03.png"/>
                <p class="adv_tit">美观性</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
                <img class="adv_img img-circle" src="/static/addons/cms/frontend/images/pic03.png"/>
                <p class="adv_tit">耐磨性</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
                <img class="adv_img img-circle" src="/static/addons/cms/frontend/images/pic03.png"/>
                <p class="adv_tit">抗菌性</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
                <img class="adv_img img-circle" src="/static/addons/cms/frontend/images/pic03.png"/>
                <p class="adv_tit">环保性</p>
            </div>
        </div>
    </div>
</div>
<div class="index_section sec03">
    <div class="container">
        <div class="row index_section_hd text-center">
            产品中心
        </div>
        <div class="row">
            <ul class="product_list">
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品一</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品二</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品三</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品四</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品五</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品六</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品七</a>
                </li>
                <li class="pro_item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a class="pro_pic" href="#">
                        <img src="/static/addons/cms/frontend/images/pic02.jpg"/>
                    </a>
                    <a href="#" class="pro_tit">热销产品八</a>
                </li>
            </ul>
        </div>
        <div class="row index_section_hd text-center">
            最新资讯
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div id="news_slide" class="news_slide_box">
                    <div class="bd">
                        <ul>
                            <li>
                                <a class="pic" href="#">
                                    <img src="/static/addons/cms/frontend/images/pic07.jpg"/>
                                    <span class="title">
新闻标题
</span>
                                </a>
                            </li>
                            <li>
                                <a class="pic" href="#">
                                    <img src="/static/addons/cms/frontend/images/pic07.jpg"/>
                                    <span class="title">
新闻标题新闻标题新闻标题新闻标题新闻标题
</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="prev"></span>
                    <span class="next"></span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <ul class="news_list">
                    <li>
                        <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="#" class="">
                                <img src="/static/addons/cms/frontend/images/pic08.jpg"/>
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="#" class="news_tit">北京木制品委员会成立 行业整合之势逐步推进中</a>
                            <p class="news_time">2016-02-18</p>
                            <p class="news_desc">
                                2016年1月24日，北京家居行业协会木制品委员会成立正式成立，此次木制品委员会的成立，旨在加强对木制品生产企业的专项服务，全面提升木制品企业的创新能</p>
                        </div>
                    </li>
                    <li>
                        <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="#" class="">
                                <img src="/static/addons/cms/frontend/images/pic08.jpg"/>
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="#" class="news_tit">北京木制品委员会成立 行业整合之势逐步推进中</a>
                            <p class="news_time">2016-02-18</p>
                            <p class="news_desc">
                                2016年1月24日，北京家居行业协会木制品委员会成立正式成立，此次木制品委员会的成立，旨在加强对木制品生产企业的专项服务，全面提升木制品企业的创新能</p>
                        </div>
                    </li>
                    <li>
                        <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="#" class="">
                                <img src="/static/addons/cms/frontend/images/pic08.jpg"/>
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="#" class="news_tit">北京木制品委员会成立 行业整合之势逐步推进中</a>
                            <p class="news_time">2016-02-18</p>
                            <p class="news_desc">
                                2016年1月24日，北京家居行业协会木制品委员会成立正式成立，此次木制品委员会的成立，旨在加强对木制品生产企业的专项服务，全面提升木制品企业的创新能</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}


<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<script>
    var mySwiper = new Swiper ('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // // 如果需要滚动条
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    })
</script>

</body>
</html>
