{include file="common/header"}


<body class="col-sl">


<!--顶部导航栏-->
{include file="common/nav"}
<!--Top-IMG-->
{adv id="6" cache="3600"}
<div class="top-img" style="background-image: url('{$data['ad_image']}')">
    <div class="cont">
        <h2>{$category.catename}</h2>
    </div>
</div>
{/adv}
<!--菜单栏目-->
<div class="nav-btn">
    <div class="cont">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="{:addons_url('index/index')}">首页</a> &gt; {:cateStep($cateid)}
    </div>
</div>

<!--服务项目-->
<div class="cont">
    <div class="row">
        <div class="product-list">
            <div class="p-nav">
                <a class="{if $top_cateid==$cateid}gxz{/if}" href="{:addons_url('index/lists',['cateid'=>$top_cateid])}">全部</a>
                {category cateid='$top_cateid' cache="3600"}
                {volist name="data" id="vo"}
                <a class="{if $cateid==$vo.id}gxz{/if}" href="{:addons_url('index/lists',['cateid'=>$vo.id])}">{$vo.catename}</a>
                {/volist}
                {/category}
            </div>
            {volist name="list" id="vo"}
            <div class="gj-xs-6 gj-sm-4 gj-lg-3">
                <div class="p-list gclear">
                    <span>{$vo.title}</span>
                    <a href="{:addons_url('index/page',['cateid'=>$vo.cateid,'id'=>$vo.id])}">
                        <img src="{$vo.thumb}" alt="{$vo.intro}">
                    </a>
                    <a href="{:addons_url('index/page',['cateid'=>$vo.cateid,'id'=>$vo.id])}">
                        <h4>{$vo.title}</h4>
                    </a>
                </div>
            </div>
            {/volist}

            <nav class="gj-page">
            {$list|raw}
            </nav>

        </div>
    </div>
</div>

{include file="common/footer"}
</body>

</html>