{include file="common/header"}


<body class="col-sl">


<!--顶部导航栏-->
{include file="common/nav"}
<div class="top-img" style="background-image: url(/static/addons/cms/frontend/image/190704111152595.jpg)">
    <div class="cont">
        <h2>小程序开发</h2>
    </div>
</div>
<!--菜单栏目-->
<div class="nav-btn">
    <div class="cont">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="{:url('index/index')}">首页</a> &gt;{:cateStep($cateid)}
    </div>
</div>
<!--服务项目-内容-->
<div class="cont">
    <div class="row">
        <div class="gj-md-3">
            <div class="pt-sidebar hidd-xs hidd-sm">
                <div class="bt"><h3>项目属性</h3></div>
                <div class="body">
                    <ul class="shx">
                        <li><img src="{$list.thumb}" alt=""></li>
                        <li><b>项目名称：</b>{$list.title}</li>
                        <li><b>项目类型：</b>XXX</li>
                        <li><b>使用平台：</b>XXX</li>
                        <li><b>服务期限：</b>XXX</li>
                    </ul>
                </div>
            </div>
            <div class="pt-sidebar hidd-xs">
                <div class="bt">
                    <h3>其他</h3>
                </div>

                <div class="body">
                    {query table="cms_product" num='2'}
                    {volist name="data" id="vo"}
                    <div class="pt-list">
                        <a href="{:url('index/page',['cateid'=>$cateid,'id'=>$vo.id])}"><img src="{$vo.thumb}" alt="{$vo.title}"></a>
                        <div class="shx">
                            <a href="4.html">
                                <h4>{$vo.title}</h4>
                            </a>
                        </div>
                    </div>
                    {/volist}
                    {/query}

                </div>
            </div>
        </div>
        <div class="gj-md-9">
            <div class="pt-body">
                <div class="bt hidd-md hidd-lg"><h3>项目属性</h3></div>
                <div class="body shx hidd-md hidd-lg">
                    <ul>
                        <li><img src="/static/addons/cms/frontend/picture/190705110039188.jpg" alt=""></li>
                        <li><b>项目名称：</b>企业AI雷达智能名片</li>
                        <li><b>项目类型：</b>微信小程序</li>
                        <li><b>使用平台：</b>微信端</li>
                        <li><b>服务期限：</b>30个工作日</li>
                    </ul>
                </div>
                <div class="bt">
                    <h3>详情</h3>
                </div>
                <div class="body xm-body">
                    {$list.content|raw}
                </div>
            </div>
        </div>
    </div>
</div>

{include file="common/footer"}

<script>
    //禁止图片保存与拖拽
    $(function () {
        var imgs = $(".xm-body img");
        imgs.on("contextmenu", function () {
            return false;
        });
        imgs.on("dragstart", function () {
            return false;
        });
        imgs.removeAttr("title");
    })
</script>

</body>

</html>