{include file="common/header"}


<body class="col-sl">


<!--顶部导航栏-->
{include file="common/nav"}
{adv id="7" cache="3600"}
<div class="top-img" style="background-image: url('{$data['ad_image']}')">
    <div class="cont">
        <h2>{:getCategory($top_cateid,'catename')}</h2>
    </div>
</div>
{/adv}


<!--菜单栏目-->
<div class="nav-btn">
    <div class="cont">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="index.html">首页</a> &gt;{:cateStep($cateid)}
    </div>
</div>
<div class="cont">
    <div class="row">
        <div class="gj-md-9">
            <!--新闻内容-->
            <div class="news-content">
                <div class="news-bt">
                    <h3>{$list.title}</h3>
                    <p><span>{$list.create_time|date="Y-m-d H:i:s"}</span>
                        <span>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {$list.hits}
                        </span>
                        {tags cache="3600"}
                        <span class="tags"><a href="{:addons_url('index/tags',['id'=>$vo.id])}">{$vo.name}</a></span>
                        {/tags}
                    </p>
                </div>
                <div class="content">
                   {$list.content|raw}
                </div>
                <div class="gcont-page">
                    <div class="gj-sm-6">上一篇：
                        {if $front}<a href="{:addons_url('index/page',['cateid'=>$cateid,'id'=>$front.id])}">{$front.title}</a>
                        {else /}
                        已经是第一篇
                        {/if}
                    </div>
                    <div class="gj-sm-6">下一篇：
                        {if $after}<a href="{:addons_url('index/page',['cateid'=>$cateid,'id'=>$after.id])}">{$after.title}</a>
                        {else /}
                        已经是最后一篇
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="hidd-sm gj-md-3">
            <!--侧边栏-->
            <div class="sidebar">
                <div class="side-nav">
                    <h4>{:getCategory($top_cateid,'catename')}</h4>
                    <ul>
                        {category cateid="$top_cateid" cache="3600"}
                        {volist name='data' id="vo"}
                        <li><a href="{:addons_url('index/lists',['cateid'=>$vo.id])}">{$vo.catename}</a></li>
                        {/volist}
                        {/category}
                    </ul>
                </div>
                <div class="side-list">
                    <h4>推荐精选</h4>
                    <ul>
                        {query table="addons_cms_article" num="5" order="hits desc"}
                        {volist name="data" id="vo"}
                        <li><a href="{:addons_url('index/page',['cateid'=>$cateid,'id'=>$vo.id])}">{$vo.title}</a></li>
                        {/volist}
                        {/query}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--侧栏客服-->
<div class="gj-service hidd-xs hidd-sm">
    <ul>
        <li title="官方微博"><a href="javascript:;" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
        <li title="QQ咨询"><a href="javascript:;" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
        <li class="wx"><i class="fa fa-weixin" aria-hidden="true"></i><img src="/static/addons/cms/frontend/picture/190707024719856.jpg"
                                                                           alt=""></li>
        <li class="top"><span>返回顶部</span></li>
    </ul>
</div>    <!--弹窗-在线留言-->

{include file="common/footer"}

</body>

</html>