{include file="common/header"}
<link href="/static/addons/cms/frontend/css/member_login.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .gj-nav3 .gj-menu .menu ul li:hover a {
        text-decoration: none;
    }
</style>
<body class="col-sl">


<!--顶部导航栏-->
{include file="common/nav"}

<!--顶部导航栏-->


<!--主要内容-->
<div class="w880 main">
    <div class="main_left">
        <p class="logo" style="margin-bottom:90px"><a href="index.html">funadmin</p>
        <p>没有帐号？<a href="register.html">免费注册</a></p>
        <p>使用合作网站登录</p>
        <p><a href="javascript:;" target="_blank" class="qq_login">腾讯QQ登陆</a></p>
        <p><a href="javascript:;" target="_blank" class="weibo_login">微博登陆</a></p>
    </div>
    <div class="main_right">
        <div class="login">免费注册</div>

        <div class="form">
            <form action="" method="post">
                <input type="hidden" name="referer" value="">
                <ul>
                    <li><label>用户名</label><input type="text" class="input" required="" name="username"
                                                    placeholder="用户名" value=""></li>
                    <li><label>邮箱</label><input type="text" class="input" required="" name="email"
                                                    placeholder="电子邮箱" value=""></li>
                    <li><label>密码</label><input type="password" class="input" required="" name="password"
                                                placeholder="请输入密码" value=""></li>
                    <li><label>验证码</label><input type="text" class="input code" required="" name="vercode"
                                                 placeholder="请输入验证码">
                        <img style="width: 100px;height: 36px;"  id="captchaPic" src="{:url('verify')}?{:time()}" alt="captcha" onclick="this.src='{:url("verify")}?'+'id='+Math.random()"/>
                    </li>

                    <li><input type="submit" class="submit" id="submit"></li>
                    <li><a href="{:url('forget')}" target="_blank">忘记密码？</a></li>
                </ul>
            </form>
        </div>

    </div>
</div>
<div class='clearfix'></div>

<!--底部版权-->

{debris id='1' cache="3600"}
{$data.content|raw}
{/debris}

<script>
    $("#submit").click(function (e) {
        e.preventDefault();
        var username = $('input[name="username"]').val();
        var password = $('input[name="password"]').val();
        var vercode = $('input[name="vercode"]').val();
        var email = $('input[name="email"]').val();
        $.post('{:url("user/register")}', {username: username,'email':email, password: password, vercode: vercode}, function (res) {
            if (res.code > 0) {
                alert('注册成功');
                window.location.href = '/index/index';
            } else {
                alert(res.msg);

            }
            return false;
        })
        return false;


    });
</script>
</body>
</body></html>