<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #fff;
    }
    .tree .tree-choose{
        float:right;margin-right:15px;font-size: 12px;font-weight: bold;
    }
    .file-group {
        float: left;
    }
    .file-list {
        float: left;
    }
    .file-list .box-header {
        margin-bottom: 5px;
        height: 30px;
        padding: 0 25px 0 10px;
    }
    .box-body {
        width: 675px;
    }
    .box-body ul.file-list-item {
        overflow-y: auto;
        height: 420px;
        width: 100%;
    }
    .box-body ul.file-list-item li {
        position: relative;
        cursor: pointer;
        border-radius: 6px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        float: left;
        margin: 10px;
        -webkit-transition: All 0.2s ease-in-out;
        -moz-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out;
    }
    .box-body ul.file-list-item li:hover {
        border: 1px solid #16bce2;
    }
    .box-body ul.file-list-item li .img-cover {
        width: 120px;height: 120px;display: table-cell;vertical-align: middle;
    } .box-body ul.file-list-item li .img-cover image{width: 120px;
      }
    .box-body ul.file-list-item li p.file-name {
        margin: 5px 0 0 0;
        width: 120px;
        word-wrap: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .box-body ul.file-list-item li.active .select-mask {
        display: block;
    }

    .box-body ul.file-list-item li .select-mask {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 6px;
    }

    .box-body ul.file-list-item li .select-mask img {
        position: absolute;
        top: 50px;
        left: 45px;
    }

    /**文件编辑**/
    .box-body ul.file-list-item li .file-edit {
        position: absolute;
        z-index: 1;
        right: 3px;
        top: 3px;
        display: none;
    }
    .box-body ul.file-list-item li .file-delete {
        position: absolute;
        z-index: 1;
        right: 30px;
        top: 3px;
        display: none;
    }
    .box-body ul.file-list-item li:hover .file-edit,.box-body ul.file-list-item li:hover .file-delete  {
        display: block;
    }

    .box-header .uploadfile {
        height: 32px;
        line-height: 32px;
        color: #fff;
    }

    .box-header .uploadfile:hover {
        background: #1E9FFF;
        border-color: #1E9FFF;
        color: #fff;
    }

    .box-header .group-select {
    }
    .layui-btn{height: 28px;line-height: 28px;}
    .box-header .group-select .layui-btn {
        height: 28px;
        line-height: 28px;
        padding: 0 2px 0 8px;
        border-color: #3bb4f2;
        background: #3bb4f2;
        color: #fff;
    }

    .box-header .delete {
        margin-left: 10px;
    }

    .box-header .delete .layui-btn {
        border-color: #e7505a;
        color: #e7505a;
        height: 28px;
        line-height: 28px;
        padding: 0 8px;
    }

    .box-header .delete .layui-btn:hover {
        background: #e7505a;
        border-color: #e7505a;
        color: #fff;
    }

    .box-header .dropdown {
        position: relative;
        display: inline-block;
    }

    .box-header .dropdown .dropdown-content {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1020;
        display: none;
        float: left;
        min-width: 200px;
        padding: 10px 0;
        margin: 9px 0 0;
        text-align: left;
        line-height: 1.6;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-animation-duration: .15s;
        animation-duration: .15s;
    }

    .box-header .dropdown.active > .dropdown-content {
        display: block;
    }

    .box-header .dropdown .dropdown-content:before, .box-header .dropdown .dropdown-content:after {
        position: absolute;
        display: block;
        content: "";
        width: 0;
        height: 0;
        border: 8px dashed transparent;
        z-index: 1
    }
    .box-header .dropdown .dropdown-content:after, .box-header .dropdown .dropdown-content:before {
        border-bottom-style: solid;
        border-width: 0 8px 8px
    }

    .box-header .dropdown .dropdown-content:before {
        border-bottom-color: #ddd;
        bottom: 0
    }

    .box-header .dropdown .dropdown-content:after {
        border-bottom-color: #fff;
        bottom: -1px
    }

    .box-header .dropdown .dropdown-content:after, .box-header .dropdown .dropdown-content:before {
        left: 10px;
        top: -16px;
        pointer-events: none;
    }

    .box-header .dropdown .dropdown-content:after {
        top: -14px
    }

    .box-header .dropdown .dropdown-content:first-child {
        margin-top: 0;
    }

    .box-header .dropdown .dropdown-header {
        display: block;
        padding: 6px 20px;
        font-size: 13px;
        color: #999;
    }

    .box-header .dropdown ul.dropdown-content > li > a {
        display: block;
        padding: 6px 20px;
        clear: both;
        font-weight: 400;
        color: #333;
        white-space: nowrap
    }

    .box-header .dropdown ul.dropdown-content > li > a:focus, .box-header .dropdown ul.dropdown-content > li > a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5
    }

    .box-header .dropdown ul.dropdown-content > .active > a, .box-header .dropdown ul.dropdown-content > .active > a:focus, .box-header .dropdown ul.dropdown-content > .active > a:hover {
        color: #333;
        text-decoration: none;
        outline: 0;
        background-color: #f5f5f5
    }
</style>
<link rel="stylesheet" href="//unpkg.com/eletree/dist/css/icon.css">
{:token_field()}
<div class="layui-row" id="list">
    <div class="layui-col-lg3 layui-col-xs3 layui-col-sm3 file-group">
        <div class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm"> 分组 </div>
        <div class="tree" id="tree"
             data-radio="{:isset($param['openradio'])?$param['openradio']:1}"
             data-checkbox="{:isset($param['opencheckbox'])?$param['opencheckbox']:0}"
             style="margin-top: 20px;">
        </div>
    </div>
    <div class="layui-col-lg9 layui-col-xs9 layui-col-sm9 file-list">
        <div class="box-header layui-row">
            <div class="fl layui-col-xs6">
                <div class="fl group-select dropdown">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                        移动至<i class="layui-icon layui-icon-triangle-d"></i>
                    </button>
                    <ul class="group-list dropdown-content">
                        <li class="dropdown-header">请选择分组</li>
                        <div class="tree" id="selectTree"></div>
                    </ul>
                </div>
                <div class="fl delete">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm file-delete">
                        <i class="layui-icon"></i>批量删除
                    </button>
                </div>
            </div>
            <div class="fr layui-col-xs6">
                <input class="layui-input" type="text" style="display:inline-flex;width:150px;padding-right:0px;" name="original_name">
                <button id="uploadfile" type="button" class="uploadfile layui-btn layui-btn-danger layui-btn-sm"
                        lay-filter="upload"
                        data-value='{:json_encode($param)}'>
                    <i class="layui-icon"></i>上传图片
                </button>
            </div>
        </div>

        <!--内容-->
        <div id="file-list-body" class="box-body" data-node="">
            <div id="file-container">
                <ul class="file-list-item">
                    {if $data}
                    {volist name="data" id="vo"}
                    <li  title="{$vo.original_name}" data-type="{$vo.mime}" data-id="{$vo.id}" data-path="{$vo.url}" data-url="{$vo.url}">
                        <a class="file-delete" href="javascript:void(0);" title="{:lang('DELETE')}">
                            <i class="layui-icon layui-icon-delete"></i>
                        </a>
                        <a class="file-edit" href="javascript:void(0);" title="{:lang('Edit')}">
                            <i class="layui-icon layui-icon-edit"></i>
                        </a>
                        <div class="img-cover">
                            {if (strpos($vo.mime,'image')!==false)}
                                <img width="100%" src="{$vo.url}"
                             {elseif(strpos($vo.mime,'video')!==false) /}
                            __CDN____STATIC__/static/backend/images/filetype/video.jpg
                             {elseif(strpos($vo.mime,'audio')!==false) /}
                              __CDN____STATIC__/static/backend/images/filetype/audio.jpg
                             {elseif(strpos($vo.mime,'zip')!==false) /}
                             __CDN____STATIC__/static/backend/images/filetype/zip.jpg
                             {else/}
                             __CDN____STATIC__/static/backend/images/filetype/file.jpg
                            {/if}
                                data-type="image" alt="{$vo.original_name}">
                        </div>
                        <p class="file-name">{$vo.original_name}</p>
                        <div class="select-mask">
                            <img src="__CDN____STATIC__/backend/images/choose.png">
                        </div>
                    </li>
                    {/volist}
                    {else/}
                    <div style="padding-top:80px;text-align:center;" class="empty">
                        <i style="font-size: 150px;color: #eee" class="layui-icon layui-icon-face-surprised"></i>
                        <div style="line-height:30px;color: #999;" class="">没有找到数据</div>
                    </div>
                    {/if}
                </ul>
            </div>
            <div id="page"></div>
        </div>
    </div>
    <!--End 内容-->
</div>
<!--暂用不到-->
<script type="text/html" id="tpl">
    <li title="{{# if(d.original_name){}}
    {{d.original_name}}
            {{#  }else{ }}
            {{d.url}}
            {{#  } }}
" data-id="{{d.id}}" data-path="{{d.url}}">
        <a class="file-delete" href="javascript:void(0);" title="{:lang('DELETE')}">
            <i class="layui-icon layui-icon-delete"></i>
        </a>
        <a class="file-edit" href="javascript:void(0);" title="{:lang('Edit')}">
            <i class="layui-icon layui-icon-edit"></i>
        </a>
        <div class="img-cover">
            <img width="100%" src="{{# if(d.url.indexOf('image')){}}
            {{d.url}}
            {{#  }else if(d.url.indexOf('mp4')){ }}
            __CDN____STATIC__/static/backend/images/filetype/video.jpg
            {{#  }else if(d.url.indexOf('mp3')){ }}
            __CDN____STATIC__/static/backend/images/filetype/audio.jpg
            {{#  }else if(d.url.indexOf('zip')){ }}
            __CDN____STATIC__/static/backend/images/filetype/zip.jpg
            {{#  }else { }}
            __CDN____STATIC__/backend/images/file.png
            {{#  } }}
" alt="{{d.url}}">
        </div>
        <p class="file-name">{{# if(d.original_name){}}
            {{d.original_name}}
            {{#  }else{ }}
            {{d.url}}
            {{#  } }}
        </p>
        <div class="select-mask">
            <img src="__CDN____STATIC__/backend/images/choose.png">
        </div>
    </li>
</script>
<script>
    var treeData = {:json_encode($groupList)};
    var param = {:json_encode($param)};
    var count = {$count};

</script>

