{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{$title}</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form">

                <div class="layui-form-item">
                    <label class="layui-form-label">链接名字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" placeholder="{:lang('pleaseEnter')}登录用户名" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        在4到25个字符之间。
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('url')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url" placeholder="{:lang('pleaseEnter')}网址"  lay-verify="url" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        必须是https 或者http 开头
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('email')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" lay-verify="email" placeholder="{:lang('pleaseEnter')}邮箱" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('qq')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="qq" lay-verify="number" value="" placeholder="{:lang('pleaseEnter')}{:lang('qq')}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="hidden" name="id"  >
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                        <a data-href="{:url('index')}" class="layui-btn layui-btn-primary back">{:lang('back')}</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{include file="common/footer"/}
<script>
    var tableIn=null;
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin:'Admin',
    }).use(['table','Admin','form'], function () {
        var form = layui.form;
        var info = '';
        info = {:json_encode($info)};
        form.val("form", info);
        form.render();
    });
</script>