APP_DEBUG = trueDB_DRIVER = mysqlDB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME = funadminDB_USER = funadminDB_PASS = funadminDB_PORT = 3306DB_CHARSET = utf8mb4DB_PREFIX = fun_DEFAULT_LANG = zh-cn