/.idea
/.vscode
.DS_Store
*.log
.env
./composer.lock
/plugins
/runtime
/public/static/plugins
/public/static/cms
/public/static/mocms
/public/static/crud
/public/static/storage
/.trae
/.cursor
/.qoder
/tests