<!--联系我们-->
<div class="gj-contact">
    <div class="cont">
        <div class="row">
            <div class="gj-body contact">
                <div class="hidd-xs gj-sm-6 hidd-md gj-lg-4">
                    <div class="lis1">
                        <!--                        <img src="/static/addons/cms/frontend/picture/logo1.png" alt="">-->
                        <p>
                            XXXXXXXXXX科技有限公司专注于互联网应用开发服务，自成立以来，凭借良好的行业经验与技术实力，本着“高效管理”、“合作共赢”、“力创精品”的经营理念，致力于成为国内专业的产业互联网服务商；</p>
                        <a href="javascript:;" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a>
                        <a href="javascript:;" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                        <a href="tel:188 8888 8888" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="hidd-sm gj-md-6 gj-lg-4">
                    <div class="lis2">
                        <h4 class="bt">友情链接</h4>
                        <ul>
                            {links id='vo'}
                            <li><a href="{$vo.url}" target="_blank">{$vo.name}</a></li>
                            {/links}

                        </ul>
                    </div>
                </div>
                <div class="hidd-xs gj-sm-6 gj-md-6 gj-lg-4">
                    <div class="lis3">
                        <h4 class="bt">关注我们</h4>
                        <ul>
                            <li>
                                <!--
   <img src="/static/addons/cms/frontend/picture/wxmin.png" alt="扫一扫，了解我们！">-->
                                <p>微信小程序</p>
                            </li>
                            <li>
                                <!--                            <img src="/static/addons/cms/frontend/picture/wx.jpg" alt="扫一扫，关注我们！">-->
                                <p>微信服务号</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--侧栏客服-->
<div class="gj-service hidd-xs hidd-sm">
    <ul>
        <li title="官方微博"><a href="javascript:;" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
        <!--
                    <li class="color"><i class="fa fa-tachometer" aria-hidden="true"></i>
                        <div class="gj-col">
                            <span class="c-yh"><i class="fa fa-square" aria-hidden="true"></i> 雅黑（默认）</span>
                            <span class="c-ml"><i class="fa fa-square" aria-hidden="true"></i> 墨绿</span>
                            <span class="c-sl"><i class="fa fa-square" aria-hidden="true"></i> 深蓝</span>
                            <span class="c-hs"><i class="fa fa-square" aria-hidden="true"></i> 红色</span>
                            <span class="c-cs"><i class="fa fa-square" aria-hidden="true"></i> 橙色</span>
                        </div>
                    </li>
        -->
        <li title="QQ咨询"><a href="javascript:;" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
        {if $ACTION=='index'}
        <li title="在线申请"><a id="bMb" href="#Join"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
        {/if}
        <li class="wx"><i class="fa fa-weixin" aria-hidden="true"></i><img
                src="/static/addons/cms/frontend/picture/190707024719856.jpg"
                alt=""></li>
        <li class="top"><span>返回顶部</span></li>
    </ul>
</div>
<!--弹窗-在线留言-->
<div class="gj-message hi0dd-md hi0dd-lg">
    <div class="form">
        <div class="form-bt">
            <h4>在线留言</h4>
            <span class="close"><i class="fa fa-times" aria-hidden="true" title="关闭"></i></span>
        </div>
        <div class="form-content">
            <form class="gclear" action="{:url('index/diyform')}" enctype="multipart/form-data"
                  method="post" onsubmit="return checkall()">
                <table>
                    <div class="bd"><input type="text" name="username" id="username" value="" placeholder="称呼"></div>
                    <div class="bd"><input type="text" name="company" id="company" value="" placeholder="公司"></div>
                    <div class="bd"><input type="text" name="mobile" id="mobile" value="" placeholder="手机"></div>
                    <div class="bd"><input type="text" name="wechat" id="weixin" value="" placeholder="微信"></div>
                    <div class="bd"><textarea name="content" id="content" class="form-text" placeholder="留言"></textarea>
                    </div>
                    <button type="submit">提交留言</button>
                </table>
            </form>
        </div>
    </div>
</div>

<!--底部菜单-->
<nav class="bottom-menu hidd-md hidd-lg">
    <ul>
        <li><a href="javascript:;" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i>官方微博</a></li>
        <li><a href="javascript:;" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i>QQ咨询</a></li>
        <li class="message"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>在线留言</li>
        <li class="top"><i class="fa fa-angle-double-up" aria-hidden="true"></i>返回顶部</li>
    </ul>
</nav>


<!--底部版权-->
{debris id='1' cache="3600"}
{$data.content|raw}
{/debris}


<!--GJ-UI组件模块html代码结束-->
<!--返回顶部+加入我们-->
<script>
    $(function () {
        $(".top").click(function () {
            $("html,body").animate({
                scrollTop: 0
            }, 500); //页面500毫秒返回顶部
        });

        $("#bMb").click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
    });
</script>
<!--GJ-UI响应式导航栏-->
<script>
    $(document).ready(function () {
        $(".gbar").click(function () {
            $(".gj-menu").slideToggle("slow");
            return false
        })
    });
</script>
<!--在线弹窗留言-->
<script>
    $(function () {
        $(".message").click(function () {
            $(".gj-message").show();
        });
        $(".close").click(function () {
            $(".gj-message").hide();
        });
    })
</script>
