<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>会员中心-通过电子邮箱找回密码</title>
    <link href="/static/addons/cms/frontend/css/member_reset.css" rel="stylesheet" type="text/css"/>
    <meta name="description" content="lemocms,通过电子邮箱找回密码"/>
	<script src="/static/addons/cms/frontend/js/jquery-3.4.1.min.js" type="text/javascript"></script>

</head>
<body>
<div class="w1">
    <div class="w880 head">
        <div class="right"><a href="{:url('index/index')}">回到首页</a></div>
        <a href="{:url('user/register')}" class="current">注册</a> 欢迎登录
    </div>
</div>
<!--主要内容-->
<div class="main">
    <h1>通过电子邮箱找回密码</h1>
    <div class="main_left">
        <div class="title">
            <span>步骤：1. 确认账号 &nbsp;&nbsp;>&nbsp;&nbsp; 2.安全验证 &nbsp;&nbsp;>&nbsp;&nbsp; 3. 重置密码&nbsp;&nbsp;>&nbsp;&nbsp; 4. 成功</span>
        </div>
        <div class="form">

            <form method="post" action="">
                <ul>
                    <li>注册邮箱：<input type="text" placeholder="电子邮箱" required name="email" class="input" value="{:cookie('email')}"/></li>

                    {if !cookie('code')}<li>验证码：<input type="text" placeholder="验证码" required name="vercode" class="input"/><img style="vertical-align: middle;width: 100px;height: 36px;" id="captchaPic" src="{:url('verify')}?{:time()}" alt="captcha" onclick="this.src='' +
                         '{:url("verify")}?'+'id='+Math.random()"/></li>{/if}

					<li {if cookie('code')}{else/}style="display:none"{/if} id="password"> 密码：<input type="text" placeholder="密码" required name="password" class="input"/></li>
					<li {if cookie('code')}{else/}style="display:none"{/if} id="password"> 邮箱验证码：<input type="text" placeholder="邮箱验证码" required name="vercode" class="input"/></li>

					<li><input type="submit" name="submit" class="submit" id="submit"></li>
                </ul>
            </form>

        </div>
    </div>
    <div class="main_right">
        <p>已经有了账号？</p>
        <p>请直接登录</p>
        <br>
        <p><a href="{:url('user/login')}" class="button">登录</a></p>
    </div>
</div>

<!--网站底部-->
{debris id='1' cache="3600"}
{$data.content|raw}
{/debris}

<script>
	$("#submit").click(function (e) {
		e.preventDefault();
		var vercode = $('input[name="vercode"]').val();
		var email = $('input[name="email"]').val();
		var password = $('input[name="password"]').val();
		$.post('{:url("user/reset")}', {'email':email, vercode: vercode,password:password}, function (res) {
			if (res.code > 0) {
				alert(res.msg);
				window.location.href =res.url;
			} else {
				alert(res.msg);

			}
			return false;
		})
		return false;


	});
</script>

</body>
</html>