
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>lemobbs登入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="lemoall,funadmin,lemobbs社区">
  <meta name="description" content="lemoall,funadmin是一个后台管理框架">
  {include file="common/link" /}
</head>
<body>

{include file="common/header" /}


<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="reg.html">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid" style="padding: 0!important;">
                  <span style="color: #c00;">
                    <img  id="captchaPic" src="{:url('verify')}?{:time()}" alt="验证码" onclick="this.src='{:url("verify")}?'+'id='+Math.random()" style="height: 36px;border: 1px solid #ececec;"/>
                  </span>
                </div>
              </div>
              {:token_field('__token__', 'sha1')}
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>
              </div>
<!--              <div class="layui-form-item fly-form-app">-->
<!--                <span>或者使用社交账号登入</span>-->
<!--                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>-->
<!--                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>-->
<!--              </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{include file="common/footer" /}
<script>layui.cache.page = 'user';</script>

</body>
</html>