VITE_APP_TITLE=FunAdmin
VITE_APP_VERSION=0.1.0
VITE_APP_BASE=/admin-web/
VITE_APP_BASE_API=/backend
VITE_APP_PROXY_TARGET=http://127.0.0.1:8000
VITE_APP_PORT=5173
VITE_APP_OPEN=false
VITE_APP_MOCK=false
VITE_APP_BUILD_SOURCEMAP=false
VITE_APP_BUILD_COMPRESS=false
