{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>{$title}</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" lay-filter="form">


            <div class="layui-form-item">
                <label class="layui-form-label">公众号名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="wxname" lay-verify="required" placeholder="{:lang('pleaseEnter')}昵称" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    在4到25个字符之间。
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('type')}</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" lay-filter="type" checked value="1" title="普通订阅号">
                    <input type="radio" name="type" lay-filter="type" value="2" title="认证订阅号">
                    <input type="radio" name="type" lay-filter="type" value="3" title="普通服务号">
                    <input type="radio" name="type" lay-filter="type" value="4" title="认证服务号/认证媒体/政府订阅号">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">APP_ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="app_id" placeholder="{:lang('pleaseEnter')}APP_ID" lay-verify="require" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">APP_SECRET</label>
                <div class="layui-input-inline">
                    <input type="text" name="app_secret" placeholder="{:lang('pleaseEnter')}{:lang('APP_SECRET')}" lay-verify="require" class="layui-input">
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">aeskey</label>
                <div class="layui-input-inline">
                    <input type="text" name="aeskey" placeholder="{:lang('pleaseEnter')}{:lang('aeskey')}" lay-verify="require" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">encode加密(可不填)</label>
                <div class="layui-input-inline">
                    <input type="text" name="encode" placeholder="{:lang('pleaseEnter')}{:lang('encode')}" lay-verify="" class="layui-input">
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">对接Token</label>
                <div class="layui-input-inline">
                    <input type="text" name="w_token" placeholder="{:lang('pleaseEnter')}{:lang('w_token')}" lay-verify="require" class="layui-input">
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">原始ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="origin_id" placeholder="{:lang('pleaseEnter')}{:lang('原始ID')}" lay-verify="require" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">二维码</label>
                <input type="hidden" name="qr" id="qr">
                <div class="layui-input-inline">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-primary" id="addBtn"><i class="icon icon-upload3"></i>点击上传</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="addPic">
                            <p id="notice"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">LOGO</label>
                <input type="hidden" name="logo" id="logo">
                <div class="layui-input-inline">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-primary" id="addBtnLogo"><i class="icon icon-upload3"></i>点击上传</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="addLogo">
                            <p id="noticeLogo"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('status')}</label>
                <div class="layui-input-block">
                        <input type="radio" name="status" lay-filter="status"  value="1" title="启用">
                        <input type="radio" name="status" lay-filter="status" checked value="0" title="关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="hidden" name="id"  >
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                </div>
            </div>
        </form>
    </div>
</div>

{include file="common/footer"/}
<script>
    layui.use(['form', 'layer','upload','laydate'], function () {
        var form = layui.form, laydate=layui.laydate,layer = layui.layer,$= layui.jquery,upload = layui.upload;
        var info = '';
        //日期范围
        laydate.render({
            elem: '#date'
            ,range: true
        });

        info = {:json_encode($info)};
        form.val("form", info);
        if(info){
            $('#logo').attr('src',info.logo);
            $('#qr').attr('src',info.qr);
        }
        form.render();
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                       location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        //普通图片上传
        var uploadInt = upload.render({
            elem: '#addBtn'
            ,url: '{:url("admin/sys.uploads/uploads")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#addPic').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                if(res.code>0){
                    $('#qr').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var notice = $('#notice');
                notice.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                notice.find('.demo-reload').on('click', function(){
                    uploadInt.upload();
                });
            }
        });

        var uploadInt = upload.render({
            elem: '#addBtnLogo'
            ,url: '{:url("admin/sys.uploads/uploads")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#addLogo').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                if(res.code>0){
                    $('#logo').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var notice = $('#noticeLogo');
                notice.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                notice.find('.demo-reload').on('click', function(){
                    uploadInt.upload();
                });
            }
        });

    });
</script>