{include file="common/header"/}
<style>.layui-table-cell{height: auto!important;}</style>
<div class="LM-container">
    <div class="LM-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>{:lang('qrcode')}{:lang('list')}</legend>
            <blockquote class="layui-elem-quote">
                <div class="LM-table">
                    <a href="{:url('qrcodeAdd')}" class="layui-btn layui-btn-sm layui-btn-warm">{:lang('add')}{:lang('qrcode')}</a>
                </div>
            </blockquote>

        </fieldset>

        <table class="layui-table" id="list" lay-filter="list"></table>
    </div>
</div>


<script type="text/html" id="action">
<!--    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn  layui-btn-xs" lay-event="edit">{:lang('edit')}</a>-->
    <a  class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="qrcode">
   <img width="50" src="{{d.qrcode}}">
</script>


<script type="text/html" id="create_time">
    {{layui.util.toDateString(d.create_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
<script type="text/html" id="update_time">
    {{layui.util.toDateString(d.update_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
{include file="common/footer"/}
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        var tableIn = table.render({
            elem: '#list',
            url: '{:url("qrcode")}',
            method: 'post',
            cols: [[
                {checkbox: true, },
                {field: 'id', title: 'ID', width: 80,  sort: true},
                {field: 'name', title: '二维码名字', width: 120,sort:true},
                {field: 'type', title: '类型', width: 80,templet:'#type',sort:true},
                {field: 'qrcode', title: '二维码', width: 120,templet:'#qrcode',sort:true},
                {field: 'url', title: 'url', width: 120,sort:true},
                {field: 'ticket', title: 'ticket', width: 120, sort:true},
                {field: 'expire_seconds', title: '过期时间', width: 120, sort:true},
                // {field: 'store_id', title: '店铺id', width: 120,sort: true},
                {field: 'status', title: '接入状态', width: 180, templet:'#status',sort:true},
                {field: 'create_time', title: '添加时间', width: 180,templet:'#create_time',sort:true},
                {field: 'update_time', title: '更新时间', width: 180,templet:'#update_time',sort:true},
                {title:'操作',width:150, toolbar: '#action',align:"center"},

            ]],

        });

        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('{:lang("Are you sure you want to delete it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('qrcodeDel')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }

        });

        form.on('switch(status)', function(data){
                loading =layer.load(1, {shade: [0.1,'#fff']});
                $.post("{:url('qrcodeState')}",{id:data.value},function(res){
                    layer.close(loading);
                    if(res.code>0){
                        layer.msg(res.msg,{time:1000,icon:1});
                        tableIn.reload();
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
        });

        $('#search').click(function () {
            var $keys = $('#keys').val();
            if(!$keys){
                return layer.msg('请输入关键词');
            }

            tableIn.reload({ page: {page: 1},where: {keys: $keys}});

        })


    });


</script>