{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{$title}</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form">

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('qrcode name')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" placeholder="{:lang('pleaseEnter')}{:lang('qrcode name')}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        在4到25个字符之间。
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('type')}</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="type"  value="0" lay-verify="required" placeholder="{:lang('pleaseEnter')}{:lang('type')}" title="临时" checked>
                        <input type="radio" name="type"  value="1" lay-verify="required" placeholder="{:lang('pleaseEnter')}{:lang('type')}" title="永久">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('expire seconds')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="expire_seconds" value="2592000" placeholder="{:lang('pleaseEnter')}{:lang('expire seconds')}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        临时二维码过期时间, 最大为30天（2592000秒）
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="hidden" name="id"  >
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                        <a href="{:url('qrcode')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{include file="common/footer"/}
<script>
    layui.use(['form', 'layer','upload'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload;
        var info = '';
        info = {:json_encode($info)};
        form.val("form", info);

        form.render();
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

    });
</script>