<form class="layui-form" lay-filter="form">
    {:form_input('module','text')}
    {:form_input('addons','text')}
    {:form_input('admin_id','text')}
    {:form_input('username','text')}
    {:form_input('method','text')}
    {:form_input('title','text')}
    {:form_input('url','text')}
    {:form_textarea('get_data')}
    {:form_textarea('post_data')}
    {:form_textarea('header_data')}
    {:form_textarea('agent')}
    {:form_input('ip','text')}
    {:form_input('create_time','text')}
    {:form_closebtn()}
</form>

