<form class="layui-form" lay-filter="form">
    {:form_input('username','text',['verify'=>'required','tips'=>'Between 4 and 25 characters.'])}
    {:form_input('mobile','text',['verify'=>'phone'])}
    {:form_upload('avatar',$formData,['cropper'=>1])}
    {:form_input('email','text',['verify'=>'email'])}
    {:form_select('level_id',$memberLevel,['verify'=>'required','label'=>'Level'] ,'id,name')}
    {:form_select('group_id',$memberGroup,['verify'=>'required'] ,'id,name')}
    {:form_radio('sex',['Secrecy','Man','Female'],['filter'=>'sex'],1)}
    {:form_submitbtn()}
</form>

<script>
    layui.use('layer',function (){
        $('.layui-upload').click(function (){
            layer.msg(111);
        })
    })
</script>