<form class="layui-form" lay-filter="form">
    {:form_input('username','text',['verify'=>'required','tips'=>'Between 4 and 25 characters.'])}
    {:form_input('mobile','text',['verify'=>'phone'])}
    {:form_upload('avatar',$formData,['cropper'=>1])}
    {:form_upload('avatar2',$formData,['cropper'=>1])}
    {:form_input('email','text',['verify'=>'email'])}
    {:form_select('level_id',$memberLevel,['verify'=>'required','label'=>'Level','multiple'=>1] ,'id,name')}
    {:form_select('group_id',$memberGroup,['verify'=>'required','label'=>'Group',] ,'id,name')}
<!--    示例-->
<!--    {:form_select('group_id',$memberGroup,['verify'=>'required','label'=>'Group','multiple'=>1] ,'id,name')}-->
<!--    {:form_selectn('city_ids',[],['url'=>__u('member.member/getcitys'),'multiple'=>1,'verify'=>'required'],'id,name',$formData?$formData['city_ids']:'')}-->
<!--    {:form_radio('sex',['Secrecy','Man','Female'],['filter'=>'sex'],1)}-->
    {:form_submitbtn()}
</form>
