<table class="layui-table" id="list" lay-filter="list"
      data-node-add="{:auth(__u('add'))}"
      data-node-edit="{:auth(__u('edit'))}"
      data-node-delete="{:auth(__u('delete'))}"
      data-node-destroy="{:auth(__u('destroy'))}"
      data-node-modify="{:auth(__u('modify'))}"
      data-node-recyle="{:auth(__u('recyle'))}"
      data-node-restore="{:auth(__u('restore'))}"
      data-node-import="{:auth(__u('import'))}"
      data-node-export="{:auth(__u('export'))}"
>
</table>
<script id="searchFormTpl" type="text/html">
    <fieldset id="searchFieldList_list" class="layui-elem-field table-search-fieldset">
        <legend>搜索</legend>
        <form class="layui-form" id="layui-form-list"><div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline ">
                <label class="layui-form-label layui-col-xs4">ID</label>
                <div class="layui-input-inline layui-col-xs8">
                    <input id="field_id" name="id" data-search="true" data-searchop="%*%" value="" placeholder="输入ID" class="layui-input">
                </div>
            </div></div>	 <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline ">
            <label class="layui-form-label layui-col-xs4">名称 </label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_username" name="username" data-search="true" data-searchop="%*%" value="" placeholder="输入名称 " class="layui-input">
            </div>
        </div></div>	 <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline ">
            <label class="layui-form-label layui-col-xs4">电子邮箱</label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_email" name="email" data-search="true" data-searchop="%*%" value="" placeholder="输入电子邮箱" class="layui-input">
            </div>
        </div></div>	 <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline ">
            <label class="layui-form-label layui-col-xs4">手机号</label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_mobile" name="mobile" data-search="true" data-searchop="%*%" value="" placeholder="输入手机号" class="layui-input">
            </div>
        </div></div>	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline">
            <label class="layui-form-label layui-col-xs4 ">性别</label>
            <div class="layui-input-inline layui-col-xs8">
                <select class="layui-select" id="field_sex" name="sex" data-search="select" data-searchop="=">
                    <option value="">-All -</option>
                    <option value="0">女性</option>/n<option value="1">男</option>/n<option value="2">Secret</option>/n</select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="-All -" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="" class="layui-select-tips">-All -</dd><dd lay-value="0" class="">女性</dd><dd lay-value="1" class="">男</dd><dd lay-value="2" class="">Secret</dd></dl></div>
            </div>
        </div></div>	 <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline ">
            <label class="layui-form-label layui-col-xs4">会员等级</label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_memberLevel.name" name="memberLevel.name" data-search="true" data-searchop="%*%" value="" placeholder="输入会员等级" class="layui-input">
            </div>
        </div></div>	 <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline ">
            <label class="layui-form-label layui-col-xs4">头像</label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_avatar" name="avatar" data-search="true" data-searchop="%*%" value="" placeholder="输入头像" class="layui-input">
            </div>
        </div></div>	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline">
            <label class="layui-form-label layui-col-xs4 ">状态</label>
            <div class="layui-input-inline layui-col-xs8">
                <select class="layui-select" id="field_status" name="status" data-search="select" data-searchop="=">
                    <option value="">-All -</option>
                    <option value="0">禁用</option>/n<option value="1">启用</option>/n</select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="-All -" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="" class="layui-select-tips">-All -</dd><dd lay-value="0" class="">禁用</dd><dd lay-value="1" class="">启用</dd></dl></div>
            </div>
        </div></div>	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline">
            <label class="layui-form-label layui-col-xs4">注册时间</label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_create_time" name="create_time" lay-filter="timePicker" data-search="range" data-searchop="range" value="" placeholder="输入注册时间" class="layui-input">
            </div>
        </div></div>	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3"><div class="layui-form-item layui-inline">
            <label class="layui-form-label layui-col-xs4 ">上次登录时间</label>
            <div class="layui-input-inline layui-col-xs8">
                <input id="field_last_login" name="last_login" lay-filter="timePicker" data-search="timerange" data-searchop="range" value="" placeholder="输入上次登录时间" class="layui-input" lay-key="28">
            </div>
        </div></div><div class="layui-form-item layui-inline" style="margin-left: 80px;">
            <button type="submit" class="layui-btn layui-btn-green" data-type="tableSearch" data-tableid="list" lay-submit="submit" lay-filter="list_filter">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary" data-type="tableReset" data-tableid="list" lay-filter="list_filter">重置</button>
        </div></div></form></fieldset>
</script>