<style>
  .fly-footer{
    text-align: center;
    line-height: 30px;
    border-top: none;
    background: #393D49;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .fly-footer a{
    color: #aaa;
  }
</style>

<div class="fly-footer">
  <p>
    <a href="javascript:;" target="_blank">Powered by FunAdmin</a>  <a href="javascript:;" target="_blank">2018-2028 &copy;</a></p>
  <p>
    <a href="javascript:;" >版权所有:FunAdmin版权所有</a>
    <a href="http://www.funadmin.com/" title="funadmin官网">funadmin官网</a>
    <a href="https://jq.qq.com/?_wv=1027&k=5wj2Wdy" title="获取源码">社区插件授权获取源码</a>
    <a href="http://www.Funadmin.com/" title="开源后台管理系统">开源后台管理系统</a>
    <a href="https://demo.funadmin.com/admin.php" title="php cms 后台管理系统">php后台管理系统</a>
    <a href="http://www.beian.miit.gov.cn">粤ICP备19106066号</a>
  </p>
</div>