<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
  <li class="layui-nav-item">
    <a href="{:__u('member/home')}">
      <i class="layui-icon">&#xe609;</i>
      我的主页
    </a>
  </li>
  <li class="layui-nav-item  {if $action=='index'}layui-this{/if}">
    <a href="{:__u('member/index')}">
      <i class="layui-icon">&#xe612;</i>
      用户中心
    </a>
  </li>
  <li class="layui-nav-item {if $action=='set'}layui-this{/if}">
    <a href="{:__u('member/set')}">
      <i class="layui-icon">&#xe620;</i>
      基本设置
    </a>
  </li>
<!--  <li class="layui-nav-item {if $action=='bbs'}layui-this{/if}">-->
<!--    <a href="{:__u('member/bbs')}">-->
<!--      <i class="layui-icon">&#xe620;</i>-->
<!--      我的帖子-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="layui-nav-item {if $action=='message'}layui-this{/if}">-->
<!--    <a href="{:__u('member/message')}">-->
<!--      <i class="layui-icon">&#xe611;</i>-->
<!--      我的消息-->
<!--    </a>-->
<!--  </li>-->
</ul>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>