<form class="layui-form" lay-filter="form">
    {:form_input('name','text',['verify'=>'required','tips'=>'name must be greater than 6 digits and less than 25 digits'] )}
    {:form_input('tablename','text',['verify'=>'required','tips'=>'请加上 addons_cms_ 前缀','label'=>"tablename"] )}
    {:form_input('title','text',['verify'=>'required','tips'=>'name must be greater than 6 digits and less than 25 digits'] )}
    {:form_input('seotitle','text',['verify'=>'','tips'=>'name must be greater than 6 digits and less than 25 digits'] )}
    {:form_input('keywords','text',['verify'=>'','tips'=>'name must be greater than 6 digits and less than 25 digits'] )}
    {:form_textarea('intro',['verify'=>'','label'=>'SEO Intro','tips'=>'SEO Intro'],'')}
    {:form_radio('needlogin',[0=>'no',1=>'yes'],['verify'=>'required','label'=>'Status'],1)}
    {:form_input('successtips','text',['verify'=>'','tips'=>'Successful jump prompt'] )}
    {:form_input('redirecturl','text',['verify'=>'','tips'=>'Successful jump prompt'] )}
    {:form_radio('status',[0=>'open',1=>'close'],['verify'=>'required','label'=>'Status'],1)}
    {:form_submitbtn()}


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('template')}</label>
        <div class="layui-input-inline">
            <input type="text" value="" name="template" placeholder="{:lang('pleaseEnter')}{:lang('redirecturl')}"  lay-verify="" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
           模板
        </div>
    </div>

</form>

