
<table class="layui-table" id="list" lay-filter="list"></table>



<script type="text/html" id="action">
    <a data-href="{:url('fieldslist')}?id={{d.id}}" class="layui-btn layui-btn-xs" lay-event="edit">{:lang('edit')}</a>
    <a data-href="{:url('datalist')}?id={{d.id}}" class="layui-btn layui-btn-xs" lay-event="edit">{:lang('edit')}</a>
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs" lay-event="edit">{:lang('edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>

<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="link">
    <a target="_blank" href="{{d.url}}">{{d.url}}</a>
</script>
<script type="text/html" id="time">
    {{layui.util.toDateString(d.create_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>

{include file="common/footer"/}
<script>
    var tableIn;
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin: 'Admin'
    }).use(['element','Admin','table'], function () {
        var $ = layui.jquery,
            table = layui.table;
        tableIn = table.render({
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', title: 'ID', width: 80, fixed: true, sort: true},
                {field: 'tablename', title: '表名', width: 180, },
                {field: 'name', title: '表单名称', width: 150, fixed: true,},
                {field: 'title', title: '标题', width: 180,},
                {field: 'status', title: '状态', width: 180, templet:'#status'},
                {field: 'create_time', title: '添加时间', width: 180,templet:'#time'},
                // {field: 'update_time', title: '修改时间', width: 180,templet:'#time'},
                {title:'操作',width:150, toolbar: '#action',align:"center"} ,

            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true

        });



    });


</script>