<div class="fun-main">
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>


<script>
    var tableIn;
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin: 'Admin'
    }).use(['element','Admin','table'], function () {
        var $ = layui.jquery,
            table = layui.table;
        tableIn = table.render({
            elem: '#list',
            url: '{:url("field")}?id='+'{$moduleid}',
            method: 'post',
            toolbar: true,
            autoSort: false,
            page:false,
            cols: [[
                {field: 'id', title: '{:lang("id")}', width:90, fixed: true,sort:true,},
                // {field: 'moduleid', title: '{:lang("moduleid")}', width: 120},
                {field: 'name', title: '{:lang("field")} {:lang("name")}', width: 120,sort:true},
                {field: 'field', title: '{:lang("field")}', width: 120,sort:true},
                // {field: 'maxlength', title: '{:lang("maxlength")}', width: 50,sort:true},
                {field: 'msg', title: '{:lang("msg")}', width: 180,sort:true},
                // {field: 'rule', title: '{:lang("rule")}', width: 180},
                {field: 'type', title: '{:lang("type")}', width: 180,sort:true},
                {field: 'value', title: '{:lang("value")}', width: 180,sort:true},
                {field: 'required', title: '{:lang("required")}', width: 100,templet:'#required',sort:true,},
                {field: 'sort', title: '{:lang("sort")}', width: 80,templet: '#sort',sort:true},
                {field: 'status', align: 'center',title: '{:lang("status")}', width: 120,templet: '#status',sort:true},
                // {field: 'status', align: 'center',title: '{:lang("status")}', width: 120,sort:true},
                {title:'操作',width: 220, align: 'center', toolbar: '#action'}
            ]]
        });
    })
</script>