<style>
#frame {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3
}
.layui-input-block{
    margin-left: 0;
}</style>
<div class="fun-main">
    <div class="well" id="frame">
        <iframe name="resultframe" frameborder="0" id="resultframe" style="height:100%;" width="100%" height="100%">
        </iframe>
    </div>
    <form class="layui-form" action="/addons/database/backend/index/querysql" method="post"  name="form" target="resultframe">
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea name="sql" placeholder="{:lang('Input Sql ;If More Use `;` To Separate')}" class="layui-textarea"></textarea>
            </div>
        </div>
        {:form_submitbtn()}
    </form>
</div>
