<div class="fun-main">
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>

<script type="text/html" id="action">
    <a data-href='{:url("fieldEdit")}?id={{d.id}}' class="layui-btn layui-btn-xs" lay-event="edit">{:lang('edit')}</a>
    {{# if(d.del==1){ }}
    <a data-href="{:url('fieldDel')}?id={{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
    {{# }else{ }}
     <a data-href="{:url('fieldDel')}?id={{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled"  >{:lang('del')}</a>

    {{# }}}
</script>
<script type="text/html" id="sort">
    <input data-href="{:url("fieldSort")}" name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>
<script type="text/html" id="required">
    <input  type="checkbox" name="required"  value="{{d.id}}" lay-skin="switch" lay-text="必须|非必须" lay-filter="required" disabled {{ d.required == 1 ? 'checked' : '' }}/>
</script>
<script type="text/html" id="status">
    <input  data-href="{:url('fieldState')}?id={{d.id}}" type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|禁用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script>
    var moduleid = {$moduleid}
</script>