<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>lemo bbs社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="funadmin,lemomall,php开发社区">
  <meta name="description" content="lemo社区是funadmin官方社区，致力于为php开发提供强劲动力">
  {include file='common/link' /}
</head>
<body>
{include file='common/header' /}

{include file='common/column' /}

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
<!--      轮播-->
      <div class="fly-panel layui-hide-xs">
        <div class="layui-row fly-panel-main" style="padding: 15px;">
          <div class="layui-carousel fly-topline" id="FLY_topline" lay-arrow="hover" lay-filter="FLY_topline" style="width: 100%; height: 172px;">
            <div carousel-item="">
              {volist name="adv" id="vo"}
              <div time-limit="{:time()}" >
                <a href="{$vo.ad_link}" target="_blank" rel="nofollow"> <img src="{$vo.ad_image}" alt="funadmin"> </a>
              </div>
              {/volist}
            </div>
          </div>
        </div>
      </div>
<!--轮播结束-->
<!--      置顶-->
      <div class="fly-panel">
        <div class="fly-panel-title fly-filter">
          <a>置顶</a>
          <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin" style="color: #FF5722;">去签到</a>
        </div>
        <ul class="fly-list">
          {volist name='top' id='vo'}

          <li>
            <a href="{:url('user/home/',['id'=>$vo.user_id])}" class="fly-avatar">
              <img src="{$vo['user']['avatar']?$vo['user']['avatar']:'https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg'}" alt="{$vo['user']['username']}">
            </a>
            <h2>
              <a class="layui-badge">{$vo.cate.title}</a>
              <a href="{:url('bbs/detail',['id'=>$vo.id])}">{$vo.title}</a>
            </h2>
            <div class="fly-list-info">
              <a href="{:url('user/home/',['id'=>$vo.user_id])}" link>
                <cite>{$vo['user']['username']}</cite>
                <i class="iconfont icon-renzheng" title="认证信息："></i>
                <i class="layui-badge fly-badge-vip">VIP{$vo.user.level_id}</i>
              </a>
              <span>{:timeAgo($vo.create_time)}</span>
              {if $vo.score >0 }
              <span class="fly-list-kiss layui-hide-xs" title="悬赏L币"><i class="iconfont icon-kiss"></i> { $vo.score}</span>
              {/if}
              {if $vo.is_solved ==1}
              <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
              {/if}
              <span class="fly-list-nums"> 
                <i class="iconfont icon-pinglun1" title="回答"></i> {$vo.comment_count}
              </span>
            </div>
            <div class="fly-list-badge">
              {if $vo.is_top ==1}
              <span class="layui-badge layui-bg-black">置顶</span>

              {/if}
              {if $vo.is_fine ==1}
              <span class="layui-badge layui-bg-red">精帖</span>
              {/if}
            </div>
          </li>
          {/volist}
        </ul>
      </div>
      <!--      置顶end-->

      <!--      普通-->
      <div class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <a href="{:url('bbs/index')}" class="layui-this">综合</a>
          <span class="fly-mid"></span>
          <a href="{:url('bbs/index',['is_solved'=>0])}">未结</a>
          <span class="fly-mid"></span>
          <a href="{:url('bbs/index',['is_solved'=>1])}">已结</a>
          <span class="fly-mid"></span>
          <a href="{:url('bbs/index',['is_fine'=>1])}">精华</a>
          <span class="fly-filter-right layui-hide-xs">
            <a href="{:url('')}" class="{if !input('hot') } layui-this {/if}" >按最新</a>
            <span class="fly-mid"></span>
            <a href="{:url('')}?hot=1" class=" {if input('hot') } layui-this {/if}">按热议</a>
          </span>
        </div>

        <ul class="fly-list">
          {if input('hot')} {php}$all=$hots;{/php} {/if}
          {volist name='all' id='vo'}
          <li>
            <a href="{:url('user/home/',['id'=>$vo.user_id])}" class="fly-avatar">
              <img src="{$vo['user']['avatar']?$vo['user']['avatar']:'https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg'}" alt="{$vo['user']['username']}">
            </a>
            <h2>
              <a class="layui-badge">{$vo.cate.title}</a>
              <a href="{:url('bbs/detail',['id'=>$vo.id])}">{$vo.title}</a>
            </h2>
            <div class="fly-list-info">
              <a href="{:url('user/home/',['id'=>$vo.user_id])}" link>
                <cite>{$vo.user.username}</cite>
                <i class="iconfont icon-renzheng" title="认证信息："></i>
                <i class="layui-badge fly-badge-vip">VIP{$vo['user']['level_id']}</i>
              </a>
              <span>{:timeAgo($vo.create_time)}</span>
              {if $vo.score >0 }
              <span class="fly-list-kiss layui-hide-xs" title="悬赏L币"><i class="iconfont icon-kiss"></i>{$vo.score}</span>
              {/if}
              {if $vo.is_solved ==1}
              <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
              {/if}
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> {$vo.comment_count}
              </span>
            </div>
            <div class="fly-list-badge">
              {if $vo.is_top ==1}
              <span class="layui-badge layui-bg-black">置顶</span>

              {/if}
              {if $vo.is_fine ==1}
              <span class="layui-badge layui-bg-red">精帖</span>
              {/if}
            </div>
          </li>
          {/volist}
        </ul>
        <div style="text-align: center">
          <div class="laypage-main">
            <a href="{:url('bbs/index')}" class="laypage-next">更多</a>
          </div>
        </div>

      </div>
<!--      普通end-->
    </div>
    <div class="layui-col-md4">
      <div class="fly-panel">
        <h3 class="fly-panel-title">温馨通道</h3>
        <ul class="fly-panel-main fly-list-static">
          <li>
            <a href="https://gitee.com/limingyue0312/funadmin" target="_blank">funadmin 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
          </li>
          <li>
            <a href="https://jq.qq.com/?_wv=1027&k=5wj2Wdy" target="_blank">funadmin 社区插件 授权获取源码</a>
          </li>

        </ul>
      </div>

      <div class="fly-panel fly-signin">
        <div class="fly-panel-title">
          签到
          <i class="fly-mid"></i> 
          <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
          <i class="fly-mid"></i> 
          <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
          <span class="fly-signin-days">已连续签到<cite></cite>天</span>
        </div>
        <div class="fly-panel-main fly-signin-main">
          <i class="layui-icon fly-loading"></i>
          <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>
          <span>可获得<cite></cite>L币</span>
          
          <!-- 已签到状态 -->
          <!--
          <button class="layui-btn layui-btn-disabled">今日已签到</button>
          <span>获得了<cite>20</cite>飞吻</span>
          -->
        </div>
      </div>
<!--      回贴周榜-->
      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">回贴周榜</h3>
        <dl>
          <i class="layui-icon fly-loading">&#xe63d;</i>

        </dl>
      </div>
<!--      本周热议-->
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>

        {if $hots}
        {volist name="hots" id="vo"}
        <dd>
          <a href="{:url('bbs/detail',['id'=>$vo.id])}">{$vo.title}</a>
          <span><i class="iconfont icon-pinglun1"></i> {$vo.comment_count}</span>
        </dd>
        {/volist}
        {else /}
        <!-- 无数据时 -->

        <div class="fly-none">没有相关数据</div>

        {/if}

      </dl>

      {include file='common/adv' /}

      {include file='common/friend' /}


    </div>
  </div>
</div>



{include file='common/footer' /}


</body>
</html>