<style> .layui-iconpicker-body.layui-iconpicker-body-page .hide {display: none;}</style>
<blockquote class="layui-elem-quote">
    1、控制器/方法 例如 Wechat/index 或者多级 wechat.sys/index,注意大小写
</blockquote>
<form class="layui-form" lay-filter="form">
    {:form_xmselect('pid',[],['url'=>__u('index'),'verify'=>'',"radio"=>1,'tree'=>true],['title','id'],$formData?$formData['pid']:'')}
    {:form_input('title','text',['verify'=>'required','label'=>"Name"])}
    {:form_input('href','text',['verify'=>'required','tips'=>'Controller/Action'])}
    {:form_input('module','text',['verify'=>'required','tips'=>'module (backend || appname)'],'backend')}
    {:form_icon('icon',[],$formData?$formData.icon:'')}
    {:form_radio('type',['NO(-节点)','YES(-菜单)'],['filter'=>'type','label'=>'IsMenu'],0)}
    {:form_radio('menu_status',['Close','Open'],['filter'=>'menu_status','label'=>'Menu Status'],0)}
    {:form_radio('target',['_self'=>'_self','_blank'=>'_blank','_top'=>'_top','_parent'=>'_parent'],['filter'=>'target'],'_self')}
    {:form_input('sort','text',['verify'=>'number'],999)}
    {:form_submitbtn()}
</form>
