<blockquote class="layui-elem-quote">
    路由权限示例：auth.admin/index；目录节点请将路由留空。权限保存后统一转为小写。
</blockquote>
<form class="layui-form" lay-filter="form">
    {:form_xmselect('pid',[],['url'=>__u('index'),'verify'=>'',"radio"=>1,'tree'=>true],['id','title'],$formData['pid']??'')}
    {:form_input('title','text',['verify'=>'required','label'=>"Name"],$formData['title']??'')}
    {:form_input('href','text',['verify'=>'','tips'=>'Controller/Action'],$formData['href']??'')}
    {:form_input('module','text',['verify'=>'required','tips'=>'backend 或应用名'],$formData['module']??'backend')}
    {:form_radio('is_public',['NO','YES'],['filter'=>'is_public','label'=>'登录后可'],$formData['is_public']??0)}
    {:form_input('sort','text',['verify'=>'number'],$formData['sort']??999)}
    {:form_submitbtn()}
</form>
