<style> .layui-iconpicker-body.layui-iconpicker-body-page .hide {display: none;}</style>
    <blockquote class="layui-elem-quote">
        1、控制器/方法 例如 Wechat/index
    </blockquote>
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">父级</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="required" lay-filter="pid">
                    <option value="0">—{:lang('Top')}—</option>
                    {volist name="ruleList" id="vo"}
                    <option value="{$vo.id}" {if $parent and $parent['id']==$vo.id} selected
                    {/if}>{$vo.lefthtml}{:lang($vo.title)}</option>
                    {/volist}
                </select>
            </div>
        </div>
        {:form_input('title','text',['verify'=>'required','label'=>"Name"])}
        {:form_input('href','text',['verify'=>'required','tips'=>'Controller/Action'])}
        {:form_input('module','text',['verify'=>'required','tips'=>'module (backend || addon || appname)'],'backend')}
        {:form_icon('icon')}
        {:form_radio('type',['NO(-节点)','YES(-菜单)'],['filter'=>'type','label'=>'IsMenu'],0)}
        {:form_radio('menu_status',['Close','Open'],['filter'=>'menu_status','label'=>'Menu Status'],0)}
        {:form_radio('target',['_self'=>'_self','_blank'=>'_blank','_top'=>'_top','_parent'=>'_parent'],
        ['filter'=>'target'],'_self')}
        {:form_input('sort','text',['verify'=>'number'])}
        {:form_submitbtn()}
    </form>
