<blockquote class="layui-elem-quote">
    路由权限示例：auth.admin/index；目录节点请将路由留空。权限保存后统一转为小写。
</blockquote>
<form class="layui-form" lay-filter="form">
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('Pid')}</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" value="{:lang($parent.title)}" disabled>
            <input type="hidden" name="pid" value="{$parent.id}">
        </div>
    </div>
    {:form_input('title','text',['verify'=>'required','label'=>"Name"])}
    {:form_input('href','text',['verify'=>'','tips'=>'Controller/Action'])}
    {:form_input('module','text',['verify'=>'required','tips'=>'backend 或应用名'],$parent['module']??'backend')}
    {:form_radio('is_public',['NO','YES'],['filter'=>'is_public','label'=>'登录免授权'],0)}
    {:form_input('sort','text',['verify'=>'number'],999)}
    {:form_submitbtn()}
</form>
