<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:syscfg('site','sys_name')}后台管理</title>
    <meta property="og:keywords" content="{:syscfg('site','site_seo_keywords')}" />
    <meta property="og:description" content="{:syscfg('site','site_seo_desc')}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name=App-Config content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta content=yes name=apple-mobile-web-app-capable>
    <meta content=yes name=apple-touch-fullscreen>
    <meta content="telephone=no,email=no" name=format-detection>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="referrer" content="never">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__CDN____PLUGINS__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/comm.css" media="all">
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/global.css" media="all" />
    <script src="__CDN____STATIC__/plugins/jquery/jquery-3.6.0.min.js"></script>
    <script src="__CDN____PLUGINS__/layui/layui.js" charset="utf-8"></script>
    {:token_meta()}
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script>
    window.Config = {:json_encode($config)};
    window.Config.formData = {:isset($formData)?(json_encode($formData)):'""'},
    window.STATIC ='__STATIC__'
    window.PLUGINS = '__PLUGINS__';
</script>