<script type="text/html" id="login_tpl">
  <style>
    .header.layui-card-body{
      background-color: #fcf8e3;
      border-color: #faf3cd;
      color: #c09853;
      padding: 20px;
    }
  </style>
  <div>
    <div class="layui-card">
      <div class="layui-card-body header" >
          温馨提示
          <br>
          此处账号为: <a class="layui-font-14" target="_blank" href="http://www.FunAdmin.com">《FunAdmin云平台账号》</a>
      </div>
      <form class="layui-form" action="">
      <div class="layui-card-body">
          <div class="layui-form-item">
            <div class="layui-inline-block layui-input-wrap layui-input-wrap-prefix">
              <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-username"></i>
              </div>
              <input id="inputUsername" type="text" name="username" value="" lay-verify="required" placeholder="{:lang('UserName Or Email')}" autocomplete="off" class="layui-input" lay-affix="clear">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline-block layui-input-wrap layui-input-wrap-prefix">
              <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-password"></i>
              </div>
              <input id="inputPassword" type="password" name="password" lay-verify="pass" value="" lay-verify="required"  placeholder="{:lang('Password')}" autocomplete="off" class="layui-input" lay-affix="eye">
            </div>
          </div>
      </div>
      </form>

    </div>
  </div>
</script>


<script type="text/html" id="memberinfo_tpl">
  <style>
    .header.layui-card-body{
      background-color: #fcf8e3;
      border-color: #faf3cd;
      color: #c09853;
      padding: 20px;
    }
  </style>
  <div>
    <div class="layui-card">
      <div class="layui-card-body header">
          <h3>温馨提示</h3>
          您的账号为: <a class="" target="_blank" href="">{$account?$account.username:''}</a>
          <br>
          您已经登录   <a class="" target="_blank" href="https://www.funadmin.com">  FunAdmin  </a>云平台账号，<a class="" target="_blank" href="https://www.funadmin.com">  点击查看您的订单  </a>
      </div>
    </div>
  </div>
</script>
