<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:config('admin.sys_name')}后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/backend/css/comm.css?v={:time()}" media="all">
    <link rel="stylesheet" href="__PLUGINS__/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    {:token_meta()}
</head>
<body>

<div class="speed-container" id="app">

{__CONTENT__}


</div>
</body>
</html>
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>

    window.Config = {:json_encode($config)};
    window.Config.formData = {:isset($formData)?(json_encode($formData)):'""'},
    window.STATIC ='__STATIC__'
    window.ADDONS = '__ADDONS__'
    window.PLUGINS = '__PLUGINS__';
</script>

<script src="__PLUGINS__/layui/layui.all.js" charset="utf-8"></script>
<script src="__PLUGINS__/require-2.3.6/require.js?v={$config['site']['site_version']}"  charset="utf-8"></script>
<script src="__STATIC__/require-backend.js?v={$config['site']['site_version']}" charset="utf-8"></script>

