<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{:syscfg('site','sys_name')}后台管理</title>
    <meta property="og:keywords" content="{:syscfg('site','site_seo_keywords')}" />
    <meta property="og:description" content="{:syscfg('site','site_seo_desc')}" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="referrer" content="never">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="__CDN____PLUGINS__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/comm.css?v={:syscfg('site','site_version')}" media="all">
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/global.css?v={:syscfg('site','site_version')}" media="all" />
    <script src="__CDN____STATIC__/plugins/jquery/jquery-3.6.0.min.js"></script>
    <script src="__CDN____PLUGINS__/layui/layui.js" charset="utf-8"></script>
    {:token_meta()}
</head>
<script>
    window.Config = {:json_encode($config)};
    window.Config.formData = {:isset($formData)?(json_encode($formData)):'""'},
    window.STATIC ='__STATIC__'
    window.PLUGINS = '__PLUGINS__';
</script>
<body style="padding: 10px;background: #fff">

<div class="fun-container" id="app" style="">

{__CONTENT__}

</div>
</body>
</html>
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script defer src="__CDN____STATIC__/require.min.js?v={:syscfg('site','site_version')}" data-main="__CDN____STATIC__/js/require-backend{:syscfg('site','app_debug')?'':'.min'}.js?v={:syscfg('site','app_debug')?time():syscfg('site','site_version')}" charset="utf-8"></script>
