<fieldset class="layui-elem-field layui-field-title">
<legend>插件配置-{$title}</legend>
</fieldset>
<form class="layui-form" lay-filter="form">
{foreach name="formData" item="vo" key="k"}
{switch name="$vo.type"}
{case value="text"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.title}</label>
    <div class="layui-input-inline">
        <input type="text" name="params[{$k}]" lay-verify="{$vo.rule}" placeholder="请输入{$vo.title}" autocomplete="off" class="layui-input" value="{$vo.value}">
    </div>
    <div class="layui-form-mid layui-word-aux">{if $vo.tips}{$vo.tips|raw}{/if}</div>
</div>
{/case}
{case value="textarea"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.title}</label>
    <div class="layui-input-inline">
        <textarea name="params[{$k}]" placeholder="请输入{$vo.title}" lay-verify="{$vo.rule}" class="layui-textarea" >{$vo.value}</textarea>
    </div>
    <div class="layui-form-mid layui-word-aux">{if $vo.tips}{$vo.tips|raw}{/if}</div>
</div>
{/case}
{case value="password"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.title}</label>
    <div class="layui-input-inline">
        <input type="password" name="params[{$k}]" lay-verify="{$vo.rule}" placeholder="请输入{$vo.title}" autocomplete="off" class="layui-input" value="{$vo.value}">
    </div>
    <div class="layui-form-mid layui-word-aux">{if $vo.tips}{$vo.tips|raw}{/if}</div>
</div>
{/case}
{case value="radio"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.title}</label>
    <div class="layui-input-inline">
        {foreach name="vo.content" item="v" key="_k"}
        <input type="radio" name="params[{$k}]" lay-verify="{$vo.rule}" value="{$_k}" title="{$v}" {eq name="vo.value" value="$_k"} checked{/eq}>
        {/foreach}
    </div>
    <div class="layui-form-mid layui-word-aux">{if $vo.tips}{$vo.tips|raw}{/if}</div>
</div>
{/case}
{case value="select"}
    {:form_upload("params[{$k}]",$vo.value,['label'=>"params[{$k}]",'tips'=>$vo.tips,'type'=>'radio','num'=>'1','mime'=>'image'])}

    <div class="layui-form-item">
    <label class="layui-form-label">{$vo.title}</label>
    <div class="layui-input-inline">
        <select name="params[{$k}]" lay-verify="{$vo.rule}">
            <option value=""></option>
            {foreach name="vo.content" item="v" key="_k"}
            <option value="{$_k}" {eq name="vo.value" value="$_k"}selected{/eq}>{$v}</option>
            {/foreach}
        </select>
    </div>
    <div class="layui-form-mid layui-word-aux">{if $vo.tips}{$vo.tips|raw}{/if}</div>
</div>
{/case}
{case value="image"}
{:form_upload("params[{$k}]",$vo.value,['label'=>"params[{$k}]",'tips'=>$vo.tips,'type'=>'radio','num'=>'1','mime'=>'image'])}
{/case}
{case value="images"}
{:form_upload("params[{$k}]",$vo.value,['label'=>"params[{$k}]",'tips'=>$vo.tips,'type'=>'checkbox','num'=>$vo.num?$vo.num:5,'mime'=>'image'])}
{/case}
{case value="file"}
{:form_upload("params[{$k}]",$vo.value,['label'=>"params[{$k}]",'tips'=>$vo.tips,'type'=>'radio','num'=>$vo.num?$vo.num:5,'mime'=>'*'])}
{/case}
{case value="files"}
{:form_upload("params[{$k}]",$vo.value,['label'=>"params[{$k}]",'tips'=>$vo.tips,'type'=>'checkbox','num'=>$vo.num?$vo.num:5,'mime'=>'*'])}
{/case}
{case value="editor"}
    {:form_editor("params[{$k}]","params[{$k}]",2,['tips'=>$vo.tips,'verify'=> 'required'])}
{/case}
{case value="array"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.title}</label>
    {php} $i=-1;{/php}
    {foreach name="vo.value" item="v" key="_k"}
    {php}$i++;{/php}
    <div class="layui-inline">
        <div class="layui-inline">
            <label class="layui-form-label">{:lang('Key')}</label>
            <div class="layui-input-inline">
                <input type="text" name="params[{$k}][{$i}][key]" lay-verify="{$vo.rule}" placeholder="请输入键" autocomplete="off" class="layui-input" value="{$_k}">                        </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">{:lang('Value')}</label>
            <div class="layui-input-inline">
                <input type="text" name="params[{$k}][{$i}][value]" lay-verify="{$vo.rule}" placeholder="请输入值" autocomplete="off" class="layui-input" value="{$v}">                        </div>
        </div>
        <div class="layui-inline">
            <i class="layui-icon layui-icon-add-1"></i>
            <i class="layui-icon layui-icon-close"></i>
        </div>
    </div>
    <hr>
    {/foreach}
    <label class="layui-form-label"></label>
    <div class="layui-inline">
        <div class="layui-inline">
            <label class="layui-form-label">Key</label>
            <div class="layui-input-inline">
                <input type="text" name="params[rewrite][0][key]" lay-verify="" placeholder="请输入键" autocomplete="off" class="layui-input" value="database/backend/index">                        </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">值</label>
            <div class="layui-input-inline">
                <input type="text" name="params[rewrite][0][value]" lay-verify="" placeholder="请输入值" autocomplete="off" class="layui-input" value="database/backend/index/index/index">                        </div>
        </div>
        <div class="layui-inline">
            <i class="layui-icon layui-icon-add-1"></i>
            <i class="layui-icon layui-icon-close"></i>
        </div>
    </div>
    <hr>
    <label class="layui-form-label"></label>
    <div class="layui-inline">
        <div class="layui-inline">
            <label class="layui-form-label">Key</label>
            <div class="layui-input-inline">
                <input type="text" name="params[rewrite][0][key]" lay-verify="" placeholder="请输入键" autocomplete="off" class="layui-input" value="database/backend/index">                        </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">值</label>
            <div class="layui-input-inline">
                <input type="text" name="params[rewrite][0][value]" lay-verify="" placeholder="请输入值" autocomplete="off" class="layui-input" value="database/backend/index/index/index">                        </div>
        </div>
        <div class="layui-inline">
            <i class="layui-icon layui-icon-add-1"></i>
            <i class="layui-icon layui-icon-close"></i>
        </div>
    </div>
    <div class="layui-form-mid layui-word-aux">{if $vo.tips}{$vo.tips|raw}{/if}</div>
</div>
{/case}
{/switch}
{/foreach}

<input type="hidden" name="id" value="{:input('id')}" >
<input type="hidden" name="name" value="{:input('name')}" >
{:form_submitbtn(true,['show'=>1])}
</form>
