<fieldset class="layui-elem-field layui-field-title">
    <legend>{:lang('Addon Config')}</legend>
</fieldset>
<form class="layui-form" lay-filter="form">
    {foreach name="formData" item="vo" key="k"}
    {php}$name = "params[".$k."]";{/php}
    {switch name="$vo.type"}
    {case value="text"}
    {:Form::text($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="textarea"}
    {:Form::textarea($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="password"}
    {:Form::password($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="tel"}
    {:Form::tel($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="email"}
    {:Form::email($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="range"}
    {:Form::range($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="color"}
    {:Form::color($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="tags"}
    {:Form::tags($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="rate"}
    {:Form::rate($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="icon"}
    {:Form::icon($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="date"}
    {:Form::date($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="city"}
    {:Form::city($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="region"}
    {:Form::region($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="radio"}
    {:Form::radio($name,$vo.content,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="checkbox"}
    {:Form::checkbox($name, $vo.content,['label'=>$vo.title, 'verify' =>$vo.rule,'tips'=>$vo.tips,], $vo['value'])};
    {/case}
    {case value="select"}
    {:Form::select($name,$vo.content,['label'=>$vo.title,'verify'=>$vo.rule,'tips'=>$vo.tips,'search'=>1] ,[],$vo.value)}
    {/case}
    {case value="selects"}
    {:Form::select($name,$vo.content,['label'=>$vo.title,'multiple'=>1,'verify'=>$vo.rule,'tips'=>$vo.tips,'search'=>1] ,[],$vo.value)}
    {/case}
    {case value="selectpage"}
    {:Form::select($name,$vo.content,['label'=>$vo.title,'multiple'=>$vo.multiple,'int'=>$vo.int?$vo.int:'','data'=>$vo.data?$vo.data:'','filed'=>$vo.filed?$vo.filed:'','primarykey'=>$vo.primarykey?$vo.primarykey:'','tips'=>$vo.tips] ,[],$vo.value)}
    {/case}
    {case value="autocomplete"}
    {:Form::select($name,$vo.content,['label'=>$vo.title] ,[],$vo.value)}
    {/case}
    {case value="xmselect"}
    {:Form::xmselect($name,$vo.content,['label'=>$vo.title] ,[],$vo.value)}
    {/case}
    {case value="image"}
    {:Form::upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'radio','num'=>'1','mime'=>'images'],$vo.value)}
    {/case}
    {case value="images"}
    {:Form::upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'checkbox','num'=>$vo.num,'mime'=>'images'],$vo.value)}
    {/case}
    {case value="file"}
    {:Form::upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'radio','num'=>$vo.num,'mime'=>'*'],$vo.value)}
    {/case}
    {case value="files"}
    {:Form::upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'checkbox','num'=>$vo.num,'mime'=>'*'],$vo.value,)}
    {/case}
    {case value="editor"}
    {:Form::editor($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule])}
    {/case}
    {case value="array"}
        {php}
            $list = [];
            $data = $vo['value']?$vo['value']:$vo['content'];
            foreach($data as $k=>$v){
                $list['key'][] = $k;
                $list['value'][] = $v;
            }
        {/php}
    {:Form::arrays($name,$list,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule])}
    {/case}
    {case value="arrays"}
        {php}
        $list = [];
        $data = $vo['value']?$vo['value']:$vo['content'];
        foreach($data as $k=>$v){
            $list['key'][] = $k;
            $list['value'][] = $v;
        }
        {/php}
    {:Form::arrays($name,$list,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule])}
    {/case}
    {/switch}
    {/foreach}
    <input type="hidden" name="id" value="{:input('id')}">
    <input type="hidden" name="name" value="{:input('name')}">
    {:Form::submit()}
</form>
