<fieldset class="layui-elem-field layui-field-title">
    <legend>{:lang('Addon Config')}</legend>
</fieldset>
<form class="layui-form" lay-filter="form">
    {foreach name="formData" item="vo" key="k"}
    {php}$name = "params[".$k."]";{/php}
    {switch name="$vo.type"}
    {case value="text"}
    {:form_input($name,'text',['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="textarea"}
    {:form_textarea($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="password"}
    {:form_input($name,'password',['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="tel"}
    {:form_tel($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="email"}
    {:form_email($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="range"}
    {:form_range($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="color"}
    {:form_color($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="tags"}
    {:form_tags($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="rate"}
    {:form_rate($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="icon"}
    {:form_icon($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="date"}
    {:form_date($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="city"}
    {:form_city($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="region"}
    {:form_region($name,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="radio"}
    {:form_radio($name,$vo.content,['label'=>$vo.title,'tips'=>$vo.tips],$vo.value)}
    {/case}
    {case value="checkbox"}
    {:form_checkbox($name, $vo.content,['label'=>$vo.title, 'verify' =>$vo.rule,'tips'=>$vo.tips,], $vo['value'])};
    {/case}
    {case value="select"}
    {:form_select($name,$vo.content,['label'=>$vo.title,'verify'=>$vo.rule,'tips'=>$vo.tips,'search'=>1] ,[],$vo.value)}
    {/case}
    {case value="selects"}
    {:form_select($name,$vo.content,['label'=>$vo.title,'multiple'=>1,'verify'=>$vo.rule,'tips'=>$vo.tips,'search'=>1] ,[],$vo.value)}
    {/case}
    {case value="selectpage"}
    {:form_select($name,$vo.content,['label'=>$vo.title,'multiple'=>$vo.multiple,'int'=>$vo.int?$vo.int:'','data'=>$vo.data?$vo.data:'','filed'=>$vo.filed?$vo.filed:'','primarykey'=>$vo.primarykey?$vo.primarykey:'','tips'=>$vo.tips] ,[],$vo.value)}
    {/case}
    {case value="autocomplete"}
    {:form_select($name,$vo.content,['label'=>$vo.title] ,[],$vo.value)}
    {/case}
    {case value="xmselect"}
    {:form_xmselect($name,$vo.content,['label'=>$vo.title] ,[],$vo.value)}
    {/case}
    {case value="image"}
    {:form_upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'radio','num'=>'1','mime'=>'images'],$vo.value)}
    {/case}
    {case value="images"}
    {:form_upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'checkbox','num'=>$vo.num,'mime'=>'images'],$vo.value)}
    {/case}
    {case value="file"}
    {:form_upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'radio','num'=>$vo.num,'mime'=>'*'],$vo.value)}
    {/case}
    {case value="files"}
    {:form_upload($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule,'type'=>'checkbox','num'=>$vo.num,'mime'=>'*'],$vo.value,)}
    {/case}
    {case value="editor"}
    {:form_editor($name,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule])}
    {/case}
    {case value="array"}
    {:form_arrays($name,$vo.value?$vo.value:$vo.content,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule])}
    {/case}
    {case value="arrays"}
    {:form_arrays($name,$vo.value?$vo.value:$vo.content,['label'=>$vo.title,'tips'=>$vo.tips,'verify'=>$vo.rule])}
    {/case}
    {/switch}
    {/foreach}
    <input type="hidden" name="id" value="{:input('id')}">
    <input type="hidden" name="name" value="{:input('name')}">
    {:form_submitbtn()}
</form>
