
<div class="layui-container fly-marginTop">
	<div class="fly-panel">
	  <div class="fly-none">
          {if $info.code==0}
	         <h2><i class="iconfont icon-404"></i></h2>
          <p>{$info.msg}<a href="{:__u('member/activate')}" target="_blank" class="">重新激活</a></p>

          {else /}
          <h2><i class="iconfont layui-icon-ok" style="color: #009688"></i></h2>
          <p>{$info.msg}<a href="https://bbs.funadmin.com" target="_blank" class="">进入 funadmin-bbs 社区</a></p>
          {/if}

      </div>
	</div>
</div>
