
<div class="layui-container fly-marginTop fly-user-main">

    {include file="layout/member-nav" /}

    <div class="fly-panel fly-panel-user" pad20="" style="padding-top:20px;">
        {if !$member.email_validated}
        <div class="fly-msg" style="margin-bottom: 20px;"> 您的邮箱尚未验证，这比较影响您的帐号安全，<a href="{:__u('user/activate')}">立即去激活？</a>
        </div>
        {/if}
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md6">
                <div class="fly-panel fly-panel-border">
                    <div class="fly-panel-title"> 我的会员信息</div>
                    <div class="fly-panel-main layui-text" style="padding: 18px 15px; height: 50px; line-height: 26px;">
                        <p> 您的财富经验值：<span style="padding-right: 20px; color: #FF5722;">￥{$member.scores}</span> 您当前为：<i
                                class="layui-badge fly-badge-vip">VIP{$member.level_id}</i></p>
<!--                        <p> 您拥有社区L币：<span style="color: #FF7200; padding-right: 5px;">{$member.scores}L币</span>-->
                            <!--              <a href="/order/bill?itemid=16" target="_blank"-->
                            <!--                 class="layui-btn layui-btn-warm layui-btn-xs">充值</a>-->
<!--                        </p>-->
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="fly-panel fly-signin fly-panel-border">
                    <div class="fly-panel-title"> 签到 <i class="fly-mid"></i> <a href="javascript:;" class="fly-link"
                                                                                id="LAY_signinHelp">说明</a> <i
                            class="fly-mid"></i> <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span
                            class="layui-badge-dot"></span></a> <span
                            class="fly-signin-days">已连续签到<cite>0</cite>天</span></div>
                    <div class="fly-panel-main fly-signin-main">
                        <button class="layui-btn layui-btn-disabled">今日已签到</button>
                        <span>获得了<cite>0</cite>L币</span></div>
                </div>
            </div>
            <div class="layui-col-md12" style="margin-top: -20px;">
                <div class="fly-panel fly-panel-border">
                    <div class="fly-panel-title"> 快捷方式</div>
                    <div class="fly-panel-main">
                        <ul class="layui-row layui-col-space10 fly-shortcut">
                            <li class="layui-col-sm3 layui-col-xs4"><a href="{:__u('member/set')}"><i
                                    class="layui-icon"></i><cite>修改信息</cite></a></li>
                            <li class="layui-col-sm3 layui-col-xs4"><a href="{:__u('member/set')}#avatar"><i
                                    class="layui-icon"></i><cite>修改头像</cite></a></li>
                            <li class="layui-col-sm3 layui-col-xs4"><a href="{:__u('member/set')}#pass"><i
                                    class="layui-icon"></i><cite>修改密码</cite></a></li>
                            <!--              <li class="layui-col-sm3 layui-col-xs4"><a href="{:__u('member/set')}#bind"><i-->
                            <!--                      class="layui-icon"></i><cite>帐号绑定</cite></a></li>-->
                            <li class="layui-col-sm3 layui-col-xs4"><a href="{:__u('bbs/add')}"><i
                                    class="layui-icon"></i><cite>发表新帖</cite></a></li>
                            <!--              <li class="layui-col-sm3 layui-col-xs4"><a href="/column/share/"><i-->
                            <!--                      class="layui-icon"></i><cite>查看分享</cite></a>-->
                            <!--              </li>-->
                            <!--              <li class="layui-col-sm3 layui-col-xs4 LAY_search"><a href="javascript:;"><i-->
                            <!--                      class="layui-icon"></i><cite>搜索资源</cite></a></li>-->
                            <li class="layui-col-sm3 layui-col-xs4"><a href="{:__u('member/bbs')}#collection"><i
                                    class="layui-icon"></i><cite>我的收藏</cite></a></li>
                            <!--              <li class="layui-col-sm3 layui-col-xs4"><a href="/jie/15697/"><i-->
                            <!--                      class="layui-icon"></i><cite>成为赞助商</cite></a></li>-->
                            <!--              <li class="layui-col-sm3 layui-col-xs4"><a href="/jie/2461/"><i-->
                            <!--                      class="layui-icon"></i><cite>关注公众号</cite></a></li>-->
                            <li class="layui-col-sm3 layui-col-xs4"><a
                                    href="https://gitee.com/limingyue0312/funadmin/tree/master/docs"><i
                                    class="layui-icon"></i><cite>文档</cite></a></li>
                            <li class="layui-col-sm3 layui-col-xs4"><a
                                    href="https://demo.funadmin.com/index.php/admin"><i
                                    class="layui-icon"></i><cite>示例</cite></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="layout/footer" /}
