
<div class="layui-container fly-marginTop fly-user-main">

  {include file="layout/member-nav" /}

  
  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <!--<div class="fly-none">您暂时没有最新消息</div>-->
        <ul class="mine-msg">
          {volist name="message" id="vo"}
          {switch $vo.type}
          {case 0}
          <li data-id="{$vo.id}">
            <blockquote class="layui-elem-quote">
              系统消息：{$vo.content}
            </blockquote>
            <p><span>{:timeAgo($vo.create_time)}</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
          {/case}
          {case 1}
          {php}$username =_getMember($vo['send_id']); {/php}
          <li data-id="{$vo.id}">
            <blockquote class="layui-elem-quote">
              <a href="{:__u('member/home')}?name={$username['username']}" target="_blank"><cite>{$username['username']}</cite></a>{$vo.content}<a target="_blank" href="{:__u('bbs/detail',['id'=>$vo.bbs_id])}"><cite>{$vo['bbs']['title']}</cite></a>
            </blockquote>
            <p><span>{:timeAgo($vo.create_time)}</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
          {/case}

          {case 2}
          <li data-id="{$vo.id}">
            <blockquote class="layui-elem-quote">
              <a href="{:__u('member/home')}?name={:_getMember($vo.send_id)['username']}" target="_blank"><cite>{:_getMember($vo.send_id)['username']}</cite></a>{$vo.content}<a target="_blank" href="{:__u('bbs/detail')}?id={$vo.bbs_id}"><cite>{$vo['article']['title']}</cite></a>
            </blockquote>
            <p><span>{:timeAgo($vo.create_time)}</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
          {/case}

          {/switch}


          {/volist}
        </ul>
          {$message|raw}
      </div>
	  </div>
	</div>

</div>
