{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>文章{:lang('list')}</legend>
            <blockquote class="layui-elem-quote">
                <div class="LM-table">

                    <div class="layui-inline">
                            <input type="text" id='keys' name="keys" lay-verify="required" placeholder="{:lang('pleaseEnter')}" autocomplete="off" class="layui-input">

                    </div>
                    <button class="layui-btn data-add-btn layui-btn-sm" lay-submit="" lay-filter="search" id="search">{:lang('search')}</button>
                    <a data-href="{:url('add')}"  class="layui-btn layui-btn-sm layui-btn-warm add">{:lang('add')}文章</a>

                </div>
              </blockquote>

        </fieldset>

        <table class="layui-table" id="list" lay-filter="list"></table>
    </div>
</div>


<script type="text/html" id="action">
    <a data-href="{:url('edit')}?id={{d.id}}" class="layui-btn  layui-btn-xs" lay-event="edit">{:lang('edit')}</a>
    <a data-href="{:url('delete')}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" data-href="{:url('state')}" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="is_fine">
    <input type="checkbox" data-href="{:url('state')}" name="is_fine" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.is_fine == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="is_top">
    <input type="checkbox"  name="is_top" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.is_top == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="is_solved">
    <input type="checkbox" data-href="{:url('state')}" name="is_solved" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.is_solved == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="thumb">
    {{d.title}}<img src="/static/admin/images/image.gif" onmouseover="layer.tips('<img src={{d.thumb}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">
</script>
<script type="text/html" id="start_time">
    {{layui.util.toDateString(d.start_time*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>

<script type="text/html" id="publish_time">
    {{layui.util.toDateString(d.publish_time*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>
<script type="text/html" id="create_time">
    {{layui.util.toDateString(d.create_time*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>
<!--<script type="text/html" id="update_time">-->
<!--    {{layui.util.toDateString(d.update_time*1000, 'yyyy-MM-dd HH:mm:ss')}}-->
<!--</script>-->
{include file="common/footer"/}
<script>
    var tableIn=null;
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin:'Admin',
    }).use(['table','Admin'], function () {
            table = layui.table;

         tableIn = table.render({
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', title: 'ID', width: 80, fixed: true, sort: true},
                {field: 'user_id', title: '用户id', width: 80, fixed: true,},
                {field: 'cate_name', title: '分类名称', width: 120, fixed: true,},
                {field: 'title', title: '标题', width: 250},
                // {field: 'content', title: '内容', width: 220, templet:'#link'},

                // {field: 'keywords', title: '关键词', width: 180},
                // {field: 'thumb', title: '缩略图', width: 180, templet:'#thumb'},
                {field: 'click', title: '点击量', width: 80},
                {field: 'status', title: '状态', width: 180, templet:'#status'},
                {field: 'is_fine', title: '精品', width: 180, templet:'#is_fine'},
                {field: 'is_solved', title: '解决', width: 180, templet:'#is_solved'},
                {field: 'is_top', title: '置顶', width: 180, templet:'#is_top'},
                // {field: 'publish_time', title: '发布时间', width: 180, templet:'#publish_time'},
                {field: 'create_time', title: '添加时间', width: 180,templet:'#create_time'},
                // {field: 'update_time', title: '修改时间', width: 180,templet:'#update_time'},
                {title:'操作',width:100, toolbar: '#action',align:"center"}

            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });

    });


</script>