{include file="common/header"/}
<div class="lemo-container">
    <div class="lemo-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{$title}</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form" method="post">
                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <label class="">标题&nbsp;<font color="red">*</font></label>
                        <div class="layui-form-field-label">
                            <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="">SEO关键词</label>
                        <div class="layui-form-field-label">
                            <input type="text" name="keywords" placeholder="请输入SEO关键词" autocomplete="off" class="layui-input" value="">
                        </div>
                        <div class="layui-form-mid layui-word-aux">多关键词之间用空格或者“,”隔开</div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="">SEO摘要</label>
                        <div class="layui-form-field-label">
                            <textarea placeholder="请输入SEO摘要" class="layui-textarea" name="description"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text"">
                        <label class="layui-form-label">缩略图</label>
                        <input type="hidden" name="thumb" id="avatar" value="">
                        <div class="layui-input-inline">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-primary" data-path="cms" id="uploads"><i class="icon icon-upload3"></i>点击上传</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="addPic">
                                    <p id="notice"></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item layui-form-text">
                        <label class="">内容</label>

                    </div>
                    <script id="container" name="content" type="text/plain"></script>
                <div class="layui-form-item layui-form-text">
                    <label class="">点击量</label>
                    <div class="layui-form-field-label">
                        <input type="text" name="hits" placeholder="点击量" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="">标签</label>
                    <div class="layui-form-field-label">
                        <input type="text" name="tags" placeholder="标签（逗号,分割" autocomplete="off" class="layui-input" value="">
                    </div>
                   <div class="layui-form-mid layui-word-aux">标签（逗号,分割）</div>

                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="">排序</label>
                    <div class="layui-form-field-label">
                        <input type="text" name="sort" placeholder="排序" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="">状态</label>
                    <div class="layui-form-field-label">
                        <input type="text" name="status" placeholder="状态" autocomplete="off" class="layui-input" value="1">
                        <div class="layui-form-mid layui-word-aux">  默认开启1，关闭填写0；</div>

                    </div>
                </div>
                <input type="hidden" name="cateid" value="{$cate.id}">
                <input type="hidden" name="id" value="">
                    <div>
                        <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                    </div>
                </div>
            </form>

        </div>

</div>


{include file="common/footer"/}

{$ueditor|raw};

<script>
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin: 'Admin'
    }).use(['element', 'layer', 'Admin','upload'], function () {
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl,upload = layui.upload;
        UE.Editor.prototype.getActionUrl = function (action) {
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return '{:url("sys.uploads/uploads")}?type=image&path=cms';
            } else if (action == 'uploadvideo') {
                return '{:url("sys.uploads/uploads")}?type=video&path=cms';
            }else if(action == 'uploadvoice'){
                return '{:url("sys.uploads/uploads")}?type=voice&path=cms'
            }else if (action == 'listimage') {
                return '{:url("sys.uploads/getList")}?type=image&path=cms';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        };
        UE.getEditor('container').addListener("selectionchange", function () {
            changeElement('content');
        });
        var ue = UE.getEditor('container', {scaleEnabled: false});
        var form = layui.form,element = layui.element,$=  layui.$;
        var info = '';
        info = {:json_encode($info)};
        form.val("form", info);
        if(info){
            $('#addPic').attr('src',info.thumb);
        }

    });
</script>