<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs {if input('pid')==0 || empty(input('pid'))}layui-this{/if}">
      <a href="/">首页</a></li>
      {volist name='cates' id='vo'}
      <li class="{if input('pid')==$vo.id}layui-this{/if}">
        <a  href="{:url('bbs/index')}?pid={$vo.id}&&type={:input('type')}" >
        {$vo.title}
          {if $key==2}
        <span class="layui-badge-dot"></span>
          {/if}
        </a>
      </li>
      {/volist}

      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      
      <!-- 用户登入后显示 -->
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="javascript:;" class="mybbs">我发表的贴</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="javascript:;" class="mycollection">我收藏的贴</a></li>
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search"><i class="layui-icon"></i></span> 
      <a href="javascript:;" class="layui-btn addbbs">发表新帖</a>
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="javascript:;" class="layui-btn addbbs">发表新帖</a>
    </div> 
  </div>
</div>