<div class="fly-footer">
  <p>
    <a href="javascript:;" target="_blank">Powered by funadmin</a>  <a href="javascript:;" target="_blank">2018-2028 &copy;</a></p>
  <p>
    <a href="javascript:;" >版权所有:funadmin版权所有</a>
    <a href="http://www.funadmin.com/" title="funadmin官网">funadmin官网</a>
    <a href="https://jq.qq.com/?_wv=1027&k=5wj2Wdy" title="获取源码">社区插件授权获取源码</a>
    <a href="https://www.funadmin.com/" title="开源后台管理系统">开源后台管理系统</a>
    <a href="https://demo.funadmin.com/admin.php" title="php cms 后台管理系统">php后台管理系统</a>
    <a href="http://www.beian.miit.gov.cn">粤ICP备19106066号-2</a>
  </p>
</div>

<script src="/static/plugins/layui/layui.js"></script>
<script>
var BASE_URL = '{$BASE_URL}';
layui.cache.page = '';
layui.cache.user = {:json_encode($user)};
layui.config({
  version: '{:time()}'
  ,base: '/static/addons/bbs/mods/'  //这里实际使用时，建议改成绝对路径
}).extend({
  fly: 'index'
}).use('fly');
</script>
