    <div class="speed-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <egend>{:lang('Edit Passwd')}</egend>
            </fieldset>
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label required ">{:lang('OldPasswd')}</label>
                    <div class="layui-input-block">
                        <input type="password" name="oldpassword" lay-verify="required" placeholder="{:lang('NewPasswd')}"
                               class="layui-input">
                        <div></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">{:lang('NewPasswd')}</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" placeholder="{:lang('NewPasswd')}"
                               class="layui-input">
                    </div>
                </div>
                {include file="common/subBtn"}

            </form>
        </div>
    </div>

