<form class="layui-form">
    {if $id}
        {:form_input('oldpassword','password',['label'=>'NewPasswd','verify'=>'required|pass'])}
        {:form_input('password','password',['label'=>'ReNewPasswd','verify'=>'required|pass'])}
    {else /}
        {:form_input('oldpassword','password',['label'=>'oldpassword','verify'=>'required|pass'])}
        {:form_input('password','password',['label'=>'NewPasswd','verify'=>'required|pass'])}
    {/if}
    {if input('type')}
    {:form_submitbtn(true,['show'=>1])}
    {else/}
    {:form_submitbtn()}
    {/if}
</form>