<form class="layui-form" lay-filter="form" method="post">
    {:form_input('title','text',['label'=>'title','verify'=>'required'])}
    {:form_select('albumid',$albumlist,['search'=>1])}
    {:form_color('titlestyle','titlestyle[]',['label'=>'Title Color','search'=>1],'#eee')}
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('Bold')}</label>
        <div class="layui-input-block">
            <input type="checkbox" name="titlestyle[]" value="bold" title="{:lang('Bold')}">
        </div>
    </div>
    {:form_input('diyname','text',['label'=>'diyname'])}
    {:form_input('seotitle','text',['label'=>'title','verify'=>'required'])}
    {:form_input('keywords','text',['label'=>'keywords','verify'=>'required'])}
    {:form_textarea('intro',['label'=>'intro','verify'=>'required'])}
    {:form_editor('content','content',2)}
    {:form_tags('tags','tags',['label'=>'tags'])}
    {:form_radio('status',[0=>'Close',1=>'Open'],['verify'=>'required','label'=>'Status'],1)}
    {:form_radio('is_read',[0=>'No',1=>'Yes'],['verify'=>'required','label'=>'Read'],1)}
    {:form_input('likes','number',['label'=>'likes','verify'=>''],0)}
    {:form_input('dislikes','number',['label'=>'dislikes','verify'=>''],0)}
    {:form_input('comments','number',['label'=>'comments','verify'=>''],0)}
    {:form_input('clicks','number',['label'=>'clicks','verify'=>''],0)}
    {:form_date('publish_time',['label'=>'publish_time'])}
    {:form_input('sort ','number',['label'=>'sort','verify'=>''],1)}
    {:form_input('weight ','number',['label'=>'weight'],1)}
    {:form_input('price','text',['label'=>'comments','verify'=>'number'],0)}
    {include file="backend/cmscategorylist/field" /}
    {:form_submitbtn()}
</form>
