<div class="fun-main">
    <div class="admin-main layui-anim layui-anim-upbit">
        <div class="layui-row">
            <div class="layui-col-md2 layui-col-sm12 layui-hide-xs">
                <div class="layui-card">
                    <div class="layui-card-header">{:lang('list')}</div>
                    <div class="layui-card-body">
                        <div id="tree" class="demo-tree"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md10 layui-col-sm12" style="padding:0 10px;">
                <div class="layui-card">
                   <div class="layui-card-header">{:lang('content')}</div>
                    <div class="layui-card-body layui-hide">
                        <iframe name="right" id="categorys_list" src="{:addons_url('board')}" style="height: 100%; width:100%;border:none;" frameborder="0" scrolling="auto"></iframe>
                    </div>
                </div>
                <div>

               <div class="table">
                <table  class="layui-table" id="list" lay-filter="list"></table>
               </div>
            </div>
        </div>
    </div>
</div>
<script>
    var data = {:json_encode($list)};
</script>