<form class="layui-form" lay-filter="form" method="post">
    {:form_input('cateid','hidden',[],$formData?$formData.cateid:"")}
    {:form_input('id','hidden',[],$formData?$formData.id:'')}
    {:form_input('title','text',['label'=>'title','verify'=> 'required','tips'=>'Title'])}
    {:form_input('seotitle','text',['label'=>'seotitle','tips'=>'SEO Title'])}
    {:form_input('keywords','text',['label'=>'keywords','verify'=> 'required','tips'=>'Separate with spaces or ","'])}
    {:form_textarea('intro',['label'=>'SEO Intro','verify'=> 'required','tips'=>'SEO Intro'])}
    {:form_select('albumid',$albumlist,['label'=>'album'])}
    {:form_input('author','text',['label'=>'author','tips'=>'author'])}
    {:form_upload('thumb',$formData,['label'=>'thumb',])}
    {:form_editor('content','content',2)}
    <textarea id="contents" name="contents" lay-editor="2" lay-filter="editor" type="text/plain" class="layui-hide"></textarea>
    {:form_input('diyname','text',['label'=>'diyname',])}
    {:form_input('clicks','number',['label'=>'clicks','verify'=> 'required',],1)}
    {:form_input('tags','text',['label'=>'tags','verify'=> 'required','tips'=>'Comma separated'])}
    {:form_select('flags',['hot'=>'hot','new'=>'new','recommend'=>"recommend",'top'=>'top'],['label'=>'flags','multiple'=>1])}
    {:form_radio('is_comment',['1'=>'Yes', '0'=>'No'],['label'=>'iscomment'],1)}
    {:form_radio('is_read',['1'=>'Yes', '0'=>'No'],['label'=>'is_read'],1)}
    {:form_input('comments','number',['label'=>'comments'],500)}
    {:form_input('like','number',['label'=>'like',],50)}
    {:form_input('dislike','number',['label'=>'dislike',],50)}
    {:form_input('price','text',['label'=>'price',],0)}
    {:form_input('sort','number',['label'=>'sort',],50)}
    {:form_date('publish_time',['label'=>'PublishTime'])}
    {:form_radio('status',[1=>'Open',0=>'Close'],['label'=>'Status',],1)}
    {:form_submitbtn(true,['show'=>1])}
</form>