<style>
    .pagebanner img {
        width: 100%;
        max-height: 300px;
    }

    @media (min-width: 1000px) {
        .pagebanner img {
            min-height: 130px;
        }
    }

    @media (max-width: 1000px) {
        .pagebanner img {
            min-height: 60px;
        }
    }
    .layui-submit{text-align:center}
</style>
<link rel="stylesheet" href="__CDN____PLUGINS__/layui/css/layui.css">
<script src="__CDN____PLUGINS__/layui/layui.js"></script>
<div class="pagebanner">
    {adv id="11" cache="3600"}
    <img src="{$data['url']}">
    {/adv}</div>

<div class="full-inside-subnav">
    <div class="commonweb clearfix">
        <div class="inside-subnav">
            <div class="subnav clearfix" id="subNav">
                <ul>
                    <li data-id="{$diyid}"><a href="">留言反馈</a></li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            var $subNav = $("#subNav");
            $subNav.children("ul").find("li").InitNav({$diyid});//初始化响应式菜单
        </script>
        <div class="crumb">
            <div class="inner">
                <a href='{:addons_url("index/index")}' class="home"><i class="fa fa-home text-red" aria-hidden="true"></i></a> <a
                    href='{:addons_url("index/index")}'>主页</a>
                <a href='{:addons_url("index/diyform",["diyid"=>$diyid])}'> > 留言反馈</a>
            </div>
        </div>
    </div>
</div>
<div class="common-clumb-min commonweb clearfix">
    <div class="clumb-title">
        <h3 class="cn font22">留言反馈</h3>
        <h2 class="en font24">FEEDBACK</h2>
    </div>
</div>


<div class="diyform commonweb padtb">
    <form id="defaultForm" method="post" class="layui-form" enctype="multipart/form-data" action="{:addons_url('index/diyform')}">
        {template file="layout_fieldlist"}
        <input type="hidden" name="diyid" value="{$diyid}">
        <div class="layui-form-item layui-submit">
            <button class="layui-btn layui-bg-red layui-center" lay-submit="" lay-filter="submit">立即提交</button>
        </div>
    </form>
</div>

<script>
    layui.use(['form','layer'],function(){
        var form = layui.form,layer= layui.layer;
    })
</script>