<div class="indexbanner swiper-container">
    <ul class="swiper-wrapper clearfix">
        {adv pid="1"}
        <li class="swiper-slide"><a href="{$vo.url}"><img alt="{$vo.name}" src="{$vo.url}"></a></li>
        {/adv}
    </ul>
    <div class="ipages commonweb"></div>
</div>

<section>
    <!--新闻资讯--->

    <div class="indxNewsmin commonweb padtb">
        {fun sql="select * from `__PREFIX__addons_cms_category` where `id`=2 limit 1" data='newstitle'}
        <div class="index-text center wow fadeInDown animated">
            <h2 class="cn font30 ">{$vo['title']}</h2>
            <h3 class="en font24 ">{$vo['cateflag']}</h3>
        </div>
        {/fun}
        <div class="indxNews-wraper ">
            <div class="inxnews-list swiper-container-horizontal swiper-container-android">
                <ul class="clearfix swiper-wrapper">
                    {fun cateid="2" limit="6" page='1' order="id desc" data="news"}
                    <li class="swiper-slide wow {if $i>1}fadeInRight{else/}fadeInLeft{/if} animated swiper-slide-active swiper-slide-prev">
                        <a href="{$vo.url}" title="{$vo.title}">
                            <p class="tiothumb"> <img src="{$vo.thumb}" alt="{$vo.title}"> </p>
                            <div class="tioinfor">
                                <p class="text"> {$vo.title} </p>
                                <span class="date">{:date('Y-m-d')}</span>
                            </div>
                        </a>
                    </li>
                    {/fun}
                </ul>
            </div>
            <a href="javascript:;" class="index-btn index-prev"></a> <a href="javascript:;" class="index-btn index-next"></a>
        </div>
    </div>

    <!--关于我们--->
    <div class="indxAboutus clearfix">
        {category id="8" data='about'}
        <div class="par-posimg wow fadeInLeft home-aboutus">
            <div class="par-text">
                <h2 class="font32">{$vo.title}</h2>
                <h3 class="font22 fontbold ">{$vo.keywords}</h3>
                <p>{$vo.intro}</p>
            </div>
        </div>
        <div class="par-content wow fadeInRight">
            <h2 class="font34 cd82019">{$vo.catename}</h2>
            <p>{:htmlspecialchars_decode($vo['content'])}</p>
            <p class="visible-lg"> </p>
            <div class="index-more wow fadeInUp margin-top-20"> <a href="{:addons_url('index/lists',['cateid'=>8])}">了解更多</a> </div>
        </div>
        {/category}
    </div>

    <!--产品展示-->
    <div class="indxProduct commonweb padtb">
        <div class="index-text center wow fadeInDown">
            <h2 class="cn font30 ">产品展示</h2>
            <h3 class="en font24 ">PRODUCT CENTER</h3>
        </div>
        <div class="inxprod-list padtb">
            <ul class="clearfix">
                {category pid="4" limit="3" data='product'}
                <li class="col-md-4 col-sm-4 wow fadeInLeft">
                    <a href="{$vo.url}">
                        <p class="imgbox"> <img src="{$static_path}/image/p{$i+1}.jpg" alt="{$vo.title}"> </p>
                        <div class="inxpro-img"> <img src="{$static_path}/image/pp{$i+1}.png" alt="{$vo.title}"> </div>
                        <div class="inxpro-text">
                            <h3 class="font18">{$vo.title}</h3>
                            <p>{$vo.cateflag}</p>
                        </div>
                    </a>
                </li>
                {/category}
            </ul>
        </div>
    </div>
    <!--新品推荐-->

    <div class="indxArrivals  padtb">
        <div class="commonweb">
            <div class="index-text center wow fadeInDown">
                <h2 class="cn font30 ">新品推荐</h2>
                <h3 class="en font24 ">New Arrivals</h3>
            </div>
            <div class=" arrivals-wrapper">
                <div class="arrivalsp-min">
                    <ul class="clearfix swiper-wrapper">
                        {fun cateid="4" data='new'}
                        <li class="swiper-slide wow"> <a href="{$vo.url}" title="{$vo.title}">
                            <p class="solut-img"> <img src="{$vo.thumb}" alt="{$vo.title}"/> </p>
                            <div class="solut-text">
                                <h3 class="font16">{$vo.title}</h3>
                            </div>
                        </a>
                        </li>
                        {/fun}
                    </ul>
                </div>
                <a href="javascript:;" class="index-btn index-prev"></a> <a href="javascript:;" class="index-btn index-next"></a> </div>
        </div>
    </div>
    <!--解决方案-->
    <div class=" inxSolution  padtb" style="background: url({$static_path}/image/jj.jpg) no-repeat 0 0;" >
        <div class="commonweb">
            {fun sql="select * from `__PREFIX__addons_cms_category` where id=18 limit 1" data="solutiontitle"}
            <div class="index-text center wow fadeInDown">
                <h2 class="cn font30 cffffff">{$vo['catename']}</h2>
                <h3 class="en font24 ">{$vo['cateflag']}</h3>
            </div>
            {/fun}
            <div class="inxSolut-wrapper">
                <div class=" inxSolut-min">
                    <ul class="clearfix swiper-wrapper">
                        {category pid="18" data='solution'}
                        <li class="swiper-slide wow"> <a href="{$vo.url}">
                            <p class="solut-img"> <img src="{$static_path}/image/j{$i+1}.jpg" alt="{$vo.title}"/> </p>
                            <div class="solut-text">
                                <h3 class="cn font16">{$vo.catename}</h3>
                                <h3 class="en font16">{$vo.cateflag}</h3>
                            </div>
                        </a>
                        </li>
                        {/category}
                    </ul>
                </div>
                <div class="ipages commonweb"></div>
                <a href="javascript:;" class="index-btn index-prev"></a> <a href="javascript:;" class="index-btn index-next"></a> </div>
            <div class="index-more center wow fadeInUp "> <a href="{:addons_url('index/lists',['cateid'=>18])}">了解更多</a></div>
        </div>
    </div>
    <!--合作伙伴-->
    <div class=" inxPartner  padtb">
        <div class="commonweb">
            {fun sql="select * from `__PREFIX__addons_cms_category` where id=24 limit 1" data='cp'}
            <div class="index-text center wow fadeInDown">
                <h2 class="cn font30">{$vo['catename']}</h2>
                <h3 class="en font24 ">{$vo['cateflag']}</h3>
            </div>
            {/fun}
            <div class="inxpart-list wow fadeInUp">
                <div class="partner-wrapper">
                    <ul class="clearfix swiper-wrapper">
                        {fun cateid="24" data="cop"}
                        <li class="swiper-slide"> <a href="javascript:;" data-id="{$vo.cateid}"> <img src="{$vo.thumb}" alt="{$vo.title}" /></a> </li>
                        {/fun}
                    </ul>
                </div>
                <a href="javascript:;" class="index-btn index-prev"></a> <a href="javascript:;" class="index-btn index-next"></a> </div>
        </div>
    </div>
</section>


<!-- 应用插件标签 end -->
