<style>
    .pagebanner img{width:100%;max-height:300px;}
    @media(min-width:1000px){.pagebanner img{min-height:130px;}}
    @media(max-width:1000px){.pagebanner img{min-height:60px;}}
</style>
<div class="pagebanner">
    {adv id="2" cache="3600"}
    <img src="{$data['url']}">
    {/adv}
</div>


<div class="full-inside-subnav">
    <div class="commonweb clearfix">
        <div class="inside-subnav">
            <div class="subnav clearfix" id="subNav">

            </div>
        </div>

        <script type="text/javascript">
            var $subNav = $("#subNav");
            $subNav.children("ul").find("li").InitNav({$cateid});//初始化响应式菜单
        </script>



        <div class="crumb">
            <div class="inner">
                <a href="index.html" class="home"><i class="fa fa-home text-red" aria-hidden="true"></i></a> <a href='index.html'>主页</a>
                <a href="index11.html"> > 搜索</a>
            </div>
        </div>


    </div>
</div>




<div class="common-clumb-min commonweb clearfix">
    <div class="clumb-title fl">
        <h3 class="cn font22">{:lang('Search')}</h3>
        <h2 class="en font24">SCOUT AROUND</h2>
    </div>
</div>




<div class="product-list commonweb">
    <ul class="clearfix imgae-same-size">
        {if $list}
        {volist name="list" id="vo"}
        <li class="col-xs-6 col-sm-3">
            <a href="{:addons_url('index/show',['cateid'=>$vo.cateid,'id'=>$vo.id])}" title="{$vo.title}">
                <p class="pro-img"> <img src="{$vo.thumb}" alt="{$vo.title}"> </p>
                <p class="pro-text">{$vo.title}</p>
            </a>
        </li>
        {/volist}
        {else /}
        <li class="line-height-2 padding-top-30 padding-left-30">
            暂无相关信息!
        </li>
        {/if}
    </ul>

</div>
{if $list}
<div class="text-center padding-20 page-list">
    {$list|raw}
</div>
{/if}













