<style>
    .pagebanner img{width:100%;max-height:300px;}
    @media(min-width:1000px){.pagebanner img{min-height:130px;}}
    @media(max-width:1000px){.pagebanner img{min-height:60px;}}
</style>
<div class="pagebanner">
    {adv id="7" cache="3600"}
    <img src="{$data['url']}">
    {/adv}
</div>

{include file="layout_column"}

<div class="product-detail commonweb clearfix padtb">
    <style>
        .swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black,.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black{background: none;}
        .detailimages .swiper-button-prev img,.detailimages .swiper-button-next img{height:40px;}
        .swiper-button-next, .swiper-button-prev{width:40px;}
        .swiper-pagination-bullet-active {background: #d82019;opacity:0.4;}
    </style>
    <div class="mainimg-info">
        <div class="minimg-wrapper detailimages">
            <ul class="swiper-wrapper">
                {if($list.images)}
                {volist name=":explode(',',$list['images'])" id="vo"}
                <li class="swiper-slide"> <img src="{$vo}" title="{$vo}"></li>
                {/volist}
                {/if}
            </ul>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-black"><img src="__CDN__{$static_path}/image/next.png"></div>
            <div class="swiper-button-prev swiper-button-black"><img src="__CDN__{$static_path}/image/prev.png"></div>

        </div>
    </div>

    <script>
        var detailimages = new Swiper('.detailimages', {
            loop: true,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

    <div class="maintxt-info">
        <h2 class="title font24">产品标题 </h2>
        <div class="name">
            <p>关注次数：<span id="lb_clicks">{$list['hits']}</span> 次</p>
            <p>商品类型：{:getCategory($list['cateid'],'catename')}</p>
            <p>上架时间：{:date('Y-m-d',$list['publish_time'])}</p>
            <p>产品描述：{$list['intro']}</p>
        </div>
        <p class="desc">咨询电话：<a href="tel:{$list['tel']}">{$list['tel']}</a></p>
    </div>
</div>
<div class="pro-datial-tab ">
    <div class="tab-optionsbox">
        <div class="tab-options clearfix">
            <div class="commonweb">
                <a href="javascript:;" class="cur">产品特点</a>
                <a href="{:addons_url('index/diyform',['diyid'=>$list['diyformid']])}">留言反馈</a> </div>
        </div>
    </div>
    <div class="commonweb">
        <div class="composimin">
            <div class=" padtb Technical">
                {$list['content']|raw}
            </div>
        </div>
        <div class="news-detail-foot">
            <ul class="content-exp">
                <li class="text-overflow-ellipsis">上一篇： <a href="{:addons_url('index/show',['cateid'=>$list['cateid'],'id'=>$front['id']])}">{$front['title']}</a></li>
                <li class="text-overflow-ellipsis">下一篇： <a href="{:addons_url('index/show',['cateid'=>$list['cateid'],'id'=>$after['id']])}">{$after['title']}</a></li>
            </ul>
        </div>
    </div>
</div>

