<form class="layui-form" lay-filter="form" method="post">
    <blockquote class="layui-elem-quote layui-text">
        基础信息
    </blockquote>
    <div class="layui-form-item">
        <label class="layui-form-label required">Cate</label>
        <div class="layui-input-block">
            <select name="cateid" lay-filter="category" lay-verify="required">
                {volist name="catelist" id="vo"}
                <option value="{$vo.id}"
                {if ($cateid && $cateid!=$vo['id']) } disabled=""{/if}
                {if $vo.type!=1}disabled=''{/if} >{$vo.ltitle}
                </option>
                {/volist}
            </select>
        </div>
    </div>
    {:form_select('admin_id',$adminlist,['search'=>1])}
    {:form_input('title','text',['label'=>'title','verify'=>'required'])}
    {:form_color('title_color','title_color',['label'=>'TitleColor','search'=>1],$formData?$formData.title_color:'')}
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('Bold')}</label>
        <div class="layui-input-block">
            <input type="checkbox" name="title_bold" value="bold" {if $formData && $formData.title_bold}checked{/if} title="{:lang('Bold')}">
        </div>
    </div>
    {:form_input('seotitle','text',['label'=>'seotitle'])}
    {:form_upload('thumb',$formData,['label'=>'thumb','path'=>$addon])}
    {:form_input('diyname','text',['label'=>'diyname'])}
    {:form_input('keywords','text',['label'=>'keywords',])}
    {:form_textarea('intro',['label'=>'intro','verify'=>'required'])}
    {:form_select('topicid',$topiclist,['search'=>1])}
    {:form_editor('content',2)}
    <div class="field">
        {include file="backend/cms_forum/field" /}

    </div>
    <blockquote class="layui-elem-quote layui-text">
        其他信息
    </blockquote>
    {:form_textarea('remark',['label'=>'remark'])}
    {:form_tags('tags','tags',['label'=>'tags'],$formData?$formData.tags:'')}
    {:form_radio('is_read',[0=>'No',1=>'Yes'],['verify'=>'required','label'=>'Read'],1)}
    {:form_input('likes','number',['label'=>'likes','verify'=>''],0)}
    {:form_input('dislikes','number',['label'=>'dislikes','verify'=>''],0)}
    {:form_input('comments','number',['label'=>'comments','verify'=>'number'],0)}
    {:form_input('hits','number',['label'=>'hits','verify'=>''],0)}
    {:form_input('sort ','number',['label'=>'sort','verify'=>''],1)}
    {:form_input('weight ','number',['label'=>'weight'],1)}
    {:form_input('price','text',['label'=>'price'],0)}
    {:form_radio('status',[0=>'Close',1=>'Open'],['verify'=>'required','label'=>'Status'],1)}
    {:form_date('publish_time',['label'=>'publishtime'])}
    {if $cateid}
    {:form_submitbtn(true,['show'=>1])}
    {else/}
    {:form_submitbtn()}
    {/if}
</form>
<script>
    var cateid = "{$cateid}";
</script>