{include file="common/header"/}
<div class="speed-container">
    <div class="speed-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <form class="layui-form" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label required">等级名</label>
                    <div class="layui-input-block">
                        <input type="text" name="level_name" lay-verify="required" placeholder="{:lang('pleaseEnter')}等级名" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            在4到25个字符之间。
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">等级金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="amount" lay-verify="required|number" placeholder="{:lang('pleaseEnter')}{:lang('Price')}" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            整数
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label required">折扣</label>
                    <div class="layui-input-block">
                        <input type="text" name="discount" value="100" placeholder="{:lang('pleaseEnter')}{:lang('Discount')}"  class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            100 不打折，90 九折
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="description" value="" placeholder="{:lang('pleaseEnter')}{:lang('Description')}"  class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            100 不打折，90 九折
                        </div>
                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('Status')}</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" lay-filter="status" checked value="1" title="{:lang('Open')}">
                        <input type="radio" name="status" lay-filter="status" value="0" title="{:lang('Close')}">

                    </div>

                </div>
                {:token_field()}
                {include file="common/subBtn"/}

            </form>
        </div>

    </div>
</div>

{include file="common/footer"/}
