<table class="layui-table layui-hide" id="list" lay-filter="list"
    data-node-add="{:auth(addons_url('add'))}"
    data-node-edit="{:auth(addons_url('edit'))}"
    data-node-delete="{:auth(addons_url('delete'))}"
    data-node-modify="{:auth(addons_url('modify'))}"
    data-node-destroy="{:auth(addons_url('destroy'))}"
    data-node-import="{:auth(addons_url('import'))}"
    data-node-recycle="{:auth(addons_url('recycle'))}"
    data-node-restore="{:auth(addons_url('restore'))}"
></table>
<script>
    var moduleid = "{$moduleid}",
    diyformid = "{$diyformid}"
</script>