{include file="common/header"/}
<div class="speed-container">
    <div class="speed-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <blockquote class="layui-elem-quote">
                    {:lang('list')}
                  </blockquote>
            </fieldset>
            <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
    </div>
</div>

{include file="common/footer"/}
