
<table class="layui-table" id="list" lay-filter="list"></table>



<script type="text/html" id="action">
<!--    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn  layui-btn-xs" lay-event="edit">{:lang('edit')}</a>-->
    <a  class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-href="{:url('delete')}">{:lang('del')}</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="sex">
    {{# if(d.sex==1){ }}
    男
    {{# }else if( d.sex==2){ }}
    女
    {{# }else{ }}
        保密
    {{# } }}
</script>
<script type="text/html" id="avatar">
    {{d.avatar}}<img src="/static/admin/images/image.gif" onmouseover="layer.tips('<img src={{d.avatar}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">
</script>

<script type="text/html" id="last_login">
    {{layui.util.toDateString(d.last_login*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
<script type="text/html" id="create_time">
    {{layui.util.toDateString(d.sign_last*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>


<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    </div>
</script>
{include file="common/footer"/}
<script>
    var tableIn=null;
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin:'Admin',
    }).use(['table','Admin'], function () {
        var $ = layui.jquery,
            table = layui.table;
        tableIn = table.render({
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            title: '用户数据表',
            toolbar: '#toolbar', //开启头部工具栏，并为其绑定左侧模板

            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips' }],
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', title: 'ID', width: 80, fixed: true, sort: true},
                {field: 'uid', title: 'UID', width: 80, fixed: true, sort: true},
                {field: 'username', title: '名字', width: 120,},
                {field: 'email', title: '邮箱', width: 120, },
                {field: 'sign_total', title: '累计签到次数', width: 120, },
                {field: 'sign_count', title: '连续签到次数', width: 120, },
                {field: 'sign_last', title: '最后签到时间', width: 180,templet:'#create_time'},

                {title:'操作',width:150, toolbar: '#action',align:"center"},

            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });
    });


</script>