<form class="layui-form" lay-filter="form" method="post">
    {:form_input('cateid','hidden',[],$formData?$formData.cateid:"")}
    {:form_input('id','hidden',[],$formData?$formData.id:'')}
    {:form_input('title','text',['label'=>'title','verify'=> 'required','tips'=>'Title'])}
    {:form_color('title_color','title_color',['label'=>'Title Color','search'=>1],'#eee')}
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('Bold')}</label>
        <div class="layui-input-block">
            <input type="checkbox" name="title_bold" value="bold" title="{:lang('Bold')}">
        </div>
    </div>
    {:form_input('seotitle','text',['label'=>'seotitle','tips'=>'SEO Title'])}
    {:form_input('keywords','text',['label'=>'keywords','verify'=> 'required','tips'=>'Separate with spaces or ","'])}
    {:form_textarea('intro',['label'=>'SEO Intro','verify'=> 'required','tips'=>'SEO Intro'])}
    {:form_select('albumid',$albumlist,['label'=>'album'])}
    {:form_upload('thumb',$formData,['label'=>'thumb',])}
    {:form_input('author','text',['label'=>'author','tips'=>'author'])}
    {:form_editor('content','content',2)}
    {:form_input('diyname','text',['label'=>'diyname',])}
    {:form_textarea('remark',['label'=>'remark'])}
    {:form_tags('tags','tags',['label'=>'tags'])}
    {:form_radio('is_read',[0=>'No',1=>'Yes'],['verify'=>'required','label'=>'Read'],1)}
    {:form_input('likes','number',['label'=>'likes','verify'=>''],0)}
    {:form_input('dislikes','number',['label'=>'dislikes','verify'=>''],0)}
    {:form_input('comments','number',['label'=>'comments','verify'=>'number'],0)}
    {:form_input('clicks','number',['label'=>'clicks','verify'=>''],0)}
    {:form_input('sort ','number',['label'=>'sort','verify'=>''],1)}
    {:form_input('weight ','number',['label'=>'weight'],1)}
    {:form_input('price','text',['label'=>'price'],0)}
    {:form_radio('status',[0=>'Close',1=>'Open'],['verify'=>'required','label'=>'Status'],1)}
    {:form_date('publish_time',['label'=>'publishtime'])}
    {:form_submitbtn(true,['show'=>1])}
</form>