<div class="speed-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <form class="layui-form" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label required">{:lang('LevelName')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" placeholder="{:lang('LevelName')}" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            在4到25个字符之间。
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">{:lang('LevelMoney')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="amount" lay-verify="required|number" placeholder="{:lang('LevelMoney')}" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            整数
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">{:lang('Discount')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="discount" value="100" placeholder="{:lang('Discount')}"  class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            100 不打折，90 九折
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('Description')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="description" value="" placeholder="{:lang('Description')}"  class="layui-input">
                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('Status')}</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" lay-filter="status" checked value="1" title="{:lang('Open')}">
                        <input type="radio" name="status" lay-filter="status" value="0" title="{:lang('Close')}">

                    </div>

                </div>
                {include file="common/subBtn"/}

            </form>
        </div>

    </div>
