APP_DEBUG = %debug%DB_DRIVER = mysqlDB_TYPE = mysqlDB_HOST = %hostname%DB_NAME = %database%DB_USER = %username%DB_PASS = %password%DB_PORT = %port%DB_CHARSET = utf8mb4DB_PREFIX = %prefix%DEFAULT_LANG = zh-cn