<form class="layui-form" lay-filter="form">
    {:form_input('name','text',['verify'=>'required','tips'=>'Between 4 and 25 characters'] )}
    {:form_select('type',['1'=>'普通链接','2'=>'图片','3'=>'视频','4'=>'音频'],['verify'=>'required','search'=>1]
    ,'',(isset($formdata)?$formdata['type']:''))}
    {:form_upload('thumb',$formData,['mime'=>''])}
    {:form_input('url','text',['verify'=>'required|url','tips'=>'Must start with https or http']
    )}
    {:form_input('email','text',['verify'=>'email','tips'=>'For password retrieval, please fill in carefully.']
    )}
    {:form_input('qq','text',['verify'=>'number','tips'=>'For password retrieval, please fill in carefully.']
    )}
    {:form_submitbtn()}
</form>
