::-webkit-input-placeholder {
    color: #ccc
}
/** 滚动条 **/

::-webkit-scrollbar { /*滚动条整体样式*/
    width: 10px !important;; /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px !important;;
    background: #ffffff !important;;
    cursor: pointer !important;

}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(240, 240, 240, .5) !important;;
    border-radius: 0 !important;;
    background: rgba(240, 240, 240, 0.5) !important;;
    cursor: pointer !important;
}

body{
    background: #fff;
    padding:10px;
}
.speed-container{
    background: #fff;
    padding: 5px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    clear: both;
}
/*
工具
*/
.layui-table-tool-temp{
    padding-right: 60px;
}
/*按钮*/
.layui-layer.layui-layer-dialog .layui-layer-btn,.layui-layer-content{
    text-align: center;
}
.layui-layer.layui-layer-dialog .layui-layer-btn a {
    background-color: #95a5a6;

    color: #fff !important;
    height: 31px;
    margin-top: 0;
    border-color: #95a5a6;
    border: 1px solid transparent;
}
.layui-layer.layui-layer-dialog .layui-layer-btn0 {
    background-color: #1aa094!important;
}
.layui-table-tool-temp{
    padding-right: 120px;
}

/**
表单
 */
.layui-form > .layui-form-item .required::after {
    content: "*";
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}
.center{
    text-align: center;
}

/**
文件上传列表
 */
.layui-upload-list li{
    display: inline-block;
}
.layui-upload-list li i{
    background: #f2f2f2;
    cursor: pointer;
}

/**
搜索
 */
#searchFieldList_list  .layui-btn {
    height: 32px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 10px;
}

#searchFieldList_list .layui-form-label {
    padding: 0 8px;
    height: 32px;
    line-height: 30px;
}

#searchFieldList_list .layui-input-inline {
    width: 170px;
}

#searchFieldList_list .layui-input-inline input,
#searchFieldList_list .layui-input-inline select {
    width: 100%;
    height: 32px;
    padding: 2px 8px;
    line-height: 1em;
}

#searchFieldList_list .layui-form-select dl {
    top: 31px;
    padding: 0;
}




/*//layui*/
body .speed-layer-class .layui-layer-title{background: #1aa094; color:#fff; border: none;}
body .speed-layer-class .layui-layer-btn a{background:#333;}
body .speed-layer-class .layui-layer-btn .layui-layer-btn1{background:#999;}