.layui-form-radio:hover *, .layui-form-radioed, .layui-form-radioed>i{color:#1890ff}
.layui-form-onswitch,.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color:#1890ff;}
.layui-elem-quote{border-left: 5px solid #1890ff}
.layui-bg-yellow{background-color:#E6A23C;}
.layui-bg-pink{background-color:#FF69B4;}
.layui-bg-purple{background-color:#A020F0;}
.layui-bg-brown{background-color:#A52A2A;}
.layui-bg-violet{background-color:#EE82EE;}
.layui-bg-plum{background-color:#DDA0DD;}
.layui-font-blue{color:#1890ff!important;}
input[hidden] { height:0!important}