body,html{height:100%}
body{background-color:#F6F6F6;;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:100%;overflow:hidden;color:#999;background-size:cover;background-position-x:initial;background-position-y:initial;background-attachment:initial;background-origin:initial;background-clip:initial;}
body:after{content:'';background-repeat:no-repeat;background-size:cover;-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1}
.layui-row{padding:20px;background: #fff;border-radius:10px;}
.layui-main{max-width: 960px;height: 500px; position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.flex{display:flex;justify-content: center}
.layui-login-body,.layui-panel-body{background-color:#fff;background-image: url(/static/backend/images/login-picture.svg);background-repeat: no-repeat;background-position: center 60px;background-size: contain; }
.layui-panel-body .layui-logo{ font-size: 28px;margin-left: 15px;color:#4d70ff;vertical-align: middle}
.layui-panel-body .layui-slogan{font-size: 14px;line-height: 20px;text-align: right;color: #333}
.layui-form-item input,.layui-form-item label{transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
.layui-input{height:45px;}
.layui-container{width:100%;height:100%;overflow:hidden}
.layui-card-header{font-family:'layui-icon';letter-spacing:2px;font-weight:400;font-size:1.875rem;border-bottom:none}
.layui-card-body{background:#fff;line-height:normal;border:none;}
.layui-card-body .layui-form-item{position:relative;margin-bottom:20px; }
.layui-card-body .layui-input-wrap{height:45px;line-height:45px;}
.layui-card-body .layui-form-item .layui-input-prefix i{color: #4d70ff !important}
.layui-form-checked span, .layui-form-checked:hover span{background-color: #4d70ff !important}
.layui-form-checked i, .layui-form-checked:hover i{color: #4d70ff}
.layui-form-checked:hover>div, .layui-form-checked>div{background-color:#4d70ff}
.layui-form-item .captcha-img img{height:40px;vertical-align:middle;}
.layui-form-item.copyright{font-size:12px;color:#999;text-align:center}
.layui-form-item.copyright a{color:#999}
/*.layui-form-checked[lay-skin=primary] i{border-color: #e699c6!important;}*/
input::-webkit-input-placeholder{color: #bdcada
}
input:-moz-placeholder{color:#bdcada}
input::-moz-placeholder{color: #bdcada;}
input:-ms-input-placeholder{color:#bdcada}


@media screen and (min-width:4200px){.layui-main{max-width:1200px}
}
@media screen and (max-width:1200px){.layui-main{max-width:960px}
}
@media screen and (max-width:1024px){.layui-main{max-width:960px}
}
@media screen and (max-width:992px){.layui-main{max-width:800px}
}
@media screen and (max-width:768px){.layui-main{max-width:600px}
}
@media screen and (max-width:540px){.layui-main{max-width:420px}
}
@media screen and (max-width:420px){.layui-main{max-width:360px}
}
@media screen and (max-width:360px){.layui-main{max-width:320px; }
}
@media screen and (max-width:320px){.layui-main{max-width:300px;}
}