body,html{height:100%}
body{background-color:#F6F6F6;;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:100%;overflow:hidden;color:#999;background-size:cover;background-position-x:initial;background-position-y:initial;background-attachment:initial;background-origin:initial;background-clip:initial;}
body:after{content:'';background-repeat:no-repeat;background-size:cover;-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1}
.layui-form-item input,.layui-form-item label{transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
.layui-input:focus{border-color:#623ceb!important}
.layui-login-body{max-width:420px;margin:0 auto;margin-top:12%}
.layui-container{width:100%;height:100%;overflow:hidden}
.layui-header{height: auto;border-radius: 8px 8px 0 0;}
.layui-icon-header{text-align:center;padding-top:10px}
.layui-icon-header i{font-size:60px;color: #623ceb;text-align:center}
.layui-card-header{color:#623ceb;text-align:center;letter-spacing:2px;padding:14px 0;font-weight:700;font-size:36px;border-bottom:none}
.layui-card-body{background:#fff;line-height:normal;border:1px solid #623ceb;border-radius:8px;padding:0 0 14px 0;box-shadow:0 0 8px #eee}
.layui-card-body .layui-form{padding:25px 25px;}
.layui-card-body .layui-form-item label{color:#623ceb!important}
.layui-card-body .layui-form-item{position:relative;margin-bottom:20px; }
.layui-card-body .layui-form-item label{position:absolute;left:1px;top:1px;width:38px;line-height:36px;text-align:center;color:#d2d2d2}
.layui-card-body .layui-form-item input{padding-left:40px;border-radius:2px}
.layui-form-item .captcha{width:65%;display:inline-block}
.layui-form-item .captcha-img{display:inline-block;width:34%;float:right}
.layui-form-item .captcha-img img{border:1px solid #e6e6e6;height:36px;width:100%}
.layui-form-item.copyright{font-size:12px;color:#623ceb;text-align:center}
.layui-form-item.copyright a{color:#623ceb}
.layui-form-checked[lay-skin=primary] i{border-color: #623ceb!important;background-color: #623ceb;}
.layui-btn{background-color:#623ceb!important}
input::-webkit-input-placeholder{color:#b29ff3}
input:-moz-placeholder{color:#b29ff3}
input::-moz-placeholder{color: #b29ff3
}
input:-ms-input-placeholder{color:#bdcada}
@media screen and (max-width:1200px){.layui-login-body{max-width:420px;margin-top:250px}
}
@media screen and (max-width:1024px){.layui-login-body{max-width:420px;margin-top:150px}
}
@media screen and (max-width:992px){.layui-login-body{max-width:360px;margin-top:250px}
}
@media screen and (max-width:768px){.layui-login-body{max-width:360px;margin-top:120px}
}
@media screen and (max-width:400px){.layui-login-body{max-width:300px;margin-top:130px}.layui-card-body .layui-form-item{margin-bottom:15px; }
}
@media screen and (max-width:360px){.layui-login-body{max-width:300px;margin-top:85px}.layui-card-body .layui-form-item{margin-bottom:15px; }
}
@media screen and (max-width:320px){.layui-login-body{max-width:300px;margin-top:50px
}.layui-card-body .layui-form-item{margin-bottom:15px; }
}
