
{include file="login/style" /}
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user"  pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" style="">
        <li class="layui-this">登入</li>
        <li><a href="{:__u('login/reg')}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show" style="">
          <div class="layui-form" style="padding: 20px 0;">
            <form method="post">
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <label for="L_email" class="layui-form-label">邮箱或用户名</label>
                  <input type="text" id="L_email" name="username" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <label for="L_pass" class="layui-form-label">密码</label>
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <label for="L_vercode" class="layui-form-label">验证码</label>
                  <div class="layui-form-item-inline">
                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入正确的答案" autocomplete="off" class="layui-input vercode">
                    <div class="layui-form-mid" style="padding: 0!important;">
                    <span style="color: #c00;">
                    <img style="height: 36px;border: 1px solid #ececec;" id="captchaPic" src="{:__u('index/verify',['t'=>time()])}" alt="验证码" onclick="this.src='{:__u("index/verify")}'+'?t='+Math.random()" />
                  </span>
                    </div>
                  </div>

                </div>

              </div>
              <div class="layui-form-item">

              </div>
              {:token_field('__token__')}
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="{:__u('login/forget')}">忘记密码？</a>
                </span>
              </div>
<!--              <div class="layui-form-item fly-form-app">-->
<!--                <span>或者使用社交账号登入</span>-->
<!--                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>-->
<!--                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>-->
<!--              </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
