
<style>
  .layui-tab-title{
    text-align:center
  }
  .layui-form{
    max-width: 400px;text-align:center;margin: 0 auto;
  }
</style>
{include file="login/style" /}

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="{:__u('login/index')}">登入</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
<!--          {if cookie('code') && cookie('email')}-->
<!--          <div class="fly-msg">{:cookie('username')}，打开邮箱,获取验证码,注册并激活您的邮箱，<a href="{:__u('login/reg',['type'=>1])}"> 没收到邮件？点击重新注册</a></div>-->
<!--          <div class="layui-form"  style="margin-top: 30px;">-->
<!--            <form action="{:__u('login/regActive')}" method="post">-->
<!--              <div class="layui-form-item">-->
<!--                <label for="L_vercode" class="layui-form-label">验证码</label>-->
<!--                <div class="layui-input-block">-->
<!--                  <input type="text" id="" name="vercode" required lay-verify="required" placeholder="请输入邮箱验证码" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--                &lt;!&ndash;                <div class="layui-form-mid" style="padding: 0!important;">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span style="color: #c00;">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <img  id="captchaPic" src="{:__u('verify')}?{:time()}" alt="验证码" onclick="this.src='{:__u("verify")}?'+'id='+Math.timeom()" style="height: 36px;border: 1px solid #ececec;"/>&ndash;&gt;-->
<!--                &lt;!&ndash;                  </span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--              </div>-->
<!--              {:token_field('__token__')}-->
<!--              <div class="layui-form-item">-->
<!--                <input type="hidden" name="id" value="{:cookie('mid')}">-->
<!--                <input type="hidden" name="email" value="{:cookie('email')}">-->
<!--                <input type="hidden" name="username" value="{:cookie('username')}">-->
<!--                <button class="layui-btn" data-request="{:__u('login/regActive')}" lay-filter="*" lay-submit>提交</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--          {else /}-->
          <div class="layui-form layui-tab-content"  style="padding: 20px 0;">
            <form method="post">
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <label for="L_username" class="layui-form-label required">用户名</label>
                  <input type="text" id="L_username" name="username" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="不可更改">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <label for="L_mobile" class="layui-form-label required">手机</label>
                  <input type="text" id="L_mobile" name="mobile" placeholder="将会成为您登入名" required lay-verify="phone" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <label for="L_email" class="layui-form-label required">邮箱</label>
                  <input type="text" id="L_email" name="email" placeholder="将会成为您登入名" required lay-verify="email" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label required">密码</label>
                <div class="layui-input-block">
                  <input type="password" id="L_pass" placeholder="6到16个字符" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label required">确认密码</label>
                <div class="layui-input-block">
                  <input type="password" id="L_repass" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label required">验证码</label>
                <div class="layui-input-block">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请填写验证码" autocomplete="off" class="layui-input">
                  <div class="layui-form-mid" style="padding: 0!important;">
                  <span style="color: #c00;">
                    <img style="height: 36px;border: 1px solid #ececec;" id="captchaPic" src="{:__u('index/verify',['t'=>time()])}" alt="验证码" onclick="this.src='{:__u("index/verify")}'+'?t='+Math.random()" />
                  </span>
                  </div>
                </div>

              </div>
              {:token_field('__token__', 'sha1')}
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即注册</button>
              </div>
              <!--              <div class="layui-form-item fly-form-app">-->
              <!--                <span>或者直接使用社交账号快捷注册</span>-->
              <!--                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>-->
              <!--                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>-->
              <!--              </div>-->
            </form>
          </div>

<!--          {/if}-->

        </div>
      </div>
    </div>
  </div>

</div>
