<style>
    .layui-tab-title{
        text-align:center
    }
    .layui-form{
        max-width: 350px;text-align:center;margin: 0 auto;
    }
    .layui-form-label{
        text-align:left;
        padding:9px 0px;
        min-width: 100px;
    }
    .layui-form-item .layui-input-block{
        width:100%;
    }
    .layui-form-mid{
        position:relative;
        float:right;
        margin-right:0;
        top:-37px;
        right:0;
    }
    .layui-form-mid img{
        width:100px;
    }
    .layui-input-block{
        margin: 0 auto;
    }
</style>
