<form class="layui-form" lay-filter="form">
    {:form_select('group',$configGroup,['verify'=>'required'],['name','title'],$formData?$formData.type:'')}
    {:form_select('type',$fieldType,['verify'=>'required'],['name','title'],$formData?$formData.type:'')}
    {:form_input('code','text',['verify'=>'required','label'=>"Code",'tips'=>"English characters. Canot duplicate the
    current existing"])}
    {:form_select('verify',$fieldVerify,[],['verify','title'],$formData?$formData.verify:'')}
    {:form_textarea('value',['label'=>"default value"])}
    {:form_textarea('extra')}
    {:form_textarea('remark',['tips'=>'Remarks'])}
    {:form_submitbtn()}
</form>

