{if $formData}
{switch name="$formData.type"}
{case value="hidden"}
{if $formData.value}
<input type="hidden" class="layui-input" name="{$formData.value}"  value="{$formData.value}">
{/if}
{/case}
{case value="text"}
{:form_input('value','text',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark])}
{/case}
{case value="tags"}
{:form_tags('value',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark])}
{/case}
{case value="number"}
{:form_input('value','number',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark])}
{/case}
{case value="switch"}
{:form_switch('value',$formData.extra,['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark])}
{/case}
{case value="array"}
{:form_textarea('value',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark],$formData.value)}
{/case}
{case value="array"}
{:form_textarea('value',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark],$formData.value)}
{/case}
{case value="checkbox"}
{:form_checkbox('value',$formData.extra,['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark],$formData.value,)}
{/case}
{case value="radio"}
{:form_radio('value',$formData.extra,['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark])}
{/case}
{case value="select"}
{php} $select = explode("\n",$formData['extra']);$select =array_combine(array_values($select),$select);
{/php}
{:form_select('value',$select,['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark,'search'=>1] ,[],(isset($formData)?$formData['value']:''))}
{/case}
{case value="color"}
{:form_color('value',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark],$formData.value)}
{/case}
{case value="datetime"}
{:form_date('value',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark])}
{/case}
{case value="range"}
{:form_date('value',['label'=>'value','verify'=>$formData.verify,'tips'=>$formData.remark,'type'=>'range'])}
{/case}
{case value="textarea"}
{:form_textarea('value',['label'=>$formData.value,'verify'=>$formData.verify,'tips'=>$formData.remark],$formData.value)}
{/case}
{case value="image"}
{:form_upload('value',$formData,['label'=>'value','verify'=>$formData.verify,'type'=>'radio','mime'=>'images','num'=>'1'])}
{/case}
{case value="images"}
{:form_upload('value',$formData,['label'=>'value','verify'=>$formData.verify,'type'=>'checkbox','mime'=>'images'])}
{/case}
{case value="file"}
{:form_upload('value',$formData.value,['label'=>'value','verify'=>$formData.verify,'type'=>'radio','mime'=>'file','num'=>'1'])}
{/case}
{case value="files"}
{:form_upload('value',$formData.value,['label'=>'value','verify'=>$formData.verify,'type'=>'checkbox','mime'=>'file','num'=>'*'])}
{/case}
{case value="editor"}
{:form_editor('value',2,['verify'=>$formData.verify])}
{/case}
{/switch}
{/if}
