<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:syscfg('site','sys_name')}后台管理</title>
    <meta name="renderer" content="webkit">
    <meta property="og:keywords" content="{:syscfg('site','site_seo_keywords')}" />
    <meta property="og:description" content="{:syscfg('site','site_seo_desc')}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="referrer" content="origin" />
    <meta name="viewport"  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"  >
    <link rel="stylesheet" href="__CDN____PLUGINS__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/style.css?v={:syscfg('site','site_version')}" media="all">
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/fun.css?v={:syscfg('site','site_version')}" media="all">
    <link rel="stylesheet" href="__CDN____STATIC__/backend/css/global.css?v={:syscfg('site','site_version')}" media="all" />

    {:token_meta()}
    <style id="fun-bg-color">
    </style>
</head>
<script>
    window.Config = {:json_encode($config)};
    window.Config.formData = {:isset($formData)?(json_encode($formData)):'""'},
    window.STATIC ='__STATIC__'
    window.PLUGINS = '__PLUGINS__';
</script>

{php} $site_theme = syscfg('site','site_theme'); $theme = "index/theme".$site_theme;{/php}


<body class="layui-layout-body  menu{$site_theme}">
<div id="fun-app" class="fun-app">
    <!--        加载层-->
    <div class="fun-loading">
        <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="layui-layout layui-layout-admin" >

        {php} echo \think\facade\View::fetch($theme); {/php}
        <!-- 遮罩 -->
        <div class="layui-body-shade" lay-event="shade"></div>
        <!--手机导航-->
        <div class="layui-site-mobile layui-hide-lg layui-hide-md" lay-event="flexible"><i class="layui-icon layui-icon-right"></i></div>
        <!-- 底部固定区域 -->
        <div class="layui-footer">
            {$config['site']['site_copyright']} <span class="pull-right">v{:config('funadmin.version')}</span>
        </div>
    </div>


</div>
</body>
</html>
<script src="__CDN____PLUGINS__/layui/layui.js" charset="utf-8"></script>
<script defer src="__CDN____STATIC__/require.min.js?v={:syscfg('site','site_version')}" data-main="__CDN____STATIC__/js/require-backend{:syscfg('site','app_debug')?'':'.min'}.js?v={:syscfg('site','app_debug')?time():syscfg('site','site_version')}" charset="utf-8"></script>
