<div class="fun-main">
    <form class="layui-form" lay-filter="form">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">基本设置</li>
                <li>SEO设置</li>
                <li>选项设置</li>
                <li>模板设置</li>
                <li>栏目介绍</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item  layui-show">
                    {:form_select('pid',$colGroup,['verify'=>'required','search'=>'','label'=>'父级'] ,'id,lcatename'),''}
                    {:form_select('moduleid',$moduleGroup,['verify'=>'required','label'=>'模型'],'id,modulename'),''}
                    {:form_input('catename','text',['verify'=>'required','label'=>'栏目名','tips'=>'填写要显示的名字'])}
                    {:form_input('cateflag','text',['verify'=>'required','label'=>'栏目标识','tips'=>'填写栏目标识,一般为英文且不能重复'])}
                    {:form_upload('thumb',$formData,['label'=>'缩略图','type'=>'radio','num'=>'1'])}
                </div>
                <div class="layui-tab-item">
                    {:form_input('title','text',['verify'=>'required','label'=>'SEO标题','tips'=>'SEO标题'])}
                    {:form_input('keywords','text',['verify'=>'required','label'=>'SEO关键词','tips'=>'SEO关键词 多个关键词用空格隔开'])}
                    {:form_textarea('description','',['verify'=>'required','label'=>'SEO描述','tips'=>'SEO描述'])}

                </div>
                <div class="layui-tab-item">
                    {:form_radio('type',[1=>'列表',2=>'单页',3=>'外链'],['verify'=>'required','label'=>'页面类型','select'=>1])}
                    {:form_input('sort','text',['verify'=>'required','label'=>'Sort'],50)}
                    {:form_input('click','text',['verify'=>'number','label'=>'点击量'],100)}
                    {:form_input('page_size','text',['verify'=>'number','label'=>'分页大小'],15)}
                    {:form_radio('is_menu',[0=>'否',1=>'是'],['verify'=>'required','label'=>'是否菜单','select'=>1])}
                    {:form_radio('status',[0=>'禁用',1=>'启用'],['verify'=>'required','label'=>'状态','select'=>1])}

                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">列表模板</label>
                        <div class="layui-input-block">
                            <select name="template_list" lay-verify="required">
                                <option value="list.html" selected>默认栏目列表页:list.html</option>
                                {volist name="_list" id="vo"}
                                <option value="{$vo}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容模板</label>
                        <div class="layui-input-block">
                            <select name="template_show" lay-verify="required">
                                <option value="show.html" selected>默认内容页:show.html</option>
                                {volist name="_show" id="vo"}
                                <option value="{$vo}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    {:form_editor('content','container',2,['label'=>'栏目详情'])}
                </div>
            </div>
        </div>
        {:form_submitbtn()}
    </form>
</div>


<script>

    //     UE.getEditor('container').addListener("selectionchange", function () {
    //         changeElement('content');
    //     });
    //     var ue = UE.getEditor('container', {scaleEnabled: false});
</script>