{include file="common/header"/}
<div class="lemo-container">
    <div class="lemo-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{:lang('list')}</legend>
                <blockquote class="layui-elem-quote">
                    <div class="lemo-table">
                        <div class="layui-inline">
                            <input type="text" id='keys' name="keys" lay-verify="required" placeholder="{:lang('pleaseEnter')}" autocomplete="off" class="layui-input">

                        </div>
                        <button class="layui-btn data-add-btn layui-btn-sm" lay-submit="" lay-filter="search" id="search">{:lang('search')}</button>
                        <a data-href="{:url('addinfo',['cateid'=>$cate.id])}" class="layui-btn layui-btn-sm layui-btn-warm add">{:lang('add')} {:lang('content')}</a>

                    </div>
                </blockquote>
            </fieldset>
            <table class="layui-table layui-hide" id="list" lay-filter="list"></table>

        </div>
    </div>
</div>


<script type="text/html" id="action">
    <a data-href="{:url('addinfo')}?cateid={$cate.id}&id={{d.id}}" class="layui-btn  layui-btn-xs" lay-event="edit">{:lang('edit')}</a>
    <a  data-href="{:url('contentDel')}?id={{d.id}}&cateid={$cate.id}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>
<script type="text/html" id="status">
    <input data-href="{:url('contentState')}?id={{d.id}}&cateid={$cate.id}" type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="is_menu">
    <input type="checkbox" name="is_menu" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.is_menu == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="create_time">
    {{layui.util.toDateString(d.create_time*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>
<script type="text/html" id="update_time">
    {{layui.util.toDateString(d.update_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
{include file="common/footer"/}
<script>
    var tableIn= null;
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin: 'Admin'
    }).use(['element', 'layer', 'Admin'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        tableIn = table.render({
            elem: '#list',
            url: '{:url("",["cateid"=>$cate.id])}',
            method: 'post',
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', title: 'ID', width: 80,  sort: true},
                {field: 'title', title: '名称', width: 150,},
                {field: 'sort', title: '排序', width: 80, templet:'#link'},
                {field: 'hits', title: '点击', width: 80, templet:'#image'},
                {field: 'status', title: '状态', width: 100, templet:'#status'},
                {field: 'create_time', title: '添加时间', width: 180,templet:'#create_time'},
                {field: 'update_time', title: '修改时间', width: 180,templet:'#update_time'},
                {title:'操作',width:120, toolbar: '#action',align:"center"}

            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });


    });


</script>