{if $info}
<input type="hidden" name="id" value="{$info.id}">
{/if}
{volist name="fieldList" id="vo" }
{switch name="vo.type"}
{case value="cateid"}
<input type="hidden" class="layui-input" name="{$vo.field}"  value="{$cate.id}">
{/case}
{case value="hidden"}
{if $vo.value}<input type="hidden" class="layui-input" name="{$vo.field}"  value="{$vo.value}">{/if}
{/case}
{case value="text"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <input type="text"  lay-verify="{if $vo.required}required{/if}" name="{$vo.field}" placeholder="请输入{$vo.name}" autocomplete="off" class="layui-input" value="{$vo.value}">
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="tags"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <input type="text"  lay-verify="{if $vo.required}required{/if}" name="{$vo.field}" placeholder="请输入{$vo.name}" autocomplete="off" class="layui-input" value="{$vo.value}">
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="number"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if  $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <input type="number"  lay-verify="{if $vo.required}required{/if}" name="{$vo.field}" placeholder="请输入{$vo.name}" autocomplete="off" class="layui-input" value="{$vo.value}">
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="switch"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if  $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <input type="checkbox"  lay-verify="{if $vo.required}required{/if}"  name="{$vo.field}" lay-skin="switch" lay-text="ON|OFF" value="{$vo['value']}" {if 1==$vo[ 'value' ]}checked='' {/if}> </div> {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="array"}
<div class="layui-form-item ">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <textarea name="{$vo.field}"  lay-verify="{if $vo.required}required{/if}" placeholder="请输入{$vo.name}" class="layui-textarea">{$vo.value}</textarea>
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="checkbox"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        {volist name="vo.option" id="v"}
        <input type="checkbox"  lay-verify="{if $vo.required}required{/if}" name="{$vo.field}[]" lay-skin="primary" title="{$v}" value="{$key}" {if $key==$vo['value']}checked{/if}>
        {/volist}
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="radio"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        {volist name="vo.option" id="v"}
        <input type="radio" name="{$vo.field}"  lay-verify="{if $vo.required}required{/if}" value="{$key}" title="{$v}" {if $key==$vo['value']} checked='' {/if}>
        {/volist}
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="select"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <select name="{$vo.field}"  lay-verify="{if $vo.required}required{/if}">
            <option value=""></option>
            {volist name="vo.option" id="v"}
            <option value="{$key}" {if $key==$vo['value']} selected="" {/if}>{$v}</option>
            {/volist}
        </select>
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="color"}
<div class="layui-form-item">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <div class="layui-input-block" style="width: 120px;">
            <input type="text" name="{$vo.field}"  lay-verify="{if $vo.required}required{/if}" value="{$vo.value}" placeholder="请选择颜色" class="layui-input test-form-input-{$vo.name}">
        </div>
        <div class="layui-inline" style="left: -11px;">
            <div class="layui-color-box-{$vo.name}"></div>
        </div>
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
<script type="text/javascript">
layui.use('colorpicker', function(){
    var colorpicker = layui.colorpicker;
    colorpicker.render({
        elem: '.layui-color-box-{$vo.name}',
        color:'{$vo.value}',
        done: function(color){
            $('.test-form-input-{$vo.name}').val(color);
        }
    });
});
</script>
{/case}
{case value="datetime"}
{if $vo.field !="create_time" && $vo.field !="update_time"}
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">{$vo.name} {if  $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
        <div class="layui-input-block">
            <input type="text"  lay-verify="{if $vo.required}required{/if}" class="layui-input date-item" name="{$vo.field}" placeholder="请输入{$vo.name}" value="{$vo.value}">
        </div>
        {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
    </div>
</div>
{/if}
<script type="text/javascript">
layui.use(['laydate'], function() {
    var laydate = layui.laydate;
    lay('.date-item').each(function() {
        laydate.render({
            elem: this,
            trigger: 'click',
            type: 'datetime'
        });
    });

});
</script>
{/case}
{case value="textarea"}
<div class="layui-form-item ">
    <label class="layui-form-label">{$vo.name} {if  $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <textarea placeholder="请输入{$vo.name}" class="layui-textarea" name="{$vo.field}">{$vo.value}</textarea>
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}

{case value="image"}
<div class="layui-form-item ">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <div class="upload-image">
            <div id="file_list_{$vo.field}" class="uploader-list">
                {notempty name="$vo.value"}
                <div class="file-item thumbnail">
                    <img  src="{$vo.value}" width="100" style="max-height: 100px;">
                    <i class="iconfont icon-delete_fill remove-picture" data-id="{$vo.value}"></i>
                </div>
                {/notempty}
            </div>
            <input type="hidden" name="{$vo.field}" data-multiple="false"  data-size="{:getConfigByCode('upload_file_max')}" data-ext="gif,jpg,jpeg,bmp,png" data-watermark='' data-thumb=''  id="{$vo.field}" value="{$vo.value|default=''}">
            <div class="layui-clear"></div>
            <div id="picker_{$vo.field}" data-path="cms"><i class="layui-icon layui-icon-upload"></i> 上传单图</div>
        </div>
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="images"}
<div class="layui-form-item ">
    <label class="">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <div class="upload-images">
            <div id="file_list_{$vo.field}" class="uploader-list">
                {notempty name="$vo.value"}
                {volist name="$vo.value|explode=',',###" id="v"}
                <div class="file-item thumbnail">
                    <img src="{$v|getAttachPth}" width="100" style="max-height: 100px;">
                    <i class="iconfont icon-delete_fill remove-picture" data-id="{$v}"></i>
                    <i class="iconfont icon-yidong move-picture"></i>
                </div>
                {/volist}
                {/notempty}
            </div>
            <input type="hidden" name="{$vo.field}" data-multiple="true"  data-size="{:getConfigByCode('upload_file_max')}" data-ext="gif,jpg,jpeg,bmp,png"  data-watermark='' data-thumb=''   id="{$vo.field}" value="{$vo.value|default=''}">
            <div class="layui-clear"></div>
            <div id="picker_{$vo.field}" data-path="cms"><i class="layui-icon layui-icon-upload"></i> 多张图片</div>
        </div>
    </div>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}
</div>
{/case}
{case value="file"}
<div class="layui-form-item ">
    <label class="">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <div class="upload-file">
            <div id="file_list_{$vo.field}" class="uploader-list">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="150">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>文件名称</th>
                        <th>提示</th>
                        <th>进度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="file-box">
                    {notempty name="$vo.value"}
                    <tr class="file-item">
                        <td>{$vo.value|getAttachPth}</td>
                        <td>/</td>
                        <td>/</td>
                        <td><a href="{$vo.value|getAttachPth}" class="layui-btn download-file layui-btn layui-btn-xs">下载</a> <a href="javascript:;" class="layui-btn remove-file layui-btn layui-btn-xs layui-btn-danger">删除</a></td>
                    </tr>
                    {/notempty}
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="{$vo.field}" data-multiple="false"  data-size="{:getConfigByCode('upload_file_max')}" data-ext="gif,jpg,jpeg,bmp,png,pdf,doc,docx,txt,xls,xlsx,ppt,pptx,zip,mp3,mp4,text,csv"  data-watermark='' data-thumb=''   id="{$vo.field}" value="{$vo.value|default=''}">
            <div id="picker_{$vo.field}" data-path="cms"><i class="layui-icon layui-icon-upload"></i> 上传单个文件</div>
        </div>
    </div>
</div>
{/case}
{case value="files"}
<div class="layui-form-item ">
    <label class="">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    <div class="layui-input-block">
        <div class="upload-file">
            <div id="file_list_{$vo.field}" class="uploader-list">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="150">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>提示</th>
                        <th>进度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="file-box">
                    {notempty name="$vo.value"}
                    {volist name="$vo.value|explode=',',###" id="v"}
                    <tr class="file-item">
                        <td>{$v|getAttachPath}</td>
                        <td>/</td>
                        <td>/</td>
                        <td><a href="{$v|getAttachPath}" class="layui-btn download-file layui-btn layui-btn-xs">下载</a> <a href="javascript:void(0);" class="layui-btn remove-file layui-btn layui-btn-xs layui-btn-danger" data-id="{$v}">删除</a></td>
                    </tr>
                    {/volist}
                    {/notempty}
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="{$vo.field}" data-multiple="true"  data-size="{:getConfigByCode('upload_file_max')}" data-ext="gif,jpg,jpeg,bmp,png,pdf,doc,docx,txt,xls,xlsx,ppt,pptx,zip,mp3,mp4,text,csv"  data-watermark='' data-thumb=''  id="{$vo.field}" value="{$vo.value|default=''}">
            <div id="picker_{$vo.field}" data-path="cms"><i class="layui-icon layui-icon-upload"></i> 上传多个文件</div>
        </div>
    </div>
</div>
{/case}
{case value="editor"}
<div class="layui-form-item ">
    <label class="layui-form-label">{$vo.name} {if $vo.required}&nbsp;<font color="red">*</font>{/if}</label>
    {if $vo.msg}<div class="layui-form-mid layui-word-aux">{$vo.msg|raw}</div>{/if}

</div>
<script id="container" name="{$vo.field}" type="text/plain"></script>
{$ueditor|raw}
{/case}
{/switch}

{/volist}
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/static/addons/cms/backend/webuploader/webuploader.css">
<script type="text/javascript" src="/static/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<!--引入JS-->
<script type="text/javascript" src="/static/addons/cms/backend/webuploader/webuploader.js"></script>
<script>
    var layer = '';
    layui.use(['layer'],function (res) {
      layer = layui.layer;
      var $ = layui.jquery;
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function (action) {
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return '{:url("sys.uploads/uploads")}?type=image&path=cms';
            } else if (action == 'uploadvideo') {
                return '{:url("sys.uploads/uploads")}?type=video&path=cms';
            }else if(action == 'uploadvoice'){
                return '{:url("sys.uploads/uploads")}?type=voice&path=cms'
            }else if (action == 'listimage') {
                return  '{:url("sys.uploads/getList")}?type=image&path=cms';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        };
        UE.getEditor('container').addListener("selectionchange", function () {
            changeElement('content');
        });
        var ue = UE.getEditor('container', {scaleEnabled: false});

    })
    $(function() {
        // 文件上传集合
        var webuploader = [];
        // 当前上传对象
        var curr_uploader = {};
        var swf = '/static/addons/cms/backend/webuploader/Uploader.swf';
        var server = '{:url("admin/sys.uploads/uploads")}?path=cms';
        // 多文件上传
        $('.upload-file,.upload-files').each(function() {

            var input_file = $(this).find('input');
            var input_file_name = input_file.attr('id');
            // 是否多文件上传
            var multiple = input_file.data('multiple');
            // 允许上传的后缀
            var ext = input_file.data('ext');
            // 文件限制大小
            var size = input_file.data('size')*1024*1024;
            // 文件列表
            var file_list = $('#file_list_' + input_file_name);
            // 实例化上传
            var uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // 去重
                duplicate: true,
                // swf文件路径
                swf: swf,
                // 文件接收服务端。
                server: server,
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: {
                    id: '#picker_' + input_file_name,
                    multiple: multiple
                },
                // 文件限制大小
                fileSingleSizeLimit: size,
                // 只允许选择文件文件。
                accept: {
                    title: 'Files',
                    extensions: ext
                }
            });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function(file) {
                var $li = '<tr id="' + file.id + '" class="file-item"><td>' + file.name + '</td>' +
                    '<td class="file-state">正在获取文件信息...</td>' +
                    '<td>' +
                    '<div class="layui-progress">' +
                    '<div class="layui-progress-bar" lay-percent="0%"></div>' +
                    '</div>' +
                    '</td>' +
                    '<td>' +
                    '<a target="_blank" href="javascript:;" class="layui-btn download-file layui-btn layui-btn-xs">下载</a> ' +
                    '<a href="javascript:void(0);" class="layui-btn remove-file layui-btn layui-btn-xs layui-btn-danger">删除</a>' +
                    '</td>' +
                    '</tr>';

                if (multiple) {
                    file_list.find('.file-box').append($li);
                } else {
                    file_list.find('.file-box').html($li);
                    // 清空原来的数据
                    input_file.val('');
                }
                // 设置当前上传对象
                curr_uploader = uploader;
            });

            // 文件上传成功
            uploader.on('uploadSuccess', function(file, res) {
                var $li = $('#' + file.id);
                if (res.code == 1) {
                    if (multiple) {
                        if (input_file.val()) {
                            input_file.val(input_file.val() + ',' + res.id);
                        } else {
                            input_file.val(res.id);
                        }
                        $li.find('.remove-file').attr('data-id', res.id);
                    } else {
                        input_file.val(res.id);
                    }
                }
                // 加入提示信息
                $li.find('.file-state').html('<span class="text-success">' + res.msg + '</span>');
                // 添加下载链接
                $li.find('.download-file').attr('href', res.url);
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function(file, percentage) {
                var $percent = $('#' + file.id).find('.layui-progress-bar');
                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传失败，显示上传出错。
            uploader.on('uploadError', function(file) {
                var $li = $('#' + file.id);
                $li.find('.file-state').html('<span class="text-danger">服务器发生错误~</span>');
            });

            // 文件验证不通过
            uploader.on('error', function(type) {
                switch (type) {
                    case 'Q_TYPE_DENIED':
                        layer.alert('图片类型不正确，只允许上传后缀名为：' + ext + '，请重新上传！', { icon: 5 })
                        break;
                    case 'F_EXCEED_SIZE':
                        layer.alert('图片不得超过' + (size/1024) + 'kb，请重新上传！', { icon: 5 })
                        break;
                }
            });
            // 删除文件
            file_list.delegate('.remove-file', 'click', function() {
                if (multiple) {
                    var id = $(this).data('id'),
                        ids = input_file.val().split(',');

                    if (id) {
                        for (var i = 0; i < ids.length; i++) {
                            if (ids[i] == id) {
                                ids.splice(i, 1);
                                break;
                            }
                        }
                        input_file.val(ids.join(','));
                    }
                } else {
                    input_file.val('');
                }
                $(this).closest('.file-item').remove();
            });
            // 将上传实例存起来
            webuploader.push(uploader);
        });

        //图片上传
        $('.upload-image,.upload-images').each(function() {
            var input_file = $(this).find('input');
            var input_file_name = input_file.attr('id');
            // 图片列表
            var file_list = $('#file_list_' + input_file_name);
            // 缩略图参数
            var thumb = input_file.data('thumb');
            // 水印参数
            var watermark = input_file.data('watermark');
            // 是否多图片上传
            var multiple = input_file.data('multiple');
            // 允许上传的后缀
            var ext = input_file.data('ext');
            // 图片限制大小
            var size = input_file.data('size')*1024*1024;
            // 优化retina, 在retina下这个值是2
            var retina = window.devicePixelRatio || 1;
            // 缩略图大小
            var thumbnailWidth = 100 * retina;
            var thumbnailHeight = 100 * retina;
            var uploader = WebUploader.create({
                // 选完图片后，是否自动上传。
                auto: true,
                // 去重
                duplicate: true,
                // 不压缩图片
                resize: false,
                compress: false,
                // swf文件路径
                swf: swf,
                pick: {
                    id: '#picker_' + input_file_name,
                    multiple: multiple
                },
                server:server,
                // 图片限制大小
                fileSingleSizeLimit: size,
                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: ext,
                    mimeTypes: 'image/*'
                },
                // 自定义参数
                formData: {
                    thumb: thumb,
                    watermark: watermark
                }

            })
            //console.log(uploader);
            // 当有文件添加进来的时候
            uploader.on('fileQueued', function(file) {
                var $li = $(
                    '<div id="' + file.id + '" class="file-item js-gallery thumbnail" style="display: inline-grid">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                    '<i class="iconfont icon-delete_fill remove-picture"></i>' +
                    (multiple ? '<i class="iconfont icon-yidong move-picture"></i>' : '') +
                    '<div class="progress progress-mini remove-margin active">' +
                    '<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>' +
                    '</div>' +
                    '<div class="file-state img-state"><div class="layui-bg-orange">正在上传...</div>' +
                    '</div>'
                    ),
                    $img = $li.find('img');
                if (multiple) {
                    file_list.append($li);
                } else {
                    file_list.html($li);
                    input_file.val('');
                }
                // 创建缩略图
                // 如果为非图片文件，可以不用调用此方法。
                // thumbnailWidth x thumbnailHeight 为 100 x 100
                uploader.makeThumb(file, function(error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }
                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);
                // 设置当前上传对象
                curr_uploader = uploader;
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function(file, percentage) {
                var $percent = $('#' + file.id).find('.progress-bar');
                //console.log($percent);
                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传成功
            uploader.on('uploadSuccess', function(file, res) {
                var $li = $('#' + file.id);
                if (res.code >0) {
                    if (multiple) {
                        if (input_file.val()) {
                            input_file.val(input_file.val() + ',' + res.id);
                        } else {
                            input_file.val(res.id);
                        }
                        $li.find('.remove-picture').attr('data-id', res.id);
                    } else {
                        input_file.val(res.url);
                    }
                }
                $li.find('.file-state').html('<div class="layui-bg-green">' + res.msg + '</div>');
                $li.find('img').attr('data-original', res.url);
                // 上传成功后，再次初始化图片查看功能
                //Dolphin.viewer();
            });

            // 文件上传失败，显示上传出错。
            uploader.on('uploadError', function(file) {
                var $li = $('#' + file.id);
                $li.find('.file-state').html('<div class="layui-bg-red">服务器内部错误</div>');
            });

            // 文件验证不通过
            uploader.on('error', function(type) {
                switch (type) {
                    case 'Q_TYPE_DENIED':
                        layer.alert('图片类型不正确，只允许上传后缀名为：' + ext + '，请重新上传！', { icon: 5 })
                        break;
                    case 'F_EXCEED_SIZE':
                        layer.alert('图片不得超过' + (size/1024) + 'kb，请重新上传！', { icon: 5 })
                        break;
                }
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on('uploadComplete', function(file) {
                setTimeout(function() {
                    $('#' + file.id).find('.progress').remove();
                }, 500);

            });

            // 删除图片
            file_list.delegate('.remove-picture', 'click', function() {
                $(this).closest('.file-item').remove();
                if (multiple) {
                    var ids = [];
                    file_list.find('.remove-picture').each(function() {
                        ids.push($(this).data('id'));
                    });
                    input_file.val(ids.join(','));
                } else {
                    input_file.val('');
                }
                // 删除后，再次初始化图片查看功能
                //Dolphin.viewer();
            });

            // 将上传实例存起来
            webuploader.push(uploader);
            // 如果是多图上传，则实例化拖拽
            if (multiple) {
                Sortable.create(file_list.get(0), {
                    group: "file_list",
                    handle: '.move-picture',
                    animation: 150,
                    ghostClass: "sortable-ghost",
                    onEnd: function(evt) {
                        var ids = [];
                        file_list.find('.remove-picture').each(function() {
                            ids.push($(this).data('id'));
                        });
                        input_file.val(ids.join(','));
                    }
                });
            }
        });
    });
</script>
