<meta property="og:keywords" content="FunAdmin Layui ThinkPHP6 Requirejs 管理框架" />
<meta property="og:description" content="FunAdmin是一款基于ThinkPHP6+Layui的敏捷后台开发框架" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no"> <meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="__CDN____PLUGINS__/layui/css/layui.css" />
<script src="__CDN____PLUGINS__/layui/layui.js" v="2.7.2" e="layui"></script>
<script type="text/javascript" src="/static/plugins/jquery/jquery-3.6.0.min.js"></script>
{include file="index/css"}