{if !empty($formLink)}
{$formLink|raw}
{/if}
{if !empty($formStyle)}
{$formStyle|raw}
{/if}
{if !empty($formJs)}
{$formJs|raw}
{/if}

<form class="layui-form" lay-filter="form">
    {if(empty($formHtml))}
    {$formHtml|raw}
    {/if}
</form>


<script>
    var formArray = {:json_encode($formData)};
    var tableOptions         = {:json_encode($tableOptions)};
    var requests        = {:json_encode($requests)};
    var data            = {:json_encode($data)};
    var extraJs         = `{:empty($extraJs)?"":$extraJs}`;
</script>
